{%- comment -%}
  Card Product Snippet
  Usage: {% render 'card-product', product: product, style: 'style-center' %}
{%- endcomment -%}

{%- assign global_style = settings.card_product_style -%}
{%- assign style = style | default: global_style -%}

{%- if style == 'style-2' -%}
{%- comment -%}Feature Section Layout{%- endcomment -%}
<div class="card-product {{ class }} style-2 {% unless product.available %}out-of-stock{% endunless %}" data-availability="{{ product.available | default: 'In stock' }}" data-brand="{{ product.vendor }}">
  <div class="card-product-wrapper asp-ratio-1 {% if style == 'line-2' %}line-2{% endif %}">
    <a href="{{ product.url }}" class="product-img">
      {%- if product.featured_image != blank -%}
        {{ product.featured_image | image_url: width: 400 | image_tag:
          loading: 'lazy',
          class: 'img-product lazyloaded',
          alt: product.title
        }}
        {%- if product.images[1] != blank -%}
          {{ product.images[1] | image_url: width: 400 | image_tag:
            loading: 'lazy',
            class: 'img-hover lazyloaded',
            alt: product.title
          }}
        {%- endif -%}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>

    {%- if product.compare_at_price > product.price or product.tags contains 'trending' -%}
      <div class="on-sale-wrap {% if product.compare_at_price > product.price and product.tags contains 'trending' %}flex-column type-2{% endif %}">
        {%- if product.compare_at_price > product.price -%}
          {%- assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
          <span class="on-sale-item">{{ discount_percentage }}% Off</span>
        {%- endif -%}
        {%- if product.tags contains 'trending' -%}
          <span class="on-sale-item trending">{{ 'products.card.trending' | t }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if product.tags contains 'countdown' -%}
      <div class="countdown-box">
        <div class="js-countdown" data-timer="{{ countdown_timer | default: '46556' }}" data-labels="D  :,H  :,M  :,S"></div>
      </div>
    {%- endif -%}

    {%- if product.available -%}
    <ul class="list-product-btn">
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip add-to-cart" 
           data-variant-id="{{ product.variants.first.id }}"
           data-quantity="1"
           aria-label="{{ 'products.card.add_to_cart' | t }}">
          <i class="icon icon-cart"></i>
          <span class="tooltip">{{ 'products.card.add_to_cart' | t }}</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip" 
           data-wishlist 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_wishlist' | t }}">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_wishlist' | t }}</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip quickview" 
           data-product-handle="{{ product.handle }}"
           data-product-id="{{ product.id }}"
           data-bs-toggle="modal" 
           data-bs-target="#quickView">
          <span class="icon icon-view"></span>
          <span class="tooltip">{{ 'products.card.quick_view' | t }}</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip" 
           data-compare 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_compare' | t }}">
          <span class="icon icon-compare"></span>
          <span class="tooltip">{{ 'products.card.add_to_compare' | t }}</span>
        </a>
      </li>
    </ul>
    {%- endif -%}
  </div>

  <div class="card-product-info {{ product-info }}">
    {%- if product.vendor != blank -%}
      <p class="type text-xs text-dark fw-medium">{{ product.vendor }}</p>
    {%- endif -%}
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-new text-primary">{{ product.price | money }}</span>
        <span class="price-old text-dark">{{ product.compare_at_price | money }}</span>
      {%- else -%}
        <span class="price-new">{{ product.price | money }}</span>
      {%- endif -%}
    </p>

    {%- if show_color_swatches and product.variants.size > 1 and product.options contains 'Color' -%}
      <ul class="list-color-product {% if product-info == 'text-center' %}justify-content-center{% else %}{{ text_alignment | default: 'text-left' | replace: 'text-', 'justify-content-' }}{% endif %}">
        {%- for option in product.options_with_values -%}
          {%- if option.name == 'Color' -%}
            {%- for value in option.values -%}
              {%- assign variant = product.variants | where: 'option1', value | first -%}
              <li class="list-color-item color-swatch hover-tooltip tooltip-bot {% if value == 'White' %}line{% endif %} {% if forloop.first %}active{% endif %}"
                  data-variant-id="{{ variant.id }}"
                  data-option-name="{{ option.name }}"
                  data-option-value="{{ value | escape }}"
                  {%- if variant.featured_image != blank -%}
                    data-variant-image="{{ variant.featured_image | image_url: width: 400 }}"
                  {%- endif -%}>
                <span class="tooltip color-filter">{{ value }}</span>
                <span class="swatch-value bg-{{ value | handleize }}"></span>
                {%- if variant.featured_image != blank -%}
                  {{ variant.featured_image | image_url: width: 100 | image_tag:
                    loading: 'lazy',
                    class: 'lazyload',
                    alt: value
                  }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
{%- elsif style == 'style-hot-deals' -%}
{%- comment -%}Hot Deals Layout{%- endcomment -%}
<div class="card-product {{ class }} style-center {% unless product.available %}out-of-stock{% endunless %}" data-availability="{{ product.available | default: 'In stock' }}" data-brand="{{ product.vendor }}">
  <div class="card-product-wrapper asp-ratio-1 {% if style == 'line-2' %}line-2{% endif %}">
    <a href="{{ product.url }}" class="product-img">
      {%- if product.featured_image != blank -%}
        {{ product.featured_image | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: product.featured_image.width,
          height: product.featured_image.height,
          class: 'img-product',
          alt: product.title
        }}
        {%- if product.images[1] != blank -%}
          {{ product.images[1] | image_url: width: 400 | image_tag:
            loading: 'lazy',
            width: product.images[1].width,
            height: product.images[1].height,
            class: 'img-hover',
            alt: product.title
          }}
        {%- endif -%}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>

    {%- if product.compare_at_price > product.price or product.tags contains 'trending' -%}
      <div class="on-sale-wrap {% if product.compare_at_price > product.price and product.tags contains 'trending' %}flex-column type-2{% endif %}">
        {%- if product.compare_at_price > product.price -%}
          {%- assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
          <span class="on-sale-item">{{ discount_percentage }}% Off</span>
        {%- endif -%}
        {%- if product.tags contains 'trending' -%}
          <span class="on-sale-item trending">{{ 'products.card.trending' | t }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if product.available -%}
    <ul class="list-product-btn">
      <li>
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip box-icon add-to-cart" 
           data-variant-id="{{ product.variants.first.id }}"
           data-quantity="1"
           aria-label="{{ 'products.card.add_to_cart' | t }}">
          <span class="icon icon-cart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_cart' | t }}</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip box-icon" 
           data-wishlist 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_wishlist' | t }}">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_wishlist' | t }}</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip box-icon quickview" 
           data-product-handle="{{ product.handle }}"
           data-product-id="{{ product.id }}"
           data-bs-toggle="modal" 
           data-bs-target="#quickView">
          <span class="icon icon-view"></span>
          <span class="tooltip">{{ 'products.card.quick_view' | t }}</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip box-icon" 
           data-compare 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_compare' | t }}">
          <span class="icon icon-compare"></span>
          <span class="tooltip">{{ 'products.card.add_to_compare' | t }}</span>
        </a>
      </li>
    </ul>
    {%- endif -%}

    {%- if product.tags contains 'countdown' -%}
      <div class="countdown-box style-2">
        <div class="js-countdown" data-timer="{{ product.metafields.countdown.end_date | date: '%s' }}" data-labels="D  :,H  :,M  :,S"></div>
      </div>
    {%- endif -%}
  </div>

  <div class="card-product-info text-center">
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-new text-primary">{{ product.price | money }}</span>
        <span class="price-old old-line">{{ product.compare_at_price | money }}</span>
      {%- else -%}
        <span class="price-new">{{ product.price | money }}</span>
      {%- endif -%}
    </p>

    {%- if product.variants.size > 1 and product.options contains 'Color' -%}
      <ul class="list-color-product justify-content-center">
        {%- for option in product.options_with_values -%}
          {%- if option.name == 'Color' -%}
            {%- for value in option.values -%}
              {%- assign variant = product.variants | where: 'option1', value | first -%}
              <li class="list-color-item color-swatch hover-tooltip tooltip-bot {% if value == 'White' %}line{% endif %} {% if forloop.first %}active{% endif %}"
                  data-variant-id="{{ variant.id }}"
                  data-option-name="{{ option.name }}"
                  data-option-value="{{ value | escape }}"
                  {%- if variant.featured_image != blank -%}
                    data-variant-image="{{ variant.featured_image | image_url: width: 400 }}"
                  {%- endif -%}>
                <span class="tooltip">{{ value }}</span>
                <span class="swatch-value bg-{{ value | handleize }}"></span>
                {%- if variant.featured_image != blank -%}
                  {{ variant.featured_image | image_url: width: 100 | image_tag:
                    loading: 'lazy',
                    class: 'lazyload',
                    alt: value,
                    width: 50,
                    height: 50
                  }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- if show_progress_bar and product.available -%}
      <div class="product-progress-sale">
        <div class="progress-sold progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar {% if available_quantity < 10 %}bg-red-3{% elsif available_quantity < 30 %}bg-orange-3{% else %}bg-green-2{% endif %}" 
            style="width: {{ sold_percentage | default: 50 }}%"></div>
        </div>
        <p class="text-avaiable text-sm">{{ 'products.card.available' | t }}: <span class="fw-medium {% if available_quantity < 10 %}text-red-2{% elsif available_quantity < 30 %}text-orange-3{% else %}text-success-5{% endif %}">{{ available_quantity | default: 50 }}</span></p>
      </div>
    {%- endif -%}
  </div>
</div>
{%- elsif style == 'style-phonecase' -%}
<div class="card-product style-4">
  <div class="card-product-wrapper radius-16 line-2 asp-ratio-1">
    <a href="{{ product.url }}" class="product-img">
      {%- if product.featured_image -%}
        <img class="img-product lazyload"
          data-src="{{ product.featured_image | image_url }}"
          src="{{ product.featured_image | image_url }}" 
          alt="{{ product.featured_image.alt | escape }}"
          width="400"
          height="400">
        {%- if product.images.size > 1 -%}
          <img class="img-hover lazyload"
            data-src="{{ product.images[1] | image_url }}"
            src="{{ product.images[1] | image_url }}" 
            alt="{{ product.images[1].alt | escape }}"
            width="400"
            height="400">
        {%- else -%}
          <img class="img-hover lazyload"
            data-src="{{ product.featured_image | image_url }}"
            src="{{ product.featured_image | image_url }}" 
            alt="{{ product.featured_image.alt | escape }}"
            width="400"
            height="400">
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if product.compare_at_price > product.price or product.tags contains 'trending' -%}
      <div class="on-sale-wrap {% if product.compare_at_price > product.price and product.tags contains 'trending' %}flex-column type-2{% endif %}">
        {%- if product.compare_at_price > product.price -%}
          {%- assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
          <span class="on-sale-item">{{ discount_percentage }}% Off</span>
        {%- endif -%}
        {%- if product.tags contains 'trending' -%}
          <span class="on-sale-item trending">{{ 'products.card.trending' | t }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if product.available -%}
    <ul class="list-product-btn">
      <li>
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip tooltip-left box-icon add-to-cart" 
           data-variant-id="{{ product.variants.first.id }}"
           data-quantity="1"
           aria-label="{{ 'products.card.add_to_cart' | t }}">
          <span class="icon icon-cart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_cart' | t }}</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip tooltip-left box-icon" 
           data-wishlist 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_wishlist' | t }}">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_wishlist' | t }}</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip tooltip-left box-icon quickview" 
           data-product-handle="{{ product.handle }}"
           data-product-id="{{ product.id }}"
           data-bs-toggle="modal" 
           data-bs-target="#quickView">
          <span class="icon icon-view"></span>
          <span class="tooltip">{{ 'products.card.quick_view' | t }}</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" 
           class="bg-surface hover-tooltip tooltip-left box-icon" 
           data-compare 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_compare' | t }}">
          <span class="icon icon-compare"></span>
          <span class="tooltip">{{ 'products.card.add_to_compare' | t }}</span>
        </a>
      </li>
    </ul>
    {%- endif -%}
  </div>
  <div class="card-product-info text-center">
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-new text-primary">{{ product.price | money }}</span>
        <span class="price-old">{{ product.compare_at_price | money }}</span>
      {%- else -%}
        <span class="price-new">{{ product.price | money }}</span>
      {%- endif -%}
    </p>
    {%- if show_color_swatches or show_case_type -%}
      <ul class="list-color-product list-capacity-product justify-content-center">
        {%- if show_color_swatches -%}
          {%- for option in product.options_with_values -%}
            {%- if option.name == 'Color' or option.name == 'Colour' -%}
              {%- for value in option.values -%}
                <li class="list-color-item color-swatch">
                  <span class="text-quantity font-2">{{ value }}</span>
                  <img class="lazyload" 
                    data-src="{{ product.featured_image | image_url }}"
                    src="{{ product.featured_image | image_url }}" 
                    alt="{{ value }}"
                    width="50"
                    height="50">
                </li>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if show_case_type -%}
          {%- for option in product.options_with_values -%}
              {%- for value in option.values -%}
                <li class="list-color-item color-swatch">
                  <span class="text-quantity font-2">{{ value }}</span>
                  <img class="lazyload" 
                    data-src="{{ product.featured_image | image_url }}"
                    src="{{ product.featured_image | image_url }}" 
                    alt="{{ value }}"
                    width="50"
                    height="50">
                </li>
              {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
      </ul>
    {%- endif -%}
  </div>
</div>
{%- elsif style == 'style-3' -%}
{%- comment -%}Search Drawer Layout{%- endcomment -%}
<div class="card-product {{ class }} style-3 {% unless product.available %}out-of-stock{% endunless %}" data-availability="{{ product.available | default: 'In stock' }}" data-brand="{{ product.vendor }}">
  <div class="card-product-wrapper asp-ratio-1 {% if style == 'line-2' %}line-2{% endif %}">
    <a href="{{ product.url }}" class="product-img">
      {%- if product.featured_image != blank -%}
        {{ product.featured_image | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: product.featured_image.width,
          height: product.featured_image.height,
          class: 'img-product',
          alt: product.title
        }}
        {%- if product.images[1] != blank -%}
          {{ product.images[1] | image_url: width: 400 | image_tag:
            loading: 'lazy',
            width: product.images[1].width,
            height: product.images[1].height,
            class: 'img-hover',
            alt: product.title
          }}
        {%- endif -%}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>

    {%- if product.available -%}
    <ul class="list-product-btn">
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip add-to-cart" 
           data-variant-id="{{ product.variants.first.id }}"
           data-quantity="1"
           aria-label="{{ 'products.card.add_to_cart' | t }}">
          <i class="icon icon-cart"></i>
          <span class="tooltip">{{ 'products.card.add_to_cart' | t }}</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip" 
           data-wishlist 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_wishlist' | t }}">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_wishlist' | t }}</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip quickview" 
           data-product-handle="{{ product.handle }}"
           data-product-id="{{ product.id }}"
           data-bs-toggle="modal" 
           data-bs-target="#quickView">
          <span class="icon icon-view"></span>
          <span class="tooltip">{{ 'products.card.quick_view' | t }}</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip" 
           data-compare 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_compare' | t }}">
          <span class="icon icon-compare"></span>
          <span class="tooltip">{{ 'products.card.add_to_compare' | t }}</span>
        </a>
      </li>
    </ul>
    {%- endif -%}
    <div class="product-btn-main">
      <a class="btn-main-product add-to-cart" 
              data-variant-id="{{ product.variants.first.id }}"
              data-quantity="1"
              aria-label="{{ 'products.card.add_to_cart' | t }}">
        <span class="icon icon-cart2"></span>
        <span class="text-md fw-medium">{{ 'products.card.add_to_cart' | t }}</span>
      </a>
    </div>
    {%- if product.variants.size > 1 -%}
      <ul class="size-box">
        {%- for variant in product.variants -%}
          {%- if variant.option1 != blank -%}
            <li class="size-item text-xs text-white">{{ variant.option1 }}</li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
  <div class="card-product-info {{ product-info }}">
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      <span class="price-new text-primary">{{ product.price | money }}</span>
      {%- if product.compare_at_price > product.price -%}
        <span class="price-old">{{ product.compare_at_price | money }}</span>
      {%- endif -%}
    </p>
    {%- if product.variants.size > 1 -%}
      <ul class="list-color-product {% if product-info == 'text-center' %}justify-content-center{% else %}{{ text_alignment | default: 'text-left' | replace: 'text-', 'justify-content-' }}{% endif %}">
        {%- for variant in product.variants -%}
          {%- if variant.option2 != blank -%}
            <li class="list-color-item color-swatch hover-tooltip tooltip-bot {% if variant.option2 == 'White' %}line{% endif %} {% if forloop.first %}active{% endif %}">
              <span class="tooltip color-filter">{{ variant.option2 }}</span>
              <span class="swatch-value bg-{{ variant.option2 | handle }}"></span>
              <img class="lazyload" data-src="{{ variant.image | image_url: width: 300, height: 300 }}" src="{{ variant.image | image_url: width: 300, height: 300 }}" alt="{{ variant.title | escape }}" width="300" height="300">
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
{%- else -%}
{%- comment -%}Default Layout{%- endcomment -%}
<div class="card-product {{ class }} {% if style == 'list' %}style-list{% elsif style == 'style-center' %}style-center{% else %}style-{{ style | default: 1 }}{% endif %} {% unless product.available %}out-of-stock{% endunless %}" data-availability="{{ product.available | default: 'In stock' }}" data-brand="{{ product.vendor }}">
  <div class="card-product-wrapper asp-ratio-1 {% if style == 'line-2' %}line-2{% endif %}">
    <a href="{{ product.url }}" class="product-img">
      {%- if product.featured_image != blank -%}
        {{ product.featured_image | image_url: width: 400 | image_tag:
          loading: 'lazy',
          width: product.featured_image.width,
          height: product.featured_image.height,
          class: 'img-product ls-is-cached lazyloaded',
          alt: product.title
        }}
        {%- if product.images[1] != blank -%}
          {{ product.images[1] | image_url: width: 400 | image_tag:
            loading: 'lazy',
            width: product.images[1].width,
            height: product.images[1].height,
            class: 'img-hover ls-is-cached lazyloaded',
            alt: product.title
          }}
        {%- endif -%}
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>

    {%- if product.compare_at_price > product.price or product.tags contains 'trending' -%}
      <div class="on-sale-wrap {% if product.compare_at_price > product.price and product.tags contains 'trending' %}flex-column type-2{% endif %}">
        {%- if product.compare_at_price > product.price -%}
          {%- assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
          <span class="on-sale-item">{{ discount_percentage }}% Off</span>
        {%- endif -%}
        {%- if product.tags contains 'trending' -%}
          <span class="on-sale-item trending">{{ 'products.card.trending' | t }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if product.tags contains 'countdown' -%}
      <div class="countdown-box">
        <div class="js-countdown" data-timer="{{ countdown_timer | default: '46556' }}" data-labels="D  :,H  :,M  :,S"></div>
      </div>
    {%- endif -%}

    {%- if product.available -%}
    <ul class="list-product-btn">
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip tooltip-left add-to-cart" 
           data-variant-id="{{ product.variants.first.id }}"
           data-quantity="1"
           aria-label="{{ 'products.card.add_to_cart' | t }}">
          <i class="icon icon-cart"></i>
          <span class="tooltip">{{ 'products.card.add_to_cart' | t }}</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip tooltip-left" 
           data-wishlist 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_wishlist' | t }}">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">{{ 'products.card.add_to_wishlist' | t }}</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip tooltip-left quickview" 
           data-product-handle="{{ product.handle }}"
           data-product-id="{{ product.id }}"
           data-bs-toggle="modal" 
           data-bs-target="#quickView">
          <span class="icon icon-view"></span>
          <span class="tooltip">{{ 'products.card.quick_view' | t }}</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" 
           class="box-icon hover-tooltip tooltip-left" 
           data-compare 
           data-id="{{ product.id }}" 
           data-action="add"
           aria-label="{{ 'products.card.add_to_compare' | t }}">
          <span class="icon icon-compare"></span>
          <span class="tooltip">{{ 'products.card.add_to_compare' | t }}</span>
        </a>
      </li>
    </ul>
    {%- endif -%}

    {%- if product.variants.size > 1 and product.options contains 'Size' -%}
      <ul class="size-box">
        {%- for option in product.options_with_values -%}
          {%- if option.name == 'Size' -%}
            {%- for value in option.values -%}
              <li class="size-item text-xs text-white">{{ value }}</li>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  <div class="card-product-info {{ product-info }}">
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-new text-primary">{{ product.price | money }}</span>
        <span class="price-old">{{ product.compare_at_price | money }}</span>
      {%- else -%}
        <span class="price-new">{{ product.price | money }}</span>
      {%- endif -%}
    </p>

    {%- if show_color_swatches and product.variants.size > 1 and product.options contains 'Color' -%}
      <ul class="list-color-product {% if product-info == 'text-center' %}justify-content-center{% else %}{{ text_alignment | default: 'text-left' | replace: 'text-', 'justify-content-' }}{% endif %}">
        {%- for option in product.options_with_values -%}
          {%- if option.name == 'Color' -%}
            {%- for value in option.values -%}
              {%- assign variant = product.variants | where: 'option1', value | first -%}
              <li class="list-color-item color-swatch hover-tooltip tooltip-bot {% if value == 'White' %}line{% endif %} {% if forloop.first %}active{% endif %}"
                  data-variant-id="{{ variant.id }}"
                  data-option-name="{{ option.name }}"
                  data-option-value="{{ value | escape }}"
                  {%- if variant.featured_image != blank -%}
                    data-variant-image="{{ variant.featured_image | image_url: width: 400 }}"
                  {%- endif -%}>
                <span class="tooltip color-filter">{{ value }}</span>
                <span class="swatch-value bg-{{ value | handleize }}"></span>
                {%- if variant.featured_image != blank -%}
                  {{ variant.featured_image | image_url: width: 100 | image_tag:
                    loading: 'lazy',
                    class: 'lazyload',
                    alt: value
                  }}
                {%- endif -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
{%- endif -%}