{%- comment -%}
  Card Product Snippet
  Usage: {% render 'card-product', product: product %}
{%- endcomment -%}

<div class="card-product {% if product.available == false %}out-of-stock{% endif %} {% if product.variants.size > 0 %}card-product-size{% endif %}"
  data-product-id="{{ product.id }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url }}"
  data-product-image="{{ product.featured_image | img_url: '400x' }}"
  data-product-price="{{ product.price | money }}"
  {% if product.compare_at_price > product.price %}
    data-product-compare-price="{{ product.compare_at_price | money }}"
  {% endif %}>
  <div class="card-product-wrapper">
    <a href="{{ product.url }}" class="product-img">
      <img class="img-product lazyload"
        data-src="{{ product.featured_image | img_url: 'master' }}"
        src="{{ product.featured_image | img_url: 'master' }}"
        alt="{{ product.title | escape }}">
      {%- if product.images[1] != blank -%}
        <img class="img-hover lazyload"
          data-src="{{ product.images[1] | img_url: 'master' }}"
          src="{{ product.images[1] | img_url: 'master' }}"
          alt="{{ product.title | escape }}">
      {%- endif -%}
    </a>
    {%- if product.compare_at_price > product.price -%}
      <div class="on-sale-wrap">
        <span class="on-sale-item">{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}% Off</span>
      </div>
    {%- endif -%}
    <ul class="list-product-btn">
      <li>
        <a href="#shoppingCart" data-bs-toggle="offcanvas" class="box-icon hover-tooltip tooltip-left">
          <span class="icon icon-cart2"></span>
          <span class="tooltip">Add to Cart</span>
        </a>
      </li>
      <li class="wishlist">
        <a href="javascript:void(0);" class="box-icon hover-tooltip tooltip-left" data-wishlist data-id="{{ product.id }}" data-action="add">
          <span class="icon icon-heart2"></span>
          <span class="tooltip">Add to Wishlist</span>
        </a>
      </li>
      <li>
        <a href="#quickView" data-bs-toggle="modal" class="box-icon hover-tooltip tooltip-left quickview">
          <span class="icon icon-view"></span>
          <span class="tooltip">Quick View</span>
        </a>
      </li>
      <li class="compare">
        <a href="javascript:void(0);" class="box-icon hover-tooltip tooltip-left" data-compare data-id="{{ product.id }}" data-action="add">
          <span class="icon icon-compare"></span>
          <span class="tooltip">Add to Compare</span>
        </a>
      </li>
    </ul>
    {%- if product.variants.size > 0 -%}
      <ul class="size-box">
        {%- for variant in product.variants -%}
          {%- if variant.option1 contains 'Size' -%}
            <li class="size-item text-xs text-white">{{ variant.option1 }}</li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
  <div class="card-product-info">
    <a href="{{ product.url }}" class="name-product link fw-medium text-md">{{ product.title }}</a>
    <p class="price-wrap fw-medium">
      {%- if product.compare_at_price > product.price -%}
        <span class="price-new text-primary">{{ product.price | money }}</span>
        <span class="price-old text-dark">{{ product.compare_at_price | money }}</span>
      {%- else -%}
        <span class="price-new">{{ product.price | money }}</span>
      {%- endif -%}
    </p>
    {%- if product.variants.size > 0 -%}
      <ul class="list-color-product">
        {%- for variant in product.variants -%}
          {%- if variant.option1 contains 'Color' -%}
            <li class="list-color-item color-swatch hover-tooltip tooltip-left {% if forloop.first %}active{% endif %} {% if variant.option1 == 'White' %}line{% endif %}">
              <span class="tooltip color-filter">{{ variant.option1 }}</span>
              <span class="swatch-value bg-{{ variant.option1 | handle }}"></span>
              <img class="lazyload" 
                data-src="{{ variant.image | img_url: 'master' }}"
                src="{{ variant.image | img_url: 'master' }}"
                alt="{{ variant.option1 }}">
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div> 