{%- comment -%}Compare Drawer Section{%- endcomment -%}
<div class="modal modalCentered fade modal-compare" id="compare">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="icon icon-close btn-hide-popup" data-bs-dismiss="modal"></span>
            <div class="modal-compare-wrap list-file-delete">
                <h6 class="title text-center">{{ 'snippets.compare_drawer.title' | t }}</h6>
                <div class="tf-compare-inner">
                    <div class="tf-compare-list">
                        <script>
                            window.compareIds = localStorage.getItem('theme4:compare:id') ? localStorage.getItem('theme4:compare:id').split(',') : [];
                        </script>
                        
                        {% for product in collections.all.products %}
                            {% if compareIds contains product.id %}
                                <div class="tf-compare-item file-delete" data-product-id="{{ product.id }}">
                                    <button type="button" class="icon-close remove" data-compare data-id="{{ product.id }}" data-action="remove"></button>
                                    <a href="{{ product.url }}" class="image" draggable="false">
                                        <img class="lazyload" 
                                            draggable="false"
                                            data-src="{{ product.featured_image | image_url: width: 200, height: 200 }}"
                                            data-srcset="{{ product.featured_image | image_url: width: 150, height: 150 }} 150w,
                                                         {{ product.featured_image | image_url: width: 200, height: 200 }} 200w,
                                                         {{ product.featured_image | image_url: width: 300, height: 300 }} 300w"
                                            data-sizes="(max-width: 768px) 150px, 200px"
                                            src="{{ 'placeholder-image.jpg' | asset_url }}"
                                            alt="{{ product.title | escape }}"
                                            width="200"
                                            height="200"
                                            loading="lazy">
                                    </a>
                                    <div class="content">
                                        <div class="text-title text-left">
                                            <a class="link text-line-clamp-2" href="{{ product.url }}">{{ product.title }}</a>
                                        </div>
                                        <p class="price-wrap text-left">
                                            <span class="new-price text-primary">{{ product.price | money }}</span>
                                            {% if product.compare_at_price > product.price %}
                                                <span class="old-price text-decoration-line-through text-dark-1" style="margin-left: 5px;">{{ product.compare_at_price | money }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tf-compare-buttons justify-content-center">
                    <a href="/pages/compare" class="tf-btn animate-btn justify-content-center">{{ 'snippets.compare_drawer.compare_button' | t }}</a>
                    <button type="button" class="tf-btn btn-out-line-dark justify-content-center" data-compare data-action="clear">{{ 'snippets.compare_drawer.clear_all' | t }}</button>
                </div>
            </div>
        </div>
    </div>
</div> 