{%- comment -%}Footer Snippet - Used by Footer Group{%- endcomment -%}
<footer
  id="footer"
  class="footer-default {% if template == 'product' %}footer-pb-2{% else %}xl-pb-70{% endif %}
    {% if section.text_size == 'small' %} text-sm{% elsif section.text_size == 'large' %} text-lg{% else %} text-md{% endif %}"
  style="padding-top: {{ section.padding_top_main }}px; padding-bottom: {{ section.padding_bottom_main }}px;"
>
  <div class="footer-top">
    <div class="container">
      <div class="footer-top-wrap">
        <div class="footer-logo">
          <a href="{{ routes.root_url }}">
            {%- if section.logo != blank -%}
              <img src="{{ section.logo | image_url }}" 
                class="logo" 
                alt="{{ section.logo.alt | default: shop.name }}"
                width="150"
                height="50">
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
        <ul class="tf-social-icon style-large">
          {%- if section.social_facebook_link != blank -%}
            <li>
              <a href="https://{{ section.social_facebook_link | remove: 'https://' | remove: 'http://' }}" class="social-item social-facebook" target="_blank" rel="noopener">
                <i class="icon icon-fb"></i>
              </a>
            </li>
          {%- endif -%}
          {%- if section.social_instagram_link != blank -%}
            <li>
              <a href="https://{{ section.social_instagram_link | remove: 'https://' | remove: 'http://' }}" class="social-item social-instagram" target="_blank" rel="noopener">
                <i class="icon icon-instagram"></i>
              </a>
            </li>
          {%- endif -%}
          {%- if section.social_linkedin_link != blank -%}
            <li>
              <a href="https://{{ section.social_linkedin_link | remove: 'https://' | remove: 'http://' }}" class="social-item social-linkedin" target="_blank" rel="noopener">
                <i class="icon icon-linkedin"></i>
              </a>
            </li>
          {%- endif -%}
          {%- if section.social_x_link != blank -%}
            <li>
              <a href="https://{{ section.social_x_link | remove: 'https://' | remove: 'http://' }}" class="social-item social-x" target="_blank" rel="noopener">
                <i class="icon icon-x"></i>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-body">
    <div class="container">
      <div class="row-footer">
        <!-- Footer blocks will be rendered here by the footer section -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-wrap">
        {%- assign current_year = "now" | date: "%Y" -%}
        <p class="text-dark">{{ 'footer.copyright_html' | t: year: current_year, site_name: shop.name }}</p>
        {%- if section.show_payment_icons -%}
          {% assign payment_icons = section.payment_icons | split: ',' %}
          <ul class="tf-payment" style="--payment-icon-size: {{ section.payment_icons_size }}px">
            {% if section.payment_icons == blank %}
              {% for icon in shop.enabled_payment_types %}
                <li class="item">
                  <img src="{{ icon | payment_type_img_url }}"
                       alt="{{ icon | capitalize }}"
                       width="{{ section.payment_icons_size }}"
                       height="{{ section.payment_icons_size }}"
                       class="icon">
                </li>
              {% endfor %}
            {% else %}
              {% for icon in payment_icons %}
                <li class="item">
                  <img src="{{ icon | payment_type_img_url }}"
                       alt="{{ icon | capitalize }}"
                       width="{{ section.payment_icons_size }}"
                       height="{{ section.payment_icons_size }}"
                       class="icon">
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer> 