{%- assign menu_title = link.title | downcase -%}
<li class="menu-item{% if link.links != blank %} has-submenu{% endif %}{% if menu_title == 'pages' or menu_title == 'blog' %} position-relative{% endif %}">
  <a href="{{ link.url }}" class="item-link">{{ link.title }}{% if link.links != blank %}<i class="icon icon-arr-down"></i>{% endif %}</a>
  {% if link.links != blank %}
    {% case menu_title %}
      {% when 'home' %}
        <div class="sub-menu mega-menu mega-home">
          <div class="box-search">
            <div class="tf-select">
              <select name="pagetype" id="pagetype">
                <option value="">Page Type</option>
                <option value="fashion">Fashion</option>
                <option value="furniture">Furniture</option>
                <option value="electronics">Electronics</option>
                <option value="accessories">Accessories</option>
                <option value="food">Food & Drink</option>
                <option value="georgia">Other</option>
              </select>
            </div>
            <form class="form-search">
              <input type="text" placeholder="Search demo..." tabindex="0" aria-required="true" required>
              <button type="submit"><i class="icon icon-search"></i></button>
            </form>
          </div>
          {% if link.links != blank %}
            <div class="row-demo">
              {% for child in link.links %}
                {% assign child_handle = child.title | handleize %}
                {% assign image_key = 'home_image_' | append: child_handle %}
                {% assign subitem_image = section.settings[image_key] %}
                <div class="demo-item">
                  <a href="{{ child.url }}" class="demo-image">
                    {% if subitem_image != blank %}
                      <img src="{{ subitem_image | image_url: width: 200 }}" alt="{{ child.title }}" width="200" height="120">
                    {% else %}
                      <img src="https://via.placeholder.com/200x120" alt="{{ child.title }}" width="200" height="120">
                    {% endif %}
                    <div class="demo-label"><span>New</span></div>
                  </a>
                  <a href="{{ child.url }}" class="demo-name link">{{ child.title }}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="view-all-demo text-center">
            <a href="#modalDemo" data-bs-toggle="modal" class="tf-btn btn-primary animate-btn">
              Explore all demos (17+)
              <i class="icon icon-arr-right"></i>
            </a>
          </div>
        </div>
      {% when 'shop' %}
        <div class="sub-menu mega-menu mega-shop">
          <div class="wrapper-sub-menu">
            {% for child in link.links %}
              <div class="mega-menu-item">
                <div class="menu-heading">{{ child.title }}</div>
                {% if child.links != blank %}
                  <ul class="menu-list">
                    {% for grandchild in child.links %}
                      <li>
                        <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="wrapper-sub-collection">
            {% assign block = section.blocks | where: "type", "mega_menu_shop" | where: "title", link.title | first %}
            {% if block and block.settings.collections != blank %}
              <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp"
                data-swiper='{
                  "slidesPerView": 2,
                  "spaceBetween": 24,
                  "speed": 800,
                  "observer": true,
                  "observeParents": true,
                  "slidesPerGroup": 2,
                  "navigation": {
                    "clickable": true,
                    "nextEl": ".nav-next-cls-header",
                    "prevEl": ".nav-prev-cls-header"
                  },
                  "pagination": { "el": ".sw-pagination-cls-header", "clickable": true }
                }'>
                <div class="swiper-wrapper">
                  {% for collection in block.settings.collections %}
                    <div class="swiper-slide">
                      <div class="wg-cls style-abs asp-1 hover-img">
                        <a href="{{ collection.url }}" class="image img-style d-block">
                          <img src="{{ collection.featured_image | image_url: width: 200 }}" alt="{{ collection.title }}" class="lazyload" width="200" height="200">
                        </a>
                        <div class="cls-btn text-center">
                          <a href="{{ collection.url }}" class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                            {{ collection.title }}
                            <i class="icon icon-arrow-top-left"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-header justify-content-center"></div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls-header"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls-header"></div>
              </div>
            {% endif %}
          </div>
        </div>
      {% when 'products' %}
        <div class="sub-menu mega-menu mega-product">
          <div class="wrapper-sub-menu">
            {% for child in link.links %}
              <div class="mega-menu-item">
                <div class="menu-heading">{{ child.title }}</div>
                {% if child.links != blank %}
                  <ul class="menu-list">
                    {% for grandchild in child.links %}
                      <li>
                        <a href="{{ grandchild.url }}" class="menu-link-text link">{{ grandchild.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="wrapper-sub-product">
            {% assign block = section.blocks | where: "type", "mega_menu_product" | where: "title", link.title | first %}
            {% if block and block.settings.products != blank %}
              <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp"
                data-swiper='{
                  "slidesPerView": 2,
                  "spaceBetween": 24,
                  "speed": 800,
                  "observer": true,
                  "observeParents": true,
                  "slidesPerGroup": 2,
                  "navigation": {
                    "clickable": true,
                    "nextEl": ".nav-next-cls-header",
                    "prevEl": ".nav-prev-cls-header"
                  },
                  "pagination": { "el": ".sw-pagination-cls-header", "clickable": true }
                }'>
                <div class="swiper-wrapper">
                  {% for product in block.settings.products %}
                    <div class="swiper-slide">
                      <div class="wg-cls style-abs asp-1 hover-img">
                        <a href="{{ product.url }}" class="image img-style d-block">
                          <img src="{{ product.featured_image | image_url: width: 200 }}" alt="{{ product.title }}" class="lazyload" width="200" height="200">
                        </a>
                        <div class="cls-btn text-center">
                          <a href="{{ product.url }}" class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                            {{ product.title }}
                            <i class="icon icon-arrow-top-left"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-header justify-content-center"></div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls-header"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls-header"></div>
              </div>
            {% endif %}
          </div>
        </div>
      {% when 'pages' %}
        <div class="sub-menu sub-menu-style-2">
          <ul class="menu-list">
            {% for child in link.links %}
              <li>
                <a href="{{ child.url }}" class="menu-link-text link">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="banner hover-img">
            {% assign block = section.blocks | where: "type", "mega_menu_pages" | where: "title", link.title | first %}
            <!-- Debug output -->
            <div style="display: none;">
              Debug: 
              Block found: {% if block %}true{% else %}false{% endif %}
              Block type: {{ block.type }}
              Block title: {{ block.title }}
              Banner image: {% if block.settings.banner_image %}true{% else %}false{% endif %}
              Banner title: {{ block.settings.banner_title }}
              Banner link: {{ block.settings.banner_link }}
            </div>
            {% if block and block.settings.banner_image != blank %}
              <a href="{{ block.settings.banner_link }}" class="img-style">
                <img src="{{ block.settings.banner_image | image_url: width: 300 }}" alt="{{ block.settings.banner_title }}" width="300" height="120">
              </a>
            {% endif %}
            <div class="content">
              <div class="title">
                {% if block and block.settings.banner_title != blank %}
                  {{ block.settings.banner_title }}
                {% else %}
                  Unveiling the latest gear
                {% endif %}
              </div>
              {% if block and block.settings.banner_link != blank %}
                <a href="{{ block.settings.banner_link }}" class="box-icon animate-btn"><i class="icon icon-arrow-top-left"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      {% when 'blog' %}
        <div class="sub-menu sub-menu-style-3">
          <ul class="menu-list">
            {% for child in link.links %}
              <li><a href="{{ child.url }}" class="menu-link-text link">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="wrapper-sub-blog">
            <div class="menu-heading">Recent Posts</div>
            <ul class="list-recent-blog">
              <li class="item">
                <a href="#" class="img-box">
                  <img src="https://via.placeholder.com/80x80" alt="img-recent-blog" width="80" height="80">
                </a>
                <div class="content">
                  <a href="#" class="fw-medium text-sm link title">Sample Blog Post 1</a>
                  <span class="text-xxs text-grey date-post">Sep 19 2024</span>
                </div>
              </li>
              <li class="item">
                <a href="#" class="img-box">
                  <img src="https://via.placeholder.com/80x80" alt="img-recent-blog" width="80" height="80">
                </a>
                <div class="content">
                  <a href="#" class="fw-medium text-sm link title">Sample Blog Post 2</a>
                  <span class="text-xxs text-grey date-post">Sep 19 2024</span>
                </div>
              </li>
              <li class="item">
                <a href="#" class="img-box">
                  <img src="https://via.placeholder.com/80x80" alt="img-recent-blog" width="80" height="80">
                </a>
                <div class="content">
                  <a href="#" class="fw-medium text-sm link title">Sample Blog Post 3</a>
                  <span class="text-xxs text-grey date-post">Sep 19 2024</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      {% else %}
        <div class="sub-menu">
          <ul class="menu-list">
            {% for child in link.links %}
              <li><a href="{{ child.url }}" class="menu-link-text link">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
    {% endcase %}
  {% endif %}
</li> 