{% comment %}
  Mobile Menu Navigation
  This snippet contains the navigation structure for the mobile menu
{% endcomment %}

<nav class="mobile-navigation" role="navigation" aria-label="Mobile navigation">
  <ul class="nav-ul-mb" id="wrapper-menu-navigation">
    {% for link in linklists.main-menu.links %}
      <li class="nav-mb-item">
        {% if link.links != blank %}
          <a href="#dropdown-menu-{{ link.handle }}" 
             class="collapsed mb-menu-link" 
             data-bs-toggle="collapse"
             aria-expanded="false" 
             aria-controls="dropdown-menu-{{ link.handle }}"
             role="button">
            <span>{{ link.title }}</span>
            <span class="btn-open-sub" aria-hidden="true"></span>
          </a>
          <div id="dropdown-menu-{{ link.handle }}" class="collapse" role="region" aria-labelledby="dropdown-menu-{{ link.handle }}">
            <ul class="sub-nav-menu">
              {% for childlink in link.links %}
                <li>
                  {% if childlink.links != blank %}
                    <a href="#sub-{{ childlink.handle }}" 
                       class="sub-nav-link collapsed"
                       data-bs-toggle="collapse" 
                       aria-expanded="false"
                       aria-controls="sub-{{ childlink.handle }}"
                       role="button">
                      <span>{{ childlink.title }}</span>
                      <span class="btn-open-sub" aria-hidden="true"></span>
                    </a>
                    <div id="sub-{{ childlink.handle }}" class="collapse" role="region" aria-labelledby="sub-{{ childlink.handle }}">
                      <ul class="sub-nav-menu sub-menu-level-2">
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}" class="sub-nav-link">
                              {{ grandchildlink.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <a href="{{ childlink.url }}" class="sub-nav-link">
                      {{ childlink.title }}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <a href="{{ link.url }}" class="mb-menu-link">
            {{ link.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav> 