{%- comment -%}Register Drawer Snippet{%- endcomment -%}
<div class="offcanvas offcanvas-end popup-style-1 popup-register" id="register">
  <div class="canvas-wrapper">
    <div class="canvas-header popup-header">
      <span class="title">{{ 'snippets.register_drawer.create_account' | t }}</span>
      <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="{{ 'snippets.register_drawer.close' | t }}"></button>
    </div>
    <div class="canvas-body popup-inner">
      {% form 'create_customer', class: 'form-login' %}
        <div>
          <fieldset class="mb_12">
            <input type="text" name="customer[first_name]" placeholder="{{ 'snippets.register_drawer.first_name' | t }}">
          </fieldset>
          <fieldset class="mb_12">
            <input type="text" name="customer[last_name]" placeholder="{{ 'snippets.register_drawer.last_name' | t }}">
          </fieldset>
          <fieldset class="email mb_12">
            <input type="email" name="customer[email]" placeholder="{{ 'snippets.register_drawer.email' | t }}" required>
          </fieldset>
          <fieldset class="password">
            <input type="password" name="customer[password]" placeholder="{{ 'snippets.register_drawer.password' | t }}" required>
          </fieldset>
        </div>
        <div class="bot">
          <p class="text text-sm text-main-2">{{ 'snippets.register_drawer.newsletter_text' | t }}</p>
          <div class="button-wrap">
            <button class="subscribe-button tf-btn animate-btn bg-dark-2 w-100" type="submit">{{ 'snippets.register_drawer.sign_up' | t }}</button>
            <button type="button" data-bs-target="#login" data-bs-toggle="offcanvas" class="tf-btn btn-out-line-dark2 w-100">{{ 'snippets.register_drawer.sign_in' | t }}</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div> 