{% assign collection = collections[block.settings.collection] %}
<div class="wg-cls style-abs asp-1 hover-img">
    {% if collection.featured_image != blank %}
        <a href="{{ collection.url }}" class="image img-style d-block">
            <img src="{{ collection.featured_image | img_url: 'master' }}"
                data-src="{{ collection.featured_image | img_url: 'master' }}" 
                alt="{{ collection.title | escape }}" 
                class="lazyload {% if section.settings.enable_lazy_loading %}lazyload{% endif %}"
                width="{{ collection.featured_image.width }}"
                height="{{ collection.featured_image.height }}">
        </a>
    {% endif %}
    <div class="cls-btn text-center">
        <a href="{{ collection.url }}"
            class="tf-btn btn-cls btn-white hover-dark hover-icon-2"
            style="color: {{ block.settings.button_text_color }}; background-color: {{ block.settings.button_bg_color }};"
            onmouseover="this.style.backgroundColor='{{ block.settings.button_hover_bg_color }}'; this.style.color='{{ block.settings.button_hover_text_color }}';"
            onmouseout="this.style.backgroundColor='{{ block.settings.button_bg_color }}'; this.style.color='{{ block.settings.button_text_color }}';">
            {{ collection.title }}
            <i class="icon icon-arrow-top-left"></i>
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Collection Card",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "button_bg_color",
            "label": "Button background color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "button_hover_bg_color",
            "label": "Button hover background color",
            "default": "#333333"
        },
        {
            "type": "color",
            "id": "button_hover_text_color",
            "label": "Button hover text color",
            "default": "#FFFFFF"
        },
        {
            "type": "text",
            "id": "tag",
            "label": "Tag Text",
            "info": "Optional tag text (e.g., 'Sale 50% OFF')"
        },
        {
            "type": "color",
            "id": "tag_bg_color",
            "label": "Tag background color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "tag_text_color",
            "label": "Tag text color",
            "default": "#FFFFFF"
        },
        {
            "type": "text",
            "id": "price_new",
            "label": "New Price",
            "info": "Optional new price (e.g., '$130.00')"
        },
        {
            "type": "text",
            "id": "price_old",
            "label": "Old Price",
            "info": "Optional old price (e.g., '$150.00')"
        },
        {
            "type": "color",
            "id": "price_color",
            "label": "Price color",
            "default": "#000000"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "See Details",
            "info": "Text for the call-to-action button"
        }
    ],
    "presets": [
        {
            "name": "Collection Slide"
        }
    ]
}
{% endschema %} 