{% schema %}
{
  "name": "Liquid Block",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid",
      "info": "Add custom liquid code here"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "half",
          "label": "Half width"
        },
        {
          "value": "third",
          "label": "One third"
        },
        {
          "value": "quarter",
          "label": "One quarter"
        }
      ],
      "default": "full"
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Liquid Block"
    }
  ]
}
{% endschema %}

<div class="liquid-block liquid-block--{{ block.settings.width }}"
     style="
       padding: {{ block.settings.padding }}px;
       margin-top: {{ block.settings.margin_top }}px;
       margin-bottom: {{ block.settings.margin_bottom }}px;
     ">
  {{ block.settings.custom_liquid }}
</div>

<style>
  .liquid-block {
    width: 100%;
  }

  .liquid-block--full {
    width: 100%;
  }

  .liquid-block--half {
    width: 50%;
  }

  .liquid-block--third {
    width: 33.333%;
  }

  .liquid-block--quarter {
    width: 25%;
  }

  @media screen and (max-width: 749px) {
    .liquid-block--half,
    .liquid-block--third,
    .liquid-block--quarter {
      width: 100%;
    }
  }
</style> 