{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "image_picker",
      "id": "error_image",
      "label": "404 Image"
    }
  ],
  "presets": [
    {
      "name": "404 Page",
      "category": "Page"
    }
  ]
}
{% endschema %}

<section class="flat-spacing">
  {% if section.settings.width == 'boxed' %}
    <div class="container">
  {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="wg-404">
          <div class="image">
            {% if section.settings.error_image %}
              {{ section.settings.error_image | image_url: width: 800 | image_tag: 
                loading: 'lazy',
                alt: '404',
                class: 'lazyload'
              }}
            {% endif %}
          </div>
          <p class="title">
            {{ 'general.404.title' | t }}
          </p>
          <p class="text-md sub text-main">{{ 'general.404.subtext_html' | t }}</p>
          <div class="bot">
            <a href="{{ routes.root_url }}" class="tf-btn btn-fill animate-btn">
              {{ 'general.404.link' | t }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section> 