{% schema %}
{
  "name": "Account Page",
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "Container Width",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Full Width"
        }
      ],
      "default": "container"
    },
    {
      "type": "header",
      "content": "Account Navigation"
    },
    {
      "type": "checkbox",
      "id": "show_orders",
      "label": "Show Orders Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show Wishlist Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_addresses",
      "label": "Show Addresses Link",
      "default": true
    },
    {
      "type": "header",
      "content": "Dashboard Content"
    },
    {
      "type": "text",
      "id": "welcome_message",
      "label": "Welcome Message",
      "default": "Hello"
    },
    {
      "type": "text",
      "id": "dashboard_notice",
      "label": "Dashboard Notice",
      "default": "Today is a great day to check your account page. You can check your last orders or have a look to your wishlist. Or maybe you can start to shop our latest offers?"
    }
  ],
  "blocks": [
    {
      "type": "orders_box",
      "name": "Orders Box",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Orders"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Check the history of all your orders"
        }
      ]
    },
    {
      "type": "wishlist_box",
      "name": "Wishlist Box",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Wishlist"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Check your wishlist"
        }
      ]
    },
    {
      "type": "free_shipping",
      "name": "Free Shipping Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "text",
          "id": "free_shipping_threshold",
          "label": "Free Shipping Threshold",
          "default": "300.00"
        }
      ]
    },
    {
      "type": "promo_banner",
      "name": "Promo Banner",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "promo_title",
          "label": "Promo Title",
          "default": "SUMMER SALE"
        },
        {
          "type": "text",
          "id": "promo_discount",
          "label": "Promo Discount",
          "default": "50% OFF"
        },
        {
          "type": "text",
          "id": "promo_code",
          "label": "Promo Code",
          "default": "12D34E"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Account Page",
      "category": "Account",
      "blocks": [
        {
          "type": "orders_box"
        },
        {
          "type": "wishlist_box"
        },
        {
          "type": "free_shipping"
        },
        {
          "type": "promo_banner"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="main-content-account">
    <!-- Breadcrumb -->
    <div class="tf-breadcrumb">
        <div class="{{ section.settings.container_width }}">
            <ul class="breadcrumb-list">
                <li class="item-breadcrumb">
                    <a href="{{ routes.root_url }}" class="text">Home</a>
                </li>
                <li class="item-breadcrumb dot">
                    <span></span>
                </li>
                <li class="item-breadcrumb">
                    <span class="text">Account</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Title Page -->
    <section class="s-title-page">
        <div class="{{ section.settings.container_width }}">
            <h4 class="s-title letter-0 text-center">
                My Account
            </h4>
        </div>
    </section>
    <!-- /Title Page -->

    <!-- sidebar-account -->
    <div class="btn-sidebar-mb d-lg-none">
        <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount">
            <i class="icon icon-sidebar"></i>
        </button>
    </div>
    <!-- /sidebar-account -->

    <!-- Section-acount -->
    <section class="flat-spacing-2">
        <div class="{{ section.settings.container_width }}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="my-account-container">
                        <div class="sidebar-account-wrap sidebar-content-wrap sticky-top d-lg-block d-none">
                            <ul class="my-account-nav">
                                <li>
                                    <a href="{{ routes.account_url }}" class="text-sm link fw-medium my-account-nav-item active">Dashboard</a>
                                </li>
                                {% if section.settings.show_orders %}
                                <li>
                                    <a href="{{ routes.account_url }}/orders" class="text-sm link fw-medium my-account-nav-item">My Orders</a>
                                </li>
                                {% endif %}
                                {% if section.settings.show_wishlist %}
                                <li>
                                    <a href="{{ routes.account_url }}/wishlist" class="text-sm link fw-medium my-account-nav-item">My Wishlist</a>
                                </li>
                                {% endif %}
                                {% if section.settings.show_addresses %}
                                <li>
                                    <a href="{{ routes.account_addresses_url }}" class="text-sm link fw-medium my-account-nav-item">Addresses</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ routes.account_logout_url }}" class="text-sm link fw-medium my-account-nav-item">Log Out</a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-acount-content account-dashboard">
                            <div class="box-account-title">
                                <p class="hello-name display-sm fw-medium">
                                    {% if customer %}
                                        {{ section.settings.welcome_message }} {{ customer.name }}!
                                        <span>(not <span class="name">{{ customer.name }}</span>?</span>
                                        <a href="{{ routes.account_logout_url }}" class="text-decoration-underline link">Log Out</a>
                                        <span>)</span>
                                    {% else %}
                                        <a href="{{ routes.account_login_url }}" class="text-decoration-underline link">Log in</a>
                                    {% endif %}
                                </p>
                                <p class="notice text-sm">
                                    {{ section.settings.dashboard_notice }}
                                </p>
                            </div>
                            <div class="content-account">
                                <ul class="box-check-list flex-sm-nowrap">
                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                            {% when 'orders_box' %}
                                                <li {{ block.shopify_attributes }}>
                                                    <a href="{{ routes.account_url }}/orders" class="box-check text-center">
                                                        <div class="icon">
                                                            <i class="icon-order"></i>
                                                            <span class="count-number text-sm text-white fw-medium">{{ customer.orders_count }}</span>
                                                        </div>
                                                        <div class="text">
                                                            <div class="link name-type text-xl fw-medium">{{ block.settings.title }}</div>
                                                            <p class="sub-type text-sm">{{ block.settings.description }}</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% when 'wishlist_box' %}
                                                <li {{ block.shopify_attributes }}>
                                                    <a href="{{ routes.account_url }}/wishlist" class="box-check text-center">
                                                        <div class="icon">
                                                            <i class="icon-heart"></i>
                                                            <span class="count-number text-sm text-white fw-medium">{{ customer.wishlist_count }}</span>
                                                        </div>
                                                        <div class="text">
                                                            <div class="link name-type text-xl fw-medium">{{ block.settings.title }}</div>
                                                            <p class="sub-type text-sm">{{ block.settings.description }}</p>
                                                        </div>
                                                    </a>
                                                </li>
                                        {% endcase %}
                                    {% endfor %}
                                </ul>
                                <div class="banner-account">
                                    <div class="image">
                                        {% if section.settings.banner_image %}
                                            {{ section.settings.banner_image | image_url: width: 1200 | image_tag: loading: 'lazy', class: 'lazyload' }}
                                        {% endif %}
                                    </div>
                                </div>
                                {% for block in section.blocks %}
                                    {% case block.type %}
                                        {% when 'free_shipping' %}
                                            <div class="banner-account" {{ block.shopify_attributes }}>
                                                {% if block.settings.banner_image %}
                                                    <div class="image">
                                                        {{ block.settings.banner_image | image_url: width: 1200 | image_tag: loading: 'lazy', class: 'lazyload' }}
                                                    </div>
                                                {% endif %}
                                                <div class="banner-content-right">
                                                    <div class="banner-title">
                                                        <p class="display-md fw-medium">
                                                            Free Shipping
                                                        </p>
                                                        <p class="text-md">
                                                            for all orders over ${{ block.settings.free_shipping_threshold }}
                                                        </p>
                                                    </div>
                                                    <div class="banner-btn">
                                                        <a href="{{ routes.all_products_collection_url }}" class="tf-btn animate-btn">
                                                            Shop Now
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% when 'promo_banner' %}
                                            <div class="banner-account banner-acc-countdown bg-linear d-flex align-items-center" {{ block.shopify_attributes }}>
                                                <div class="banner-content-left">
                                                    <div class="banner-title">
                                                        <p class="sub text-md fw-medium">
                                                            {{ block.settings.promo_title }}
                                                        </p>
                                                        <p class="display-xl fw-medium">
                                                            {{ block.settings.promo_discount }}
                                                        </p>
                                                        <p class="sub text-md fw-medium">
                                                            WITH PROMOTE CODE: {{ block.settings.promo_code }}
                                                        </p>
                                                    </div>
                                                    <div class="banner-btn">
                                                        <a href="{{ routes.all_products_collection_url }}" class="tf-btn btn-white animate-btn animate-dark">
                                                            Shop Now
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="banner-countdown">
                                                    <div class="wg-countdown-2">
                                                        <span class="js-countdown" data-timer="{{ block.settings.product.metafields.countdown.end_date | date: '%s' | minus: 'now' | date: '%s' }}" data-labels="Days,Hours,Mins,Secs"></span>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endcase %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Account -->
</div> 