<section>
    {% if section.settings.width == 'boxed' %}
        <div class="container">
    {% endif %}
        <div dir="ltr" class="swiper tf-swiper banner-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="banner-shop style-top hover-img radius-20">
                            <div class="image img-style">
                                <img src="{{ block.settings.banner_image | image_url }}"
                                    alt="{{ block.settings.heading }}"
                                    class="lazyload"
                                    width="570"
                                    height="300"
                                    loading="lazy">
                            </div>
                            <div class="content wow fadeInUp text-center justify-items-center">
                                <div class="box-title">
                                    <h4 class="text-white">
                                        {{ block.settings.heading }}
                                    </h4>
                                    <p class="text-md text-white">  
                                        {{ block.settings.subtext }}
                                    </p>
                                </div>
                                <a href="{{ block.settings.button_url }}" class="tf-btn animate-btn btn-space1 btn-green-2">
                                    {{ block.settings.button_text }}
                                    <i class="icon icon-arr-right3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if section.settings.show_navigation %}
                <div class="swiper-button-next nav-next-shop d-none d-xl-flex nav-swiper nav-button-top"></div>
                <div class="swiper-button-prev nav-prev-shop d-none d-xl-flex nav-swiper nav-button-top"></div>
            {% endif %}
            {% if section.settings.show_pagination %}
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-shop justify-content-center"></div>
            {% endif %}
        </div>
    {% if section.settings.width == 'boxed' %}
        </div>
    {% endif %}
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const bannerSwiper = document.querySelector('.banner-swiper');
    if (!bannerSwiper) return;
    
    const swiperConfig = {
        slidesPerView: 1,
        spaceBetween: 12,
        speed: 1000,
        observer: true,
        observeParents: true,
        breakpoints: {
            768: {
                slidesPerView: 2,
                spaceBetween: 12
            },
            1200: {
                slidesPerView: 2,
                spaceBetween: 24
            }
        }
    };

    // Add navigation if enabled
    {% if section.settings.show_navigation %}
    swiperConfig.navigation = {
        clickable: true,
        nextEl: '.nav-next-shop',
        prevEl: '.nav-prev-shop'
    };
    {% endif %}

    // Add pagination if enabled
    {% if section.settings.show_pagination %}
    swiperConfig.pagination = {
        el: '.sw-pagination-shop',
        clickable: true
    };
    {% endif %}

    new Swiper('.banner-swiper', swiperConfig);
});
</script>

{% schema %}
{
    "name": "Banner Slider",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Section width",
            "options": [
                {
                    "value": "full",
                    "label": "Full width"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ],
            "default": "boxed"
        },
        {
            "type": "checkbox",
            "id": "show_navigation",
            "label": "Show navigation arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_pagination",
            "label": "Show pagination dots on mobile",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "banner",
            "name": "Banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "banner_image",
                    "label": "Banner Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Unveiling the latest gear"
                },
                {
                    "type": "text",
                    "id": "subtext",
                    "label": "Subtext",
                    "default": "Check out our newest arrivals"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Buy Now"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button URL"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner Slider",
            "category": "Banner",
            "blocks": [
                {
                    "type": "banner",
                    "settings": {
                        "banner_image": "",
                        "heading": "Unveiling the latest gear",
                        "subtext": "Check out our newest arrivals",
                        "button_text": "Buy Now"
                    }
                },
                {
                    "type": "banner",
                    "settings": {
                        "banner_image": "",
                        "heading": "Deals you can't miss",
                        "subtext": "Save big on our best-selling bikes",
                        "button_text": "Buy Now"
                    }
                }
            ]
        }
    ]
}
{% endschema %} 