<!-- Banner with text-->
<div class="{% if section.settings.layout == 'home-fashion-02' %}s-banner-with-text banner-text-fashion flat-spacing-3 pt-0{% else %}s-banner-product{% endif %}">
  {% if section.settings.width == 'boxed' %}
    <div class="container" style="padding-left: 15px; padding-right: 15px;">
  {% endif %}
    {% if section.settings.layout == 'home-fashion-02' %}
      <div class="row flex-wrap-reverse">
        <div class="col-md-5">
          <div class="content-banner type-left wow fadeInUp">
            <div class="box-title-banner">
              <h4>{{ section.settings.title }}</h4>
              <p class="text-md text-main">
                {{ section.settings.description }}
              </p>
            </div>
            <div class="box-btn-banner">
              {% if section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="tf-btn animate-btn">
                  {{ section.settings.button_text }}
                  <i class="icon-arr-right"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="image-banner">
            <div class="image image-2 hover-shine hover-img">
              <div class="shine-item img-style wow fadeInRight" data-wow-delay="0.1s">
                {% if section.settings.image_2 != blank %}
                  {{ section.settings.image_2 | image_url: width: 2000 | image_tag:
                    loading: 'lazy',
                    class: 'lazyload',
                    alt: section.settings.image_2.alt,
                    width: section.settings.image_2.width,
                    height: section.settings.image_2.height
                  }}
                {% endif %}
              </div>
            </div>
            <div class="image image-1 hover-shine hover-img">
              <div class="shine-item img-style wow fadeInRight">
                {% if section.settings.image_1 != blank %}
                  {{ section.settings.image_1 | image_url: width: 2000 | image_tag:
                    loading: 'lazy',
                    class: 'lazyload',
                    alt: section.settings.image_1.alt,
                    width: section.settings.image_1.width,
                    height: section.settings.image_1.height
                  }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
    <div class="content-banner" style="margin-left: 0px; margin-right: 0px;">
      <div class="image-wrap hover-img">
        {% if section.settings.banner_product != blank %}
          {% assign banner_product = section.settings.banner_product %}
          <a href="{{ banner_product.url }}" class="image img-style d-block">
            {% if banner_product.featured_image != blank %}
              {{ banner_product.featured_image | image_url: width: 2000 | image_tag:
                loading: 'lazy',
                class: 'lazyload',
                alt: banner_product.featured_image.alt
              }}
            {% endif %}
          </a>
        {% else %}
          {% if section.settings.banner_link != blank %}
            <a href="{{ section.settings.banner_link }}" class="image img-style d-block">
              {% if section.settings.banner_image != blank %}
                {{ section.settings.banner_image | image_url: width: 2000 | image_tag:
                  loading: 'lazy',
                  class: 'lazyload',
                  alt: section.settings.banner_image.alt
                }}
              {% endif %}
            </a>
          {% else %}
            {% if section.settings.banner_image != blank %}
              <div class="image img-style d-block">
                {{ section.settings.banner_image | image_url: width: 2000 | image_tag:
                  loading: 'lazy',
                  class: 'lazyload',
                  alt: section.settings.banner_image.alt
                }}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
        {% for block in section.blocks limit:1 %}
          {% if block.type == 'lookbook' %}
            {% assign product = block.settings.product %}
            {% if product != blank %}
              <div class="loobook-product style-row">
                <div class="img-style">
                  {% if product.featured_image != blank %}
                    {{ product.featured_image | image_url: width: 200 | image_tag:
                      loading: 'lazy',
                      alt: product.featured_image.alt
                    }}
                  {% endif %}
                </div>
                <div class="content">
                  <div class="info">
                    <a href="{{ product.url }}" class="text-md fw-medium text-line-clamp-1 link">
                      {{ product.title }}
                    </a>
                    <p class="price-wrap text-md fw-medium">
                      {{ product.price | money }}
                    </p>
                  </div>
                  <a href="javascript:void(0);" 
                  class="quickview hover-tooltip btn-lookbook" 
                  data-product-handle="{{ product.handle }}"
                  data-product-id="{{ product.id }}"
                  data-bs-toggle="modal" 
                  data-bs-target="#quickView">
                    <i class="icon-view"></i>
                    <span class="tooltip">Quick view</span>
                  </a>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

        <div class="content-right text-center wow fadeInUp">
          <div class="box-title">
            <p class="display-lg-3 font-2 text-dark-3">
              {{ section.settings.title }}
            </p>
            <p class="body-text-2 text-dark-3 font-2">
              {{ section.settings.description }}
            </p>
          </div>
          <div class="box-btn">
            {% if section.settings.button_link != blank %}
              <a href="{{ section.settings.button_link }}" class="tf-btn animate-btn btn-dark2">
                {{ section.settings.button_text }}
                <i class="icon-arr-right"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</div>
<!-- /Banner with text -->

{% schema %}
{
  "name": "Banner Text",
  "max_blocks": 1,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Section Layout",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "home-fashion-02", "label": "Home Fashion 02 (Banner Text)" }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Section Width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "product",
      "id": "banner_product",
      "label": "Banner Product"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image (Fallback)"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Elevating Your Style Journey"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Discover timeless pieces that define elegance and sophistication."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "First Image (Home Fashion 02)"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second Image (Home Fashion 02)"
    }
  ],
  "blocks": [
    {
      "type": "lookbook",
      "name": "Lookbook Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Text",
      "category": "Banner",
      "settings": {
        "layout": "default",
        "width": "boxed",
        "title": "Elevating Your Style Journey",
        "description": "Discover timeless pieces that define elegance and sophistication.",
        "button_text": "Shop Now"
      }
    }
  ]
}
{% endschema %} 