{%- style -%}
  .banner-cls-electric {
    padding: {{ section.settings.padding_top }}px 0;
  }
{%- endstyle -%}

<!-- Banner Collection-->
<div class="s-banner-colection banner-cls-electric flat-spacing-3">
  <div class="container">
    <div class="banner-content tf-grid-layout tf-col-2 hover-overlay-2">
      <div class="image">
        {%- if section.settings.image != blank -%}
          <img 
            src="{{ section.settings.image | img_url: 'master' }}" 
            alt="{{ section.settings.image.alt | escape }}" 
            class="lazyload"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="box-content">
        <div class="box-title-banner wow fadeInUp">
          <p class="title display-md fw-medium">
            {{ section.settings.title }}
          </p>
          <p class="sub text-md text-main">
            {{ section.settings.subtitle }}
          </p>
        </div>
        <div class="box-btn-banner wow fadeInUp">
          <a href="{{ section.settings.button_link }}" class="tf-btn btn-dark2 animate-btn">
            {{ section.settings.button_text }}
            <i class="icon icon-arr-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Banner Collection-->

{% schema %}
{
  "name": "Banner Collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Unmatched Performance"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Upgrade your devices with cutting-edge technology."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Banner Collection",
      "category": "Banner"
    }
  ]
}
{% endschema %}
