{% if section.settings.layout == 'layout1' %}
<section class="flat-spacing-3 {% if section.settings.layout == 'home-bicycle' %}pb-0{% else %} pt-0{% endif %} section-{{ section.id }}-padding" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  {% if section.settings.width == 'boxed' %}
    <div class="container">
  {% endif %}
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ section.settings.title }}</h4>
      <p class="desc text-main text-md">{{ section.settings.description }}</p>
    </div>
    <div class="fl-control-sw wow fadeInUp">
      <div dir="ltr" class="swiper tf-swiper" data-swiper='{
        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
        "spaceBetween": {{ section.settings.space_between_mobile }},
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
        "navigation": {
          "clickable": true,
          "nextEl": ".nav-next-new",
          "prevEl": ".nav-prev-new"
        },
        "pagination": { "el": ".sw-pagination-new", "clickable": true },
        "autoplay": {
          "delay": {{ section.settings.autoplay_speed }},
          "disableOnInteraction": false
        },
        "breakpoints": {
          "577": { 
            "slidesPerView": {{ section.settings.slides_per_view_tablet }}, 
            "spaceBetween": {{ section.settings.space_between_tablet }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
          },
          "1200": { 
            "slidesPerView": {{ section.settings.slides_per_view_desktop }}, 
            "spaceBetween": {{ section.settings.space_between_desktop }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
          }
        }
      }'>
        <div class="swiper-wrapper">
          {%- for article in section.blocks -%}
            <div class="swiper-slide" {{ article.shopify_attributes }}>
              <div class="news-item hover-img">
                <a href="{{ article.settings.article.url }}" class="image-box img-style">
                  {%- if article.settings.article.image != blank -%}
                    {{ article.settings.article.image | image_url: width: 600 | image_tag:
                      loading: 'lazy',
                      width: 600,
                      height: 400,
                      class: 'lazyload',
                      alt: article.settings.article.title
                    }}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </a>
                <div class="content">
                  <a href="{{ article.settings.article.url }}" class="title fw-medium link text-xl text-line-clamp-2">
                    {{ article.settings.article.title }}
                  </a>
                  <a href="{{ article.settings.article.url }}" class="btn-readmore link">
                    {{ section.settings.read_more_text }} <i class="icon icon-arr-right"></i>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-new justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-new"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-new"></div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>
{% elsif section.settings.layout == 'layout2' %}
<section class="flat-spacing-3 {% if section.settings.layout == 'layout2' %}pb-0{% else %} pt-0{% endif %} section-{{ section.id }}-padding" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  {% if section.settings.width == 'boxed' %}
    <div class="container">
  {% endif %}
    <div class="flat-title-v2 text-center justify-items-center wow fadeInUp">
      <a href="{{ section.settings.blog.url }}" class="tf-btn btn-out-line-green btn-small text-uppercase">{{ section.settings.blog_button_text }}</a>
      <h4 class="text-capitalize">{{ section.settings.title }}</h4>
    </div>
    <div class="fl-control-sw wow fadeInUp">
      <div dir="ltr" class="swiper tf-swiper" data-swiper='{
        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
        "spaceBetween": {{ section.settings.space_between_mobile }},
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
        "navigation": {
          "clickable": true,
          "nextEl": ".nav-next-new",
          "prevEl": ".nav-prev-new"
        },
        "pagination": { "el": ".sw-pagination-new", "clickable": true },
        "autoplay": {
          "delay": {{ section.settings.autoplay_speed }},
          "disableOnInteraction": false
        },
        "breakpoints": {
          "577": { 
            "slidesPerView": {{ section.settings.slides_per_view_tablet }}, 
            "spaceBetween": {{ section.settings.space_between_tablet }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
          },
          "1200": { 
            "slidesPerView": {{ section.settings.slides_per_view_desktop }}, 
            "spaceBetween": {{ section.settings.space_between_desktop }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
          }
        }
      }'>
        <div class="swiper-wrapper">
          {%- for article in section.blocks -%}
            <div class="swiper-slide" {{ article.shopify_attributes }}>
              <div class="blog-item-v2">
                <div class="entry-image hover-img">
                  <a href="{{ article.settings.article.url }}" class="image-box img-style">
                    {%- if article.settings.article.image != blank -%}
                      {{ article.settings.article.image | image_url: width: 600 | image_tag:
                        loading: 'lazy',
                        width: 600,
                        height: 400,
                        class: 'lazyload',
                        alt: article.settings.article.title
                      }}
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </a>
                  {% if article.settings.article.tags.size > 0 %}
                    <div class="entry-tag">
                      {% for tag in article.settings.article.tags limit: 3 %}
                        <span class="tag">{{ tag }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="entry-content">
                  <div class="info-box">
                    <ul class="meta-list">
                      <li class="item">
                        <span class="d-none d-lg-inline">by {{ article.settings.article.author }}</span>
                        <span class="d-none d-md-inline d-lg-none">by {{ article.settings.article.author | truncate: 8, '...' }}</span>
                        <span class="d-inline d-md-none">by {{ article.settings.article.author | truncate: 6, '...' }}</span>
                      </li>
                      <li class="item">{{ article.settings.article.published_at | date: "%b %d, %Y" }}</li>
                      {% if article.settings.article.comments_enabled? %}
                        <li class="item">{{ article.settings.article.comments_count }} Comments</li>
                      {% endif %}
                    </ul>
                    <a href="{{ article.settings.article.url }}" class="title fw-medium link text-xl text-line-clamp-2">
                      {{ article.settings.article.title }}
                    </a>
                    {% if article.settings.article.excerpt_or_content  != blank %}
                      <p class="desc text-main text-sm text-line-clamp-2">
                        {{ article.settings.article.excerpt_or_content  | strip_html | truncatewords: 30 }}
                      </p>
                    {% endif %}
                  </div>
                  <a href="{{ article.settings.article.url }}" class="btn-readmore link">
                    {{ section.settings.read_more_text }} <i class="icon icon-arr-right"></i>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-new justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-new"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-new"></div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>
{% else %}
<section class="flat-spacing-29 pt-0" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  {% if section.settings.width == 'boxed' %}
    <div class="container">
  {% endif %}
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ section.settings.title }}</h4>
      <p class="desc text-main text-md">{{ section.settings.description }}</p>
    </div>
    <div class="hover-sw-nav wrap-pos-nav">
      <div dir="ltr" class="swiper tf-swiper" data-swiper='{
        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
        "spaceBetween": {{ section.settings.space_between_mobile }},
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "slidesPerGroup": {{ section.settings.slides_per_view_mobile }},
        "navigation": {
          "clickable": true,
          "nextEl": ".nav-next-new",
          "prevEl": ".nav-prev-new"
        },
        "pagination": { "el": ".sw-pagination-new", "clickable": true },
        "breakpoints": {
          "577": { 
            "slidesPerView": {{ section.settings.slides_per_view_tablet }}, 
            "spaceBetween": {{ section.settings.space_between_tablet }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_tablet }}
          },
          "1200": { 
            "slidesPerView": {{ section.settings.slides_per_view_desktop }}, 
            "spaceBetween": {{ section.settings.space_between_desktop }}, 
            "slidesPerGroup": {{ section.settings.slides_per_view_desktop }}
          }
        }
      }'>
        <div class="swiper-wrapper">
          {%- for article in section.blocks -%}
            <div class="swiper-slide" {{ article.shopify_attributes }}>
              <div class="blog-item-v2">
                <div class="entry-image hover-img">
                  <a href="{{ article.settings.article.url }}" class="image-box img-style">
                    {%- if article.settings.article.image != blank -%}
                      {{ article.settings.article.image | image_url: width: 600 | image_tag:
                        loading: 'lazy',
                        width: 600,
                        height: 400,
                        class: 'lazyload',
                        alt: article.settings.article.title
                      }}
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </a>
                  {% if article.settings.article.tags.size > 0 %}
                    <div class="entry-tag">
                      {% for tag in article.settings.article.tags limit: 3 %}
                        <span class="tag">{{ tag }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="entry-content">
                  <div class="info-box">
                    <ul class="meta-list">
                      <li class="item">
                        <span class="d-none d-lg-inline">by {{ article.settings.article.author }}</span>
                        <span class="d-none d-md-inline d-lg-none">by {{ article.settings.article.author | truncate: 8, '...' }}</span>
                        <span class="d-inline d-md-none">by {{ article.settings.article.author | truncate: 6, '...' }}</span>
                      </li>
                      <li class="item">{{ article.settings.article.published_at | date: "%b %d, %Y" }}</li>
                      {% if article.settings.article.comments_enabled? %}
                        <li class="item">{{ article.settings.article.comments_count }} Comments</li>
                      {% endif %}
                    </ul>
                    <a href="{{ article.settings.article.url }}" class="title fw-medium link text-xl text-line-clamp-2">
                      {{ article.settings.article.title }}
                    </a>
                    {% if article.settings.article.excerpt_or_content != blank %}
                      <p class="desc text-main text-sm text-line-clamp-2">
                        {{ article.settings.article.excerpt_or_content  | strip_html | truncatewords: 30 }}
                      </p>
                    {% endif %}
                  </div>
                  <a href="{{ article.settings.article.url }}" class="btn-readmore link">
                    {{ section.settings.read_more_text }} <i class="icon icon-arr-right"></i>
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-new justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-new" style="top: calc(50% - 122px);"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-new" style="top: calc(50% - 122px);"></div>
    </div>
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>
{% endif %}

{% schema %}
{
  "name": "Blog Carousel",
  "tag": "div",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section Layout",
      "options": [
        { "value": "layout1", "label": "Layout 1 (Default)" },
        { "value": "layout2", "label": "Layout 2 (Home Bicycle)" },
        { "value": "layout3", "label": "Layout 3 (Blog Style)" }
      ],
      "default": "layout1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Latest Tips & Trends"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Discover expert advice, style inspiration, and product updates on our blog."
    },
    {
      "type": "text",
      "id": "blog_button_text",
      "label": "Blog Button Text",
      "default": "OUR BLOG",
      "info": "Only used in Layout 2"
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Read more text",
      "default": "Read more"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay speed",
      "default": 5000
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Slides per view",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_between_mobile",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "Space between slides",
      "default": 12
    },
    {
      "type": "header",
      "content": "Tablet settings"
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Slides per view",
      "default": 2
    },
    {
      "type": "range",
      "id": "space_between_tablet",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "Space between slides",
      "default": 12
    },
    {
      "type": "header",
      "content": "Desktop settings"
    },
    {
      "type": "range",
      "id": "slides_per_view_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides per view",
      "default": 3
    },
    {
      "type": "range",
      "id": "space_between_desktop",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "Space between slides",
      "default": 24
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 94
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Carousel",
      "category": "Blog Slider",
      "blocks": [
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %} 