{% schema %}
{
  "name": "Blog Single",
  "settings": [
    {
      "type": "header",
      "content": "Blog Post Settings"
    },
    {
      "type": "text",
      "id": "blog_title",
      "label": "Blog Title",
      "default": "5 Timeless Wardrobe Essentials Every Woman Should Own"
    },
    {
      "type": "text",
      "id": "blog_category",
      "label": "Blog Category",
      "default": "Lifestyle"
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author Image"
    },
    {
      "type": "text",
      "id": "author_name",
      "label": "Author Name",
      "default": "Vincent"
    },
    {
      "type": "text",
      "id": "publish_date",
      "label": "Publish Date",
      "default": "Sep 19 2024"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "richtext",
      "id": "blog_content",
      "label": "Blog Content"
    },
    {
      "type": "image_picker",
      "id": "gallery_image_1",
      "label": "Gallery Image 1"
    },
    {
      "type": "image_picker",
      "id": "gallery_image_2",
      "label": "Gallery Image 2"
    },
    {
      "type": "text",
      "id": "tags",
      "label": "Tags (comma separated)",
      "default": "Lifestyle, Fashion"
    }
  ],
  "presets": [
    {
      "name": "Blog Single",
      "category": "Blog"
    }
  ]
}
{% endschema %}

<section class="s-blog-single line-bottom-container">
  <div class="container">
    <div class="heading blog-post-item">
      <div class="entry-tag">
        <ul class="style-list">
          <li>
            <a href="#" class="type-life">
              {{ section.settings.blog_category }}
            </a>
          </li>
        </ul>
      </div>
      <p class="entry_title display-sm fw-medium">
        {{ section.settings.blog_title }}
      </p>
      <ul class="entry-meta">
        <li class="entry_author">
          <div class="avatar">
            {% if section.settings.author_image %}
              {{ section.settings.author_image | image_url: width: 100 | image_tag: loading: 'lazy', class: 'lazyload' }}
            {% endif %}
          </div>
          <p class="entry_name">
            Post by <span class="fw-medium">{{ section.settings.author_name }}</span>
          </p>
        </li>
        <li class="br-line"></li>
        <li class="entry_date">
          <p class="text-md">
            {{ section.settings.publish_date }}
          </p>
        </li>
        <li class="br-line"></li>
        <li class="entry_comment">
          <p class="text-md">
            {{ article.comments_count }} comments
          </p>
        </li>
      </ul>
    </div>
    <div class="content">
      {% if section.settings.featured_image %}
        <div class="entry_image">
          {{ section.settings.featured_image | image_url: width: 1200 | image_tag: loading: 'lazy', class: 'lazyload' }}
        </div>
      {% endif %}
      
      {{ section.settings.blog_content }}

      <div class="group-image">
        {% if section.settings.gallery_image_1 %}
          <div class="entry_image">
            {{ section.settings.gallery_image_1 | image_url: width: 600 | image_tag: loading: 'lazy', class: 'lazyload' }}
          </div>
        {% endif %}
        {% if section.settings.gallery_image_2 %}
          <div class="entry_image">
            {{ section.settings.gallery_image_2 | image_url: width: 600 | image_tag: loading: 'lazy', class: 'lazyload' }}
          </div>
        {% endif %}
      </div>

      <div class="bot">
        <div class="entry-tag">
          <p>Tag:</p>
          <ul class="style-list">
            {% assign tags = section.settings.tags | split: ',' %}
            {% for tag in tags %}
              <li>
                <a href="#">{{ tag | strip }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="entry-social">
          <p>Share:</p>
          <ul class="tf-social-icon style-large">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url | append: article.url }}" class="social-item social-facebook">
                <i class="icon icon-fb"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="social-item social-instagram">
                <i class="icon icon-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/intent/tweet?url={{ shop.url | append: article.url }}&text={{ article.title }}" class="social-item social-x">
                <i class="icon icon-x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.snapchat.com/" class="social-item social-snapchat">
                <i class="icon icon-snapchat"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="related-post">
        {% if article.previous %}
          <a href="{{ article.previous.url }}" class="post prev">
            <div class="icon">
              <i class="icon-arr-left"></i>
            </div>
            <div class="text-wrap-left">
              <p>PREVIOUS POST</p>
              <p class="name-post">{{ article.previous.title }}</p>
            </div>
          </a>
        {% endif %}
        {% if article.next %}
          <a href="{{ article.next.url }}" class="post next">
            <div class="text-wrap-right">
              <p>NEXT POST</p>
              <p class="name-post">{{ article.next.title }}</p>
            </div>
            <div class="icon">
              <i class="icon-arr-right2"></i>
            </div>
          </a>
        {% endif %}
      </div>
    </div>

    <div class="leave-comment-wrap">
      <p class="title">Leave a comment</p>
      {% form 'new_comment', article %}
        <div class="wrap">
          <div class="cols">
            <fieldset>
              <label for="CommentAuthor">Your name*</label>
              <input id="CommentAuthor" type="text" name="comment[author]" required>
            </fieldset>
            <fieldset>
              <label for="CommentEmail">Your email*</label>
              <input id="CommentEmail" type="email" name="comment[email]" required>
            </fieldset>
          </div>
          <div class="cols">
            <fieldset class="textarea">
              <label for="CommentBody">Your comment*</label>
              <textarea id="CommentBody" name="comment[body]" required></textarea>
            </fieldset>
          </div>
          <p class="notice">Please note, your email won't be published.</p>
          <div class="button-submit">
            <button class="tf-btn text-sm animate-btn" type="submit">Post comment</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</section> 