<section class="flat-spacing-3">
  <div class="container">
    <div class="flat-animate-tab">
      <div class="flat-title-tab-categories wow fadeInUp text-center">
        <h4 class="title">{{ section.settings.title }}</h4>
        {% if collections.size > 0 %}
          <ul class="menu-tab-line justify-content-center" role="tablist">
            {% for collection in collections limit: 2 %}
              <li class="nav-tab-item" role="presentation">
                <a href="#collection-{{ forloop.index }}" class="tab-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab">{{ collection.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="tab-content">
        {% for collection in collections limit: 2 %}
          <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="collection-{{ forloop.index }}" role="tabpanel">
            <div dir="ltr" class="swiper tf-swiper" 
              data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": 12,
                "speed": 800,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "pagination": { 
                  "el": ".sw-pagination-{{ forloop.index }}", 
                  "clickable": true 
                },
                "breakpoints": {
                  "575": { 
                    "slidesPerView": 3, 
                    "spaceBetween": 12,
                    "slidesPerGroup": 2 
                  },    
                  "768": { 
                    "slidesPerView": 4, 
                    "spaceBetween": 24, 
                    "slidesPerGroup": 3 
                  },
                  "1200": { 
                    "slidesPerView": 6, 
                    "spaceBetween": 64, 
                    "slidesPerGroup": 3
                  }
                }
              }'>
              <div class="swiper-wrapper">
                {% for product in collection.products limit: 6 %}
                  <div class="swiper-slide">
                    <div class="wg-cls style-circle hover-img">
                      <a href="{{ product.url }}" class="image img-style d-block">
                        {% if product.featured_image %}
                          <img src="{{ product.featured_image | img_url: 'master' }}"
                               data-src="{{ product.featured_image | img_url: 'master' }}"
                               alt="{{ product.title | escape }}" class="lazyload">
                        {% else %}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                      </a>
                      <div class="cls-content text-center">
                        <a href="{{ product.url }}" class="link text-md fw-medium">{{ product.title }}</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <span class="d-flex d-xl-none sw-dot-default sw-pagination-{{ forloop.index }} justify-content-center"></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Categories"
    }
  ],
  "presets": [
    {
      "name": "Categories"
    }
  ]
}
{% endschema %} 