{%- if section.blocks.size > 0 -%}
  {%- case section.settings.layout -%}
    {%- when 'layout1' -%}
      <section class="flat-spacing-3">
        <div class="container">
          <div class="flat-animate-tab">
            <div class="flat-title-tab-categories wow fadeInUp text-center">
              <h4 class="title">{{ section.settings.title }}</h4>
              {% if section.blocks.size > 0 %}
                <ul class="menu-tab-line justify-content-center" role="tablist">
                  {% for block in section.blocks %}
                    {% if block.type == 'tab' %}
                      <li class="nav-tab-item" role="presentation" {{ block.shopify_attributes }}>
                        <a href="#tab-{{ block.id }}" class="tab-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab">
                          {{ block.settings.tab_title }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="tab-content">
              {% for block in section.blocks %}
                {% if block.type == 'tab' %}
                  <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="tab-{{ block.id }}" role="tabpanel">
                    <div dir="ltr" class="swiper tf-swiper" 
                      data-swiper='{
                        "slidesPerView": 2,
                        "spaceBetween": 12,
                        "speed": 800,
                        "observer": true,
                        "observeParents": true,
                        "slidesPerGroup": 2,
                        "pagination": { 
                          "el": ".sw-pagination-{{ block.id }}", 
                          "clickable": true 
                        },
                        "breakpoints": {
                          "575": { 
                            "slidesPerView": 3, 
                            "spaceBetween": 12,
                            "slidesPerGroup": 2 
                          },    
                          "768": { 
                            "slidesPerView": 4, 
                            "spaceBetween": 24, 
                            "slidesPerGroup": 3 
                          },
                          "1200": { 
                            "slidesPerView": {{ section.settings.products_to_show }}, 
                            "spaceBetween": 64, 
                            "slidesPerGroup": {{ section.settings.products_to_show }}
                          }
                        }
                      }'>
                      <div class="swiper-wrapper">
                        {% for collection in block.settings.collections %}
                          {% if collection != blank %}
                            <div class="swiper-slide">
                              <div class="wg-cls style-circle hover-img">
                                <a href="{{ collection.url }}" class="image img-style d-block">
                                  {% if collection.featured_image != blank %}
                                    {{ collection.featured_image | image_url: width: 300 | image_tag: loading: 'lazy', width: 300, height: 300, class: 'lazyload', alt: collection.title }}
                                  {% else %}
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                  {% endif %}
                                </a>
                                <div class="cls-content text-center">
                                  <a href="{{ collection.url }}" class="link text-md fw-medium">{{ collection.title }}</a>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <span class="d-flex d-xl-none sw-dot-default sw-pagination-{{ block.id }} justify-content-center"></span>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {%- when 'layout2' -%}
      <section class="flat-spacing-3">
        <div class="container">
          <div class="flat-title text-start wow fadeInUp">
            <h4 class="title">{{ section.settings.title }}</h4>
          </div>
          <div class="wow fadeInUp">
            <div class="fl-control-sw pos1">
              <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": 12,
                "speed": 800,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-categories",
                  "prevEl": ".nav-prev-categories"
                },
                "pagination": { "el": ".sw-pagination-categories", "clickable": true },
                "breakpoints": {
                  "575": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
                  "768": { "slidesPerView": 4, "spaceBetween": 12, "slidesPerGroup": 4 },
                  "992": { "slidesPerView": 5, "spaceBetween": 24, "slidesPerGroup": 4 },
                  "1200": { "slidesPerView": 6, "spaceBetween": 24, "slidesPerGroup": 4 }
                }
              }'>
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {% if block.type == 'category' %}
                      {%- assign collection = collections[block.settings.collection] -%}
                      <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="wg-cls style-square hover-img">
                          <a href="{{ collection.url }}" class="image img-style d-block">
                            {%- if collection.featured_image != blank -%}
                              {{ collection.featured_image | image_url: width: 300 | image_tag:
                                loading: 'lazy',
                                width: 300,
                                height: 300,
                                class: 'lazyload'
                              }}
                            {%- endif -%}
                          </a>
                          <div class="cls-content text-center">
                            <a href="{{ collection.url }}" class="link text-md fw-medium">{{ collection.title }}</a>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {%- endfor -%}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-categories justify-content-center"></div>
              </div>
              {% if section.settings.show_navigation %}
                <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-categories"></div>
                <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-categories"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    {%- when 'bicycle' -%}
      <section>
        <div class="container">
          <div class="flat-title-v2 style-2 text-center justify-items-center wow fadeInUp">
            <a href="{{ routes.collections_url }}" class="tf-btn btn-out-line-green btn-small text-uppercase">{{ section.settings.button_text }}</a>
            <h4>
              {{ section.settings.title | newline_to_br }}
            </h4>
          </div>
        </div>
        <div class="slider-layout-right">
          <div dir="ltr" class="swiper tf-swiper tf-sw-right" data-swiper='{
            "slidesPerView": 2,
            "spaceBetween": 12,
            "speed": 1000,
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 2,
            "pagination": { "el": ".sw-pagination-cls-2", "clickable": true },
            "breakpoints": {
              "768": { "slidesPerView": 2.7, "spaceBetween": 12, "slidesPerGroup": 2 },
              "992": { "slidesPerView": 3.7, "spaceBetween": 24, "slidesPerGroup": 3 },
              "1200": { "slidesPerView": 4.7, "spaceBetween": 24, "slidesPerGroup": 3}
            }
          }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.type == 'category' %}
                  {%- assign collection = collections[block.settings.collection] -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="wg-cls style-abs type-2 hover-img">
                      <a href="{{ collection.url }}" class="image img-style d-block">
                        {%- if collection.featured_image != blank -%}
                          {{ collection.featured_image | image_url: width: 300 | image_tag:
                            loading: 'lazy',
                            class: 'lazyload',
                            alt: collection.title
                          }}
                        {%- endif -%}
                      </a>
                      <div class="cls-btn text-center">
                        <a href="{{ collection.url }}" class="tf-btn btn-cls btn-white hover-dark">{{ collection.title }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-2 justify-content-center"></div>
          </div>
        </div>
      </section>
    {%- when 'phonecase' -%}
      <section class="flat-spacing-11">
        <div class="container">
          <div class="flat-title wow fadeInUp">
            <h4 class="title">{{ section.settings.title }}</h4>
          </div>
          <div dir="ltr" class="wow fadeInUp swiper tf-swiper xl-px-26" data-swiper='{
            "slidesPerView": 2,
            "spaceBetween": 12,
            "speed": 800,
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 2,
            "navigation": {
              "clickable": true,
              "nextEl": ".nav-next-cate",
              "prevEl": ".nav-prev-cate"
            },
            "pagination": { "el": ".sw-pagination-cate", "clickable": true },
            "breakpoints": {
              "575": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 2 },    
              "768": { "slidesPerView": 4, "spaceBetween": 24, "slidesPerGroup": 3 },
              "1200": { "slidesPerView": {{ section.settings.products_to_show }}, "spaceBetween": 64, "slidesPerGroup": 3 }
            }
          }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.type == 'category' %}
                  {%- assign collection = collections[block.settings.collection] -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="wg-cls style-circle hover-img">
                      <a href="{{ collection.url }}" class="image img-style d-block">
                        {%- if collection.featured_image != blank -%}
                          {{ collection.featured_image | image_url: width: 300 | image_tag:
                            loading: 'lazy',
                            width: 300,
                            height: 300,
                            class: 'lazyload',
                            alt: collection.title
                          }}
                        {%- else -%}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      </a>
                      <div class="cls-content text-center">
                        <a href="{{ collection.url }}" class="link text-xl fw-medium">{{ collection.title }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            <span class="d-flex d-xl-none sw-dot-default sw-pagination-cate justify-content-center"></span>
            {% if section.settings.show_navigation %}
              <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-cate"></div>
              <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-cate"></div>
            {% endif %}
          </div>
        </div>
      </section>
  {%- endcase -%}
{%- endif -%}

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "layout1",
          "label": "Tab Layout"
        },
        {
          "value": "layout2",
          "label": "Slider Layout"
        },
        {
          "value": "bicycle",
          "label": "Bicycle Layout"
        },
        {
          "value": "phonecase",
          "label": "Phonecase Layout"
        }
      ],
      "default": "layout1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by Category"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Categories"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation buttons",
      "default": true,
      "info": "Enable or disable navigation arrows"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "label": "Products to show at once",
      "default": 6,
      "info": "Number of products visible in the slider at the same time"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products per collection",
      "default": 6,
      "info": "Number of products to show from each collection"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Category Tab",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Category"
        },
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections",
          "limit": 6
        }
      ]
    },
    {
      "type": "category",
      "name": "Category",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "settings": {
        "title": "Shop by Category",
        "products_to_show": 6,
        "products_per_collection": 6
      },
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "tab_title": "Men"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "Women"
          }
        }
      ]
    }
  ]
}
{% endschema %}