{%- if section.blocks.size > 0 -%}
  {%- case section.settings.layout -%}
    {%- when 'layout1' -%}
      <section class="flat-spacing-3" style="background-color: {{ section.settings.section_bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
        <div class="container">
          <div class="flat-animate-tab">
            <div class="flat-title-tab-categories {% if section.settings.enable_wow %}wow fadeInUp{% endif %} text-center" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
              <h4 class="title" style="color: {{ section.settings.title_color }};">
                {{ section.settings.title }}
              </h4>
              {% if section.blocks.size > 0 %}
                <ul class="menu-tab-line justify-content-center" role="tablist">
                  {% for block in section.blocks %}
                    <li class="nav-tab-item" role="presentation" {{ block.shopify_attributes }}>
                      <a href="#collection-{{ block.id }}" 
                         class="tab-link {% if forloop.first %}active{% endif %}" 
                         data-bs-toggle="tab"
                         data-active-color="{{ section.settings.tab_active_color }}"
                         data-inactive-color="{{ section.settings.tab_color }}"
                         style="color: {% if forloop.first %}{{ section.settings.tab_active_color }}{% else %}{{ section.settings.tab_color }}{% endif %};">
                        {{ collections[block.settings.collection].title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="tab-content">
              {% for block in section.blocks %}
                <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="collection-{{ block.id }}" role="tabpanel">
                  <div dir="ltr" class="swiper tf-swiper" 
                    data-swiper='{
                      "slidesPerView": 2,
                      "spaceBetween": {{ section.settings.space_between }},
                      "speed": {{ section.settings.speed }},
                      "observer": true,
                      "observeParents": true,
                      "slidesPerGroup": 2,
                      "autoplay": {% if section.settings.autoplay %}true{% else %}false{% endif %},
                      "autoplayDelay": {{ section.settings.autoplay_speed }},
                      "loop": {% if section.settings.loop %}true{% else %}false{% endif %},
                      "pagination": { 
                        "el": ".sw-pagination-{{ block.id }}", 
                        "clickable": true 
                      },
                      "breakpoints": {
                        "575": { 
                          "slidesPerView": 3, 
                          "spaceBetween": {{ section.settings.space_between }},
                          "slidesPerGroup": 2 
                        },    
                        "768": { 
                          "slidesPerView": 4, 
                          "spaceBetween": {{ section.settings.space_between }}, 
                          "slidesPerGroup": 3 
                        },
                        "1200": { 
                          "slidesPerView": {{ section.settings.products_to_show }}, 
                          "spaceBetween": {{ section.settings.space_between }}, 
                          "slidesPerGroup": {{ section.settings.products_to_show }}
                        }
                      }
                    }'>
                    <div class="swiper-wrapper">
                      {% for product in collections[block.settings.collection].products limit: section.settings.products_per_collection %}
                        <div class="swiper-slide">
                          <div class="wg-cls style-circle hover-img">
                            <a href="{{ product.url }}" class="image img-style d-block">
                              {% if product.featured_image != blank %}
                                {{ product.featured_image | image_url: width: 300 | image_tag:
                                  loading: 'lazy',
                                  width: 300,
                                  height: 300,
                                  class: 'lazyload'
                                }}
                              {% else %}
                                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                              {% endif %}
                            </a>
                            <div class="cls-content text-center">
                              <a href="{{ product.url }}" 
                                 class="link text-md fw-medium"
                                 style="color: {{ section.settings.product_color }};">
                                {{ product.title }}
                              </a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    {% if section.settings.show_dots %}
                    <span class="d-flex d-xl-none sw-dot-default sw-pagination-{{ block.id }} justify-content-center"></span>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {%- when 'layout2' -%}
      <section class="flat-spacing-3" style="background-color: {{ section.settings.section_bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
        <div class="container">
          <div class="flat-title text-start {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
            <h4 class="title" style="color: {{ section.settings.title_color }};">
              {{ section.settings.title }}
            </h4>
          </div>
          <div class="{% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
            <div class="fl-control-sw pos1">
              <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": {{ section.settings.space_between }},
                "speed": {{ section.settings.speed }},
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "autoplay": {% if section.settings.autoplay %}true{% else %}false{% endif %},
                "autoplayDelay": {{ section.settings.autoplay_speed }},
                "loop": {% if section.settings.loop %}true{% else %}false{% endif %},
                "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-categories",
                  "prevEl": ".nav-prev-categories"
                },
                "pagination": { "el": ".sw-pagination-categories", "clickable": true },
                "breakpoints": {
                  "575": { "slidesPerView": 3, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
                  "768": { "slidesPerView": 4, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 4 },
                  "992": { "slidesPerView": 5, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 4 },
                  "1200": { "slidesPerView": 6, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 4 }
                }
              }'>
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {%- assign collection = collections[block.settings.collection] -%}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                      <div class="wg-cls style-square hover-img">
                        <a href="{{ collection.url }}" class="image img-style d-block">
                          {%- if collection.featured_image != blank -%}
                            {{ collection.featured_image | image_url: width: 300 | image_tag:
                              loading: 'lazy',
                              width: 300,
                              height: 300,
                              class: 'lazyload'
                            }}
                          {%- endif -%}
                        </a>
                        <div class="cls-content text-center">
                          <a href="{{ collection.url }}" 
                             class="link text-md fw-medium"
                             style="color: {{ section.settings.product_color }};">
                            {{ collection.title }}
                          </a>
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
                {% if section.settings.show_dots %}
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-categories justify-content-center"></div>
                {% endif %}
              </div>
              {% if section.settings.show_arrows %}
              <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-categories"></div>
              <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-categories"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    {%- when 'bicycle' -%}
      <section style="background-color: {{ section.settings.section_bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
        <div class="container">
          <div class="flat-title-v2 style-2 text-center justify-items-center {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
            <a href="{{ routes.collections_url }}" 
               class="tf-btn btn-out-line-green btn-small text-uppercase"
               style="color: {{ section.settings.button_text_color }}; border-color: {{ section.settings.button_border_color }};">
              {{ section.settings.button_text }}
            </a>
            <h4 style="color: {{ section.settings.title_color }};">
              {{ section.settings.title | newline_to_br }}
            </h4>
          </div>
        </div>
        <div class="slider-layout-right">
          <div dir="ltr" class="swiper tf-swiper tf-sw-right" data-swiper='{
            "slidesPerView": 2,
            "spaceBetween": {{ section.settings.space_between }},
            "speed": {{ section.settings.speed }},
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 2,
            "autoplay": {% if section.settings.autoplay %}true{% else %}false{% endif %},
            "autoplayDelay": {{ section.settings.autoplay_speed }},
            "loop": {% if section.settings.loop %}true{% else %}false{% endif %},
            "pagination": { "el": ".sw-pagination-cls-2", "clickable": true },
            "breakpoints": {
              "768": { "slidesPerView": 2.7, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 2 },
              "992": { "slidesPerView": 3.7, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
              "1200": { "slidesPerView": 4.7, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3}
            }
          }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {%- assign collection = collections[block.settings.collection] -%}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div class="wg-cls style-abs type-2 hover-img">
                    <a href="{{ collection.url }}" class="image img-style d-block">
                      {%- if collection.featured_image != blank -%}
                        {{ collection.featured_image | image_url: width: 300 | image_tag:
                          loading: 'lazy',
                          class: 'lazyload',
                          alt: collection.title
                        }}
                      {%- endif -%}
                    </a>
                    <div class="cls-btn text-center">
                      <a href="{{ collection.url }}" 
                         class="tf-btn btn-cls btn-white hover-dark"
                         style="color: {{ section.settings.product_color }};">
                        {{ collection.title }}
                      </a>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
            {% if section.settings.show_dots %}
            <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-2 justify-content-center"></div>
            {% endif %}
          </div>
        </div>
      </section>
    {%- when 'phonecase' -%}
      <section class="flat-spacing-11" style="background-color: {{ section.settings.section_bg_color }}; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
        <div class="container">
          <div class="flat-title {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
            <h4 class="title" style="color: {{ section.settings.title_color }};">
              {{ section.settings.title }}
            </h4>
          </div>
          <div dir="ltr" class="{% if section.settings.enable_wow %}wow fadeInUp{% endif %} swiper tf-swiper xl-px-26" 
               {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}
               data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": {{ section.settings.space_between }},
                "speed": {{ section.settings.speed }},
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "autoplay": {% if section.settings.autoplay %}true{% else %}false{% endif %},
                "autoplayDelay": {{ section.settings.autoplay_speed }},
                "loop": {% if section.settings.loop %}true{% else %}false{% endif %},
                "navigation": {
                  "clickable": true,
                  "nextEl": ".nav-next-cate",
                  "prevEl": ".nav-prev-cate"
                },
                "pagination": { "el": ".sw-pagination-cate", "clickable": true },
                "breakpoints": {
                  "575": { "slidesPerView": 3, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 2 },    
                  "768": { "slidesPerView": 4, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
                  "1200": { "slidesPerView": {{ section.settings.products_to_show }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 }
                }
              }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {%- assign collection = collections[block.settings.collection] -%}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div class="wg-cls style-circle hover-img">
                    <a href="{{ collection.url }}" class="image img-style d-block">
                      {%- if collection.featured_image != blank -%}
                        {{ collection.featured_image | image_url: width: 300 | image_tag:
                          loading: 'lazy',
                          width: 300,
                          height: 300,
                          class: 'lazyload',
                          alt: collection.title
                        }}
                      {%- else -%}
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </a>
                    <div class="cls-content text-center">
                      <a href="{{ collection.url }}" 
                         class="link text-xl fw-medium"
                         style="color: {{ section.settings.product_color }};">
                        {{ collection.title }}
                      </a>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
            {% if section.settings.show_dots %}
            <span class="d-flex d-xl-none sw-dot-default sw-pagination-cate justify-content-center"></span>
            {% endif %}
            {% if section.settings.show_arrows %}
            <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-cate"></div>
            <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-cate"></div>
            {% endif %}
          </div>
        </div>
      </section>
  {%- endcase -%}
{%- endif -%}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabLinks = document.querySelectorAll('.tab-link');
    
    tabLinks.forEach(link => {
      link.addEventListener('click', function() {
        // Remove active class and set inactive color from all tabs
        tabLinks.forEach(tab => {
          tab.classList.remove('active');
          tab.style.color = tab.getAttribute('data-inactive-color');
        });
        
        // Add active class and set active color to clicked tab
        this.classList.add('active');
        this.style.color = this.getAttribute('data-active-color');
      });
    });
  });
</script>

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "layout1",
          "label": "Tab Layout"
        },
        {
          "value": "layout2",
          "label": "Slider Layout"
        },
        {
          "value": "bicycle",
          "label": "Bicycle Layout"
        },
        {
          "value": "phonecase",
          "label": "Phonecase Layout"
        }
      ],
      "default": "layout1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Explore a variety of high-performance bikes\nbuilt for speed, durability, and adventure."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Categories"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "label": "Products to show at once",
      "default": 6,
      "info": "Number of products visible in the slider at the same time"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products per collection",
      "default": 6,
      "info": "Number of products to show from each collection"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "tab_color",
      "label": "Tab color (inactive)",
      "default": "#666666",
      "info": "Color for inactive tabs"
    },
    {
      "type": "color",
      "id": "tab_active_color",
      "label": "Tab color (active)",
      "default": "#000000",
      "info": "Color for active tab"
    },
    {
      "type": "color",
      "id": "product_color",
      "label": "Product color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button border color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 2000,
      "max": 9000,
      "step": 500,
      "unit": "ms",
      "label": "Autoplay delay",
      "default": 5000
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Enable loop",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 100,
      "max": 2000,
      "step": 100,
      "unit": "ms",
      "label": "Transition speed",
      "default": 800
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show navigation arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show pagination dots",
      "default": true
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Space between items",
      "default": 24
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "enable_wow",
      "label": "Enable fade-in animation",
      "default": true
    },
    {
      "type": "select",
      "id": "wow_delay",
      "label": "Animation delay",
      "options": [
        { "value": "0s", "label": "None" },
        { "value": "0.2s", "label": "Short" },
        { "value": "0.5s", "label": "Medium" },
        { "value": "0.8s", "label": "Long" }
      ],
      "default": "0.2s"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    { "type": "@theme" }
  ],
  "presets": [
    {
      "name": "Categories",
      "settings": {
        "title": "Categories",
        "products_to_show": 6,
        "products_per_collection": 6
      },
      "blocks": [
        { "type": "category" },
        { "type": "category" }
      ]
    }
  ]
}
{% endschema %}
