<section class="flat-spacing-3">
  <div class="container">
    <div class="flat-animate-tab">
      <div class="flat-title-tab-categories wow fadeInUp text-center">
        <h4 class="title">{{ section.settings.title }}</h4>
        {% if section.blocks.size > 0 %}
          <ul class="menu-tab-line justify-content-center" role="tablist">
            {% for block in section.blocks %}
              <li class="nav-tab-item" role="presentation" {{ block.shopify_attributes }}>
                <a href="#collection-{{ block.id }}" class="tab-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab">
                  {{ block.settings.collection.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="tab-content">
        {% for block in section.blocks %}
          <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="collection-{{ block.id }}" role="tabpanel">
            <div dir="ltr" class="swiper tf-swiper" 
              data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": 12,
                "speed": 800,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "pagination": { 
                  "el": ".sw-pagination-{{ block.id }}", 
                  "clickable": true 
                },
                "breakpoints": {
                  "575": { 
                    "slidesPerView": 3, 
                    "spaceBetween": 12,
                    "slidesPerGroup": 2 
                  },    
                  "768": { 
                    "slidesPerView": 4, 
                    "spaceBetween": 24, 
                    "slidesPerGroup": 3 
                  },
                  "1200": { 
                    "slidesPerView": {{ section.settings.products_to_show }}, 
                    "spaceBetween": 64, 
                    "slidesPerGroup": {{ section.settings.products_to_show }}
                  }
                }
              }'>
              <div class="swiper-wrapper">
                {% for product in block.settings.collection.products limit: section.settings.products_per_collection %}
                  <div class="swiper-slide">
                    <div class="wg-cls style-circle hover-img">
                      <a href="{{ product.url }}" class="image img-style d-block">
                        {% if product.featured_image %}
                          <img src="{{ product.featured_image | img_url: 'master' }}"
                               data-src="{{ product.featured_image | img_url: 'master' }}"
                               alt="{{ product.title | escape }}" class="lazyload">
                        {% else %}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                      </a>
                      <div class="cls-content text-center">
                        <a href="{{ product.url }}" class="link text-md fw-medium">{{ product.title }}</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <span class="d-flex d-xl-none sw-dot-default sw-pagination-{{ block.id }} justify-content-center"></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Categories"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "label": "Products to show at once",
      "default": 6,
      "info": "Number of products visible in the slider at the same time"
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products per collection",
      "default": 6,
      "info": "Number of products to show from each collection"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "settings": {
        "title": "Categories",
        "products_to_show": 6,
        "products_per_collection": 6
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %} 