<style>
  .nav-button-top {
    top: calc(50% - 20px) !important;
  }
</style>

{%- if section.blocks.size > 0 -%}
  {%- case section.settings.layout -%}
    {%- when 'layout1' -%}
      <section class="flat-spacing-3">
        {% if section.settings.width == 'boxed' %}
          <div class="container">
        {% endif %}
          <div class="flat-animate-tab">
            <div class="flat-title-tab-categories wow fadeInUp text-center">
              <h4 class="title">{{ section.settings.title }}</h4>
              {% if section.blocks.size > 0 %}
                <ul class="menu-tab-line justify-content-center" role="tablist">
                  {% for block in section.blocks %}
                    {% if block.type == 'tab' %}
                      <li class="nav-tab-item" role="presentation" {{ block.shopify_attributes }}>
                        <a href="#tab-{{ block.id }}" class="tab-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab">
                          {{ block.settings.tab_title }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="tab-content">
              {% for block in section.blocks %}
                {% if block.type == 'tab' %}
                  <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="tab-{{ block.id }}" role="tabpanel">
                    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                      "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                      "spaceBetween": {{ section.settings.space_between_mobile }},
                      "speed": {{ section.settings.transition_speed }},
                      "observer": true,
                      "observeParents": true,
                      "navigation": {% if section.settings.show_navigation %}{
                        "clickable": true,
                        "nextEl": ".nav-next-categories",
                        "prevEl": ".nav-prev-categories"
                      }{% else %}false{% endif %},
                      "pagination": {% if section.settings.show_pagination %}{
                        "el": ".sw-pagination-categories",
                        "clickable": true
                      }{% else %}false{% endif %},
                      "autoplay": {% if section.settings.autoplay %}{
                        "delay": {{ section.settings.autoplay_speed }}
                      }{% else %}false{% endif %},
                      "breakpoints": {
                        "575": {
                          "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                          "spaceBetween": {{ section.settings.space_between_tablet }}
                        },
                        "768": {
                          "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                          "spaceBetween": {{ section.settings.space_between_desktop }}
                        }
                      }
                    }'>
                      <div class="swiper-wrapper">
                        {% for collection in block.settings.collections %}
                          {% if collection != blank %}
                            <div class="swiper-slide">
                              <div class="wg-cls style-circle hover-img">
                                <a href="{{ collection.url }}" class="image img-style d-block">
                                  {% if collection.featured_image != blank %}
                                    {{ collection.featured_image | image_url: width: 300 | image_tag: loading: 'lazy', width: 300, height: 300, class: 'lazyload', alt: collection.title }}
                                  {% else %}
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                  {% endif %}
                                </a>
                                <div class="cls-content text-center">
                                  <a href="{{ collection.url }}" class="link text-md fw-medium">{{ collection.title }}</a>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <span class="d-flex d-xl-none sw-dot-default sw-pagination-categories justify-content-center"></span>
                      {% if section.settings.show_navigation %}
                        <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-categories nav-button-top"></div>
                        <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-categories nav-button-top"></div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% if section.settings.width == 'boxed' %}
          </div>
        {% endif %}
      </section>
    {%- when 'layout2' -%}
      <section class="flat-spacing-3">
        {% if section.settings.width == 'boxed' %}
          <div class="container">
        {% endif %}
          <div class="flat-title text-start wow fadeInUp">
            <h4 class="title">{{ section.settings.title }}</h4>
          </div>
          <div class="wow fadeInUp">
            <div class="fl-control-sw pos1">
              <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between_mobile }},
                "speed": {{ section.settings.transition_speed }},
                "observer": true,
                "observeParents": true,
                "navigation": {% if section.settings.show_navigation %}{
                  "clickable": true,
                  "nextEl": ".nav-next-categories",
                  "prevEl": ".nav-prev-categories"
                }{% else %}false{% endif %},
                "pagination": {% if section.settings.show_pagination %}{
                  "el": ".sw-pagination-categories",
                  "clickable": true
                }{% else %}false{% endif %},
                "autoplay": {% if section.settings.autoplay %}{
                  "delay": {{ section.settings.autoplay_speed }}
                }{% else %}false{% endif %},
                "breakpoints": {
                  "575": {
                    "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                    "spaceBetween": {{ section.settings.space_between_tablet }}
                  },
                  "768": {
                    "slidesPerView": {{ section.settings.slides_per_view_desktop }},
                    "spaceBetween": {{ section.settings.space_between_desktop }}
                  }
                }
              }'>
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {% if block.type == 'category' %}
                      {%- assign collection = collections[block.settings.collection] -%}
                      <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="wg-cls style-square hover-img">
                          <a href="{{ collection.url }}" class="image img-style d-block">
                            {%- if collection.featured_image != blank -%}
                              {{ collection.featured_image | image_url: width: 300 | image_tag:
                                loading: 'lazy',
                                width: 300,
                                height: 300,
                                class: 'lazyload'
                              }}
                            {%- endif -%}
                          </a>
                          <div class="cls-content text-center">
                            <a href="{{ collection.url }}" class="link text-md fw-medium">{{ collection.title }}</a>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {%- endfor -%}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-categories justify-content-center"></div>
              </div>
              {% if section.settings.show_navigation %}
                <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-categories"></div>
                <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-categories"></div>
              {% endif %}
            </div>
          </div>
        {% if section.settings.width == 'boxed' %}
          </div>
        {% endif %}
      </section>
    {%- when 'bicycle' -%}
      <section>
        {% if section.settings.width == 'boxed' %}
          <div class="container">
        {% endif %}
          <div class="flat-title-v2 text-center justify-items-center wow fadeInUp">
            {% if section.settings.button_url != blank %}
              <a href="{{ section.settings.button_url }}" class="tf-btn btn-out-line-green btn-small text-uppercase">{{ section.settings.button_text }}</a>
            {% endif %}
            <h4 style="max-width: 850px;">
              {{ section.settings.title | newline_to_br }}
            </h4>
          </div>
        {% if section.settings.width == 'boxed' %}
          </div>
        {% endif %}
        <div class="slider-layout-right">
          <div dir="ltr" class="swiper tf-swiper tf-sw-right" data-swiper='{
            "slidesPerView": 2,
            "spaceBetween": 12,
            "speed": 1000,
            "slidesPerGroup": 2,
            "observer": true,
            "observeParents": true,
            "navigation": {% if section.settings.show_navigation %}{
              "clickable": true,
              "nextEl": ".nav-next-categories",
              "prevEl": ".nav-prev-categories"
            }{% else %}false{% endif %},
            "pagination": {% if section.settings.show_pagination %}{
              "el": ".sw-pagination-cls-2",
              "clickable": true
            }{% else %}false{% endif %},
            "autoplay": {% if section.settings.autoplay %}{
              "delay": {{ section.settings.autoplay_speed }}
            }{% else %}false{% endif %},
            "breakpoints": {
              "768": { "slidesPerView": 2.7, "spaceBetween": {{ section.settings.space_between_tablet }}, "slidesPerGroup": 2 },
              "992": { "slidesPerView": 3.7, "spaceBetween": {{ section.settings.space_between_desktop }}, "slidesPerGroup": 3 },
              "1200": { "slidesPerView": 4.7, "spaceBetween": {{ section.settings.space_between_desktop }}, "slidesPerGroup": 3}
            }
          }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.type == 'category' %}
                  {%- assign collection = collections[block.settings.collection] -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="wg-cls style-abs type-2 hover-img">
                      <a href="{{ collection.url }}" class="image img-style d-block">
                        {%- if collection.featured_image != blank -%}
                          {{ collection.featured_image | image_url: width: 300 | image_tag:
                            loading: 'lazy',
                            class: 'lazyload',
                            alt: collection.title
                          }}
                        {%- endif -%}
                      </a>
                      <div class="cls-btn text-center">
                        <a href="{{ collection.url }}" class="tf-btn btn-cls btn-white hover-dark">{{ collection.title  | truncate: 10 }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-2 justify-content-center"></div>
            {% if section.settings.show_navigation %}
              <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-categories"></div>
              <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-categories"></div>
            {% endif %}
          </div>
        </div>
      </section>
    {%- when 'phonecase' -%}
      <section class="flat-spacing-11">
        {% if section.settings.width == 'boxed' %}
          <div class="container">
        {% endif %}
          <div class="flat-title wow fadeInUp">
            <h4 class="title">{{ section.settings.title }}</h4>
          </div>
          <div dir="ltr" class="wow fadeInUp swiper tf-swiper xl-px-26" data-swiper='{
            "slidesPerView": {{ section.settings.slides_per_view_mobile }},
            "spaceBetween": {{ section.settings.space_between_mobile }},
            "speed": {{ section.settings.transition_speed }},
            "observer": true,
            "observeParents": true,
            "navigation": {% if section.settings.show_navigation %}{
              "clickable": true,
              "nextEl": ".nav-next-cate",
              "prevEl": ".nav-prev-cate"
            }{% else %}false{% endif %},
            "pagination": {% if section.settings.show_pagination %}{
              "el": ".sw-pagination-cate",
              "clickable": true
            }{% else %}false{% endif %},
            "autoplay": {% if section.settings.autoplay %}{
              "delay": {{ section.settings.autoplay_speed }}
            }{% else %}false{% endif %},
            "breakpoints": {
              "575": { "slidesPerView": 3, "spaceBetween": {{ section.settings.space_between_tablet }} ,"slidesPerGroup": 2 },    
              "768": { "slidesPerView": 4, "spaceBetween": {{ section.settings.space_between_desktop }}, "slidesPerGroup": 3 },
              "1200": { "slidesPerView": 6, "spaceBetween": {{ section.settings.space_between_desktop }}, "slidesPerGroup": 3}
            }
          }'>
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {% if block.type == 'category' %}
                  {%- assign collection = collections[block.settings.collection] -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="wg-cls style-circle hover-img">
                      <a href="{{ collection.url }}" class="image img-style d-block">
                        {%- if collection.featured_image != blank -%}
                          {{ collection.featured_image | image_url: width: 300 | image_tag:
                            loading: 'lazy',
                            width: 300,
                            height: 300,
                            class: 'lazyload',
                            alt: collection.title
                          }}
                        {%- else -%}
                          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      </a>
                      <div class="cls-content text-center">
                        <a href="{{ collection.url }}" class="link text-xl fw-medium">{{ collection.title }}</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
            <span class="d-flex d-xl-none sw-dot-default sw-pagination-cate justify-content-center"></span>
            {% if section.settings.show_navigation %}
              <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-cate"></div>
              <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-cate"></div>
            {% endif %}
          </div>
        {% if section.settings.width == 'boxed' %}
          </div>
        {% endif %}
      </section>
  {%- endcase -%}
{%- endif -%}

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "info": "Tab Layout uses 'Category Tab' blocks, other layouts use 'Category' blocks",
      "options": [
        {
          "value": "layout1",
          "label": "Tab Layout"
        },
        {
          "value": "layout2",
          "label": "Slider Layout 1"
        },
        {
          "value": "bicycle",
          "label": "Slider Layout 2"
        },
        {
          "value": "phonecase",
          "label": "Slider Layout 3"
        }
      ],  
      "default": "layout1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by Category"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Categories",
      "visible_if": "{{ section.settings.layout == 'bicycle' }}"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
      "default": "/collections",
      "visible_if": "{{ section.settings.layout == 'bicycle' }}"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Items per view (Mobile)",
      "default": 2,
      "visible_if": "{{ section.settings.layout == 'layout1' }} or {{ section.settings.layout == 'layout2' }}"
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Items per view (Tablet)",
      "default": 3,
      "visible_if": "{{ section.settings.layout == 'layout1' }} or {{ section.settings.layout == 'layout2' }}"
    },
    {
      "type": "range",
      "id": "slides_per_view_desktop",
      "min": 3,
      "max": 8,
      "step": 1,
      "label": "Items per view (Desktop)",
      "default": 6,
      "visible_if": "{{ section.settings.layout == 'layout1' }} or {{ section.settings.layout == 'layout2' }}"
    },
    {
      "type": "range",
      "id": "space_between_mobile",
      "min": 0,
      "max": 30,
      "step": 2,
      "label": "Space between items (Mobile)",
      "default": 12,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "space_between_tablet",
      "min": 0,
      "max": 48,
      "step": 2,
      "label": "Space between items (Tablet)",
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "space_between_desktop",
      "min": 0,
      "max": 64,
      "step": 4,
      "label": "Space between items (Desktop)",
      "default": 64,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "transition_speed",
      "min": 300,
      "max": 2000,
      "step": 100,
      "label": "Transition speed",
      "default": 800,
      "unit": "ms"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show navigation buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination dots on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 500,
      "label": "Autoplay speed (ms)",
      "default": 3000
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Category Tab (Tab Layout)",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Category"
        },
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections",
          "limit": 6
        }
      ]
    },
    {
      "type": "category",
      "name": "Category (Other Layouts)",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories",
      "category": "Category",
      "settings": {
        "title": "Shop by Category"
      },
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "tab_title": "Men"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "Women"
          }
        }
      ]
    }
  ]
}
{% endschema %}