<section class="s-contact flat-spacing-13">
  <div class="container" style="padding-left: 15px; padding-right: 15px;">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'map' %}
              <div class="wg-map">
                <iframe
                  src="{{ block.settings.map_url }}"
                  class="map" 
                  style="border:none;" 
                  allowfullscreen="" 
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
        <div class="row">
          {% when 'contact_info' %}
            <div class="col-lg-6" {{ block.shopify_attributes }}>
              <div class="content-left">
                <div class="title fw-medium display-md-2">
                  {{ block.settings.contact_title }}
                </div>
                <p class="sub-title text-main">
                  {{ block.settings.contact_subtitle }}
                </p>
                <ul class="contact-list">
                  <li>
                    <p>
                      Address:
                      <a class="link" href="{{ block.settings.address_link }}" target="_blank">
                        {{ block.settings.address }}
                      </a>
                    </p>
                  </li>
                  <li>
                    <p>
                      Phone number:
                      <a class="link" href="tel:{{ block.settings.phone }}">
                        {{ block.settings.phone }}
                      </a>
                    </p>
                  </li>
                  <li>
                    <p>
                      Email:
                      <a class="link" href="mailto:{{ block.settings.email }}">
                        {{ block.settings.email }}
                      </a>
                    </p>
                  </li>
                  <li>
                    <p>
                      Open:
                      <span class="text-main">
                        {{ block.settings.hours }}
                      </span>
                    </p>
                  </li>
                </ul>
                <ul class="tf-social-icon style-large">
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a href="{{ settings.social_facebook_link }}" class="social-item social-facebook">
                        <i class="icon icon-fb"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_instagram_link != blank %}
                    <li>
                      <a href="{{ settings.social_instagram_link }}" class="social-item social-instagram">
                        <i class="icon icon-instagram"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_twitter_link != blank %}
                    <li>
                      <a href="{{ settings.social_twitter_link }}" class="social-item social-x">
                        <i class="icon icon-x"></i>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_snapchat_link != blank %}
                    <li>
                      <a href="{{ settings.social_snapchat_link }}" class="social-item social-snapchat">
                        <i class="icon icon-snapchat"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>

          {% when 'contact_form' %}
            <div class="col-lg-6" {{ block.shopify_attributes }}>
              <div class="content-right">
                <div class="title fw-medium display-md-2">
                  {{ block.settings.form_title }}
                </div>
                <p class="sub-title text-main">
                  {{ block.settings.form_subtitle }}
                </p>
                <div class="form-contact-wrap">
                  {% form 'contact', class: 'form-default' %}
                    <div class="wrap">
                      <div class="cols">
                        <fieldset>
                          <label for="ContactFormName">Your name*</label>
                          <input 
                            type="text"
                            name="contact[name]"
                            id="ContactFormName"
                            value="{{ form.name }}"
                            class="radius-8"
                            required
                          >
                        </fieldset>
                        <fieldset>
                          <label for="ContactFormEmail">Your email*</label>
                          <input
                            type="email"
                            name="contact[email]"
                            id="ContactFormEmail"
                            value="{{ form.email }}"
                            class="radius-8"
                            required
                          >
                        </fieldset>
                      </div>
                      <div class="cols">
                        <fieldset class="textarea">
                          <label for="ContactFormMessage">Message*</label>
                          <textarea
                            name="contact[body]"
                            id="ContactFormMessage"
                            class="radius-8"
                            required
                          >{{ form.body }}</textarea>
                        </fieldset>
                      </div>
                      <div class="button-submit">
                        <button class="tf-btn animate-btn" type="submit">
                          {{ block.settings.submit_button_text }}
                        </button>
                      </div>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact Us",
  "blocks": [
    {
      "type": "map",
      "name": "Map",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "map_url",
          "label": "Google Maps Embed URL",
          "default": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27294.62418958524!2d151.25730233429948!3d-33.82005608618041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ab8bc95a137f%3A0x358f04a7f6f5f6a6!2sGrotto%20Point%20Lighthouse!5e0!3m2!1sen!2s!4v1733976867160!5m2!1sen!2s"
        }
      ]
    },
    {
      "type": "contact_info",
      "name": "Contact Information",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_title",
          "label": "Contact Title",
          "default": "Contact Us"
        },
        {
          "type": "text",
          "id": "contact_subtitle",
          "label": "Contact Subtitle",
          "default": "Have a question? Please contact us using the customer support channels below."
        },
        {
          "type": "text",
          "id": "address",
          "label": "Address",
          "default": "15 Yarran st, Punchbowl, NSW, Australia"
        },
        {
          "type": "text",
          "id": "address_link",
          "label": "Address Link",
          "default": "https://www.google.com/maps?q=15+Yarran+st,+Punchbowl,+NSW,+Australia"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number",
          "default": "+1 234 567"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email",
          "default": "contact@vince.com"
        },
        {
          "type": "text",
          "id": "hours",
          "label": "Business Hours",
          "default": "8am - 7pm, Mon - Sat"
        }
      ]
    },
    {
      "type": "contact_form",
      "name": "Contact Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "form_title",
          "label": "Form Title",
          "default": "Get In Touch"
        },
        {
          "type": "text",
          "id": "form_subtitle",
          "label": "Form Subtitle",
          "default": "Please submit all general enquiries in the contact form below and we look forward to hearing from you soon."
        },
        {
          "type": "text",
          "id": "submit_button_text",
          "label": "Submit Button Text",
          "default": "Send"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Us",
      "blocks": [
        {
          "type": "map"
        },
        {
          "type": "contact_info"
        },
        {
          "type": "contact_form"
        }
      ]
    }
  ]
}
{% endschema %}