<div class="flat-spacing-5">
  <div class="container">
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
      "slidesPerView": 1,
      "speed": 800,
      "observer": true,
      "observeParents": true,
      "slidesPerGroup": 1,
      "navigation": {
        "clickable": true,
        "nextEl": ".nav-next-cls",
        "prevEl": ".nav-prev-cls"
      },
      "pagination": { "el": ".sw-pagination-cls", "clickable": true },
      "breakpoints": {
        "575": { "slidesPerView": 2, "slidesPerGroup": 2 },
        "1200": { "slidesPerView": {{ section.settings.slides_per_view }}, "slidesPerGroup": {{ section.settings.slides_per_view }} }
      }
    }'>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection != blank %}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              <div class="fs-cls lg hover-img">
                <div class="img-style image">
                  {% if collection.featured_image != blank %}
                    <img src="{{ collection.featured_image | img_url: 'master' }}"
                      data-src="{{ collection.featured_image | img_url: 'master' }}" 
                      alt="{{ collection.title | escape }}"
                      class="lazyload">
                  {% endif %}
                </div>
                <div class="content wow fadeInUp">
                  <a href="{{ collection.url }}" class="tf-btn font-2 btn-white hover-icon-2 hover-dark">
                    {{ collection.title }}
                    <i class="icon-arrow-right icon"></i>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fashion Women Collection",
  "settings": [
    {
      "type": "range",
      "id": "slides_per_view",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Slides per view (Desktop)"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fashion Women Collection",
      "blocks": [
        {
          "type": "category",
          "settings": {
            "collection": "women-clothes"
          }
        },
        {
          "type": "category",
          "settings": {
            "collection": "women-accessories"
          }
        },
        {
          "type": "category",
          "settings": {
            "collection": "women-sportwear"
          }
        }
      ]
    }
  ]
}
{% endschema %} 