<!-- Testimonial -->
<div class="flat-spacing-3">
  <div class="container">
    <div class="wrapper-thumbs-tes-2 flat-thumbs-tes">
      <div class="box-left">
        <div dir="ltr" class="swiper tf-tes-main" data-space-lg="24" data-space="12">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                <div class="box-testimonial-main wow fadeInLeft">
                  <span class="quote icon-quote2"></span>
                  <div class="content">
                    <div class="list-star-default">
                      {% for i in (1..5) %}
                        <i class="icon-star"></i>
                      {% endfor %}
                    </div>
                    <div class="title-review">{{ block.settings.title }}</div>
                    <p class="text-review display-xs">{{ block.settings.review }}</p>
                    <div class="box-author">
                      <div class="img d-md-none">
                        {% if block.settings.author_image != blank %}
                          {{ block.settings.author_image | image_url: width: 100 | image_tag:
                            loading: 'lazy',
                            alt: block.settings.author_name
                          }}
                        {% endif %}
                      </div>
                      <div class="info">
                        <div class="name text-md fw-medium">{{ block.settings.author_name }}</div>
                        <a href="{{ block.settings.product_link }}" class="meta link">
                          Purchase item: <span class="fw-medium">{{ block.settings.product_name }}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="box-nav-swiper">
            <div class="swiper-button-prev nav-swiper size-30 style-line nav-prev-tes"></div>
            <div class="swiper-button-next nav-swiper size-30 style-line nav-next-tes"></div>
          </div>
        </div>
      </div>
      <div class="box-right">
        <div dir="ltr" class="swiper tf-thumb-tes" data-space-lg="24" data-space="12">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide hover-img">
                <div class="img-sw-thumb img-style">
                  {% if block.settings.author_image != blank %}
                    {{ block.settings.author_image | image_url: width: 200 | image_tag:
                      loading: 'lazy',
                      class: 'lazyload',
                      alt: block.settings.author_name
                    }}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Testimonial -->

<div class="flat-spacing-5">
  <div class="container">
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
      "slidesPerView": 1,
      "speed": 800,
      "observer": true,
      "observeParents": true,
      "slidesPerGroup": 1,
      "navigation": {
        "clickable": true,
        "nextEl": ".nav-next-cls",
        "prevEl": ".nav-prev-cls"
      },
      "pagination": { "el": ".sw-pagination-cls", "clickable": true },
      "breakpoints": {
        "575": { "slidesPerView": 2, "slidesPerGroup": 2 },
        "1200": { "slidesPerView": {{ section.settings.slides_per_view }}, "slidesPerGroup": {{ section.settings.slides_per_view }} }
      }
    }'>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection != blank %}
            <div class="swiper-slide" {{ block.shopify_attributes }}>
              <div class="fs-cls lg hover-img">
                <div class="img-style image">
                  {% if collection.featured_image != blank %}
                    <img src="{{ collection.featured_image | img_url: 'master' }}"
                      data-src="{{ collection.featured_image | img_url: 'master' }}" 
                      alt="{{ collection.title | escape }}"
                      class="lazyload">
                  {% endif %}
                </div>
                <div class="content wow fadeInUp">
                  <a href="{{ collection.url }}" class="tf-btn font-2 btn-white hover-icon-2 hover-dark">
                    {{ collection.title }}
                    <i class="icon-arrow-right icon"></i>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fashion Women Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "slides_per_view",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Slides per view (Desktop)"
    }
  ],
  "blocks": [
    {
      "type": "collection_category",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fashion Women Collection",
      "blocks": [
        {
          "type": "collection_category",
          "settings": {
            "collection": "women-clothes"
          }
        },
        {
          "type": "collection_category",
          "settings": {
            "collection": "women-accessories"
          }
        },
        {
          "type": "collection_category",
          "settings": {
            "collection": "women-sportwear"
          }
        }
      ]
    }
  ]
}
{% endschema %} 