<div class="tf-slideshow slider-fashion-3 slider-default space-abs-header">
  <div class="swiper tf-sw-slideshow slider-effect-fade" 
    data-effect="fade" 
    data-preview="{{ section.settings.slides_per_view }}" 
    data-tablet="{{ section.settings.slides_per_view_tablet }}"
    data-mobile="{{ section.settings.slides_per_view_mobile }}" 
    data-space="{{ section.settings.space_between }}" 
    data-space-mb="{{ section.settings.space_between_mobile }}" 
    data-loop="{{ section.settings.enable_loop }}" 
    data-auto-play="{{ section.settings.autoplay }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'slide' %}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <div class="slider-wrap bg-type-{{ block.settings.background_type }}">
              <div class="image">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url: 'master' }}"
                    data-src="{{ block.settings.image | img_url: 'master' }}" 
                    alt="{{ block.settings.image.alt | escape }}" 
                    class="lazyload">
                {% endif %}
              </div>
              <div class="box-content">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-7 col-10">
                      <div class="content-slider style-2 text-center">
                        <div class="box-title-slider">
                          {% if block.settings.subtitle != blank %}
                            <p class="body-text-2 fw-semibold fade-item fade-item-1 font-2">
                              {{ block.settings.subtitle }}
                            </p>
                          {% endif %}
                          {% if block.settings.title != blank %}
                            <div class="heading display-lg-3 fade-item fade-item-2 font-2">
                              {{ block.settings.title }}
                            </div>
                          {% endif %}
                          {% if block.settings.description != blank %}
                            <p class="sub text-md fade-item fade-item-3 text-main">
                              {{ block.settings.description }}
                            </p>
                          {% endif %}
                        </div>
                        {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                          <div class="box-btn-slider fade-item fade-item-4">
                            <a href="{{ block.settings.button_link }}" class="tf-btn animate-btn font-2">
                              {{ block.settings.button_text }}
                              <i class="icon icon-arr-right"></i>
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="wrap-pagination">
      <div class="container">
        <div class="sw-dots sw-pagination-slider justify-content-center"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fashion Women Slider",
  "settings": [
    {
      "type": "range",
      "id": "slides_per_view",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "Slides per view"
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "Slides per view (Tablet)"
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "Slides per view (Mobile)"
    },
    {
      "type": "range",
      "id": "space_between",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 0,
      "label": "Space between slides"
    },
    {
      "type": "range",
      "id": "space_between_mobile",
      "min": 0,
      "max": 30,
      "step": 5,
      "default": 0,
      "label": "Space between slides (Mobile)"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "label": "Enable loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable autoplay",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide image"
        },
        {
          "type": "select",
          "id": "background_type",
          "label": "Background type",
          "options": [
            {
              "value": "7",
              "label": "Type 7"
            },
            {
              "value": "8",
              "label": "Type 8"
            },
            {
              "value": "9",
              "label": "Type 9"
            }
          ],
          "default": "7"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "SUMMER COLLECTION"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Everyday Essentials"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Versatile pieces for all-day style"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop Collection"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fashion Women Slider",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "background_type": "7",
            "subtitle": "SUMMER COLLECTION",
            "title": "Everyday Essentials",
            "description": "Versatile pieces for all-day style",
            "button_text": "Shop Collection"
          }
        },
        {
          "type": "slide",
          "settings": {
            "background_type": "8",
            "subtitle": "SUMMER COLLECTION",
            "title": "Bold and Beautiful",
            "description": "Stand out with chic, trend-setting women's fashion",
            "button_text": "Shop Collection"
          }
        },
        {
          "type": "slide",
          "settings": {
            "background_type": "9",
            "subtitle": "SUMMER COLLECTION",
            "title": "Feminine Elegance",
            "description": "Find the perfect outfit for any occasion",
            "button_text": "Shop Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %} 