<!-- Collection -->
{% if section.settings.layout == 'layout2' %}
    {% if section.settings.width == 'boxed' %}
        <div class="container">
    {% endif %}
        <div dir="ltr" class="swiper tf-swiper" data-swiper='{
            "slidesPerView": {{ section.settings.slides_per_view_mobile }},
            "spaceBetween": {{ section.settings.space_between_mobile }},
            "speed": {{ section.settings.speed }},
            "observer": {{ section.settings.enable_observer }},
            "observeParents": {{ section.settings.enable_observer }},
            "slidesPerGroup": {{ section.settings.slides_per_group_mobile }},
            "navigation": {% if section.settings.enable_navigation %}{
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
            }{% else %}false{% endif %},
            "pagination": {% if section.settings.show_pagination %}{
                "el": ".sw-pagination-cls",
                "clickable": true
            }{% else %}false{% endif %},
            "autoplay": {% if section.settings.enable_autoplay %}{
                "delay": {{ section.settings.autoplay_speed }},
                "pauseOnMouseEnter": {{ section.settings.pause_on_hover }},
                "disableOnInteraction": false
            }{% else %}false{% endif %},
            "breakpoints": {
                "575": {
                    "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                    "spaceBetween": {{ section.settings.space_between_mobile }},
                    "slidesPerGroup": {{ section.settings.slides_per_group_tablet }}
                },
                "768": {
                    "slidesPerView": {{ section.settings.slides_per_view }},
                    "spaceBetween": {{ section.settings.space_between_desktop }},
                    "slidesPerGroup": {{ section.settings.slides_per_group_desktop }}
                }
            }
        }'>
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="fs-cls lg hover-img">
                        {% if collection.featured_image != blank or block.settings.custom_image != blank %}
                            <div class="img-style image">
                                <img src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}"
                                    data-src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}" 
                                    alt="{{ collection.title | escape }}" 
                                    class="lazyload"
                                    width="{{ block.settings.custom_image.width | default: collection.featured_image.width }}"
                                    height="{{ block.settings.custom_image.height | default: collection.featured_image.height }}">
                            </div>
                        {% endif %}
                        <div class="content wow fadeInUp">
                            <a href="{{ collection.url }}" class="tf-btn font-2 btn-white hover-icon-2 hover-dark">
                                {{ collection.title }}
                                <i class="icon-arrow-right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
    {% if section.settings.width == 'boxed' %}
        </div>
    {% endif %}
{% elsif section.settings.layout == 'layout3' %}
    {% if section.settings.width == 'boxed' %}
        <div class="container">
    {% endif %}
        <div class="mx_40 my_24">
            <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between_mobile }},
                "speed": {{ section.settings.speed }},
                "observer": {{ section.settings.enable_observer }},
                "observeParents": {{ section.settings.enable_observer }},
                "slidesPerGroup": {{ section.settings.slides_per_group_mobile }},
                "navigation": {% if section.settings.enable_navigation %}{
                    "clickable": true,
                    "nextEl": ".nav-next-cls",
                    "prevEl": ".nav-prev-cls"
                }{% else %}false{% endif %},
                "pagination": {% if section.settings.show_pagination %}{
                    "el": ".sw-pagination-cls",
                    "clickable": true
                }{% else %}false{% endif %},
                "autoplay": {% if section.settings.enable_autoplay %}{
                    "delay": {{ section.settings.autoplay_speed }},
                    "pauseOnMouseEnter": {{ section.settings.pause_on_hover }},
                    "disableOnInteraction": false
                }{% else %}false{% endif %},
                "breakpoints": {
                    "575": {
                        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                        "spaceBetween": {{ section.settings.space_between_mobile }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_mobile }}
                    },
                    "768": {
                        "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                        "spaceBetween": {{ section.settings.space_between_desktop }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_tablet }}
                    },
                    "1024": {
                        "slidesPerView": {{ section.settings.slides_per_view }},
                        "spaceBetween": {{ section.settings.space_between_desktop }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_desktop }}
                    }
                }
            }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% assign collection = collections[block.settings.collection] %}
                        <div class="swiper-slide" {{ block.shopify_attributes }}>
                            <div class="banner-shop hover-img style-left-center">
                                {% if collection.featured_image != blank or block.settings.custom_image != blank %}
                                    <a href="{{ collection.url }}" class="img-style d-block">
                                        <img src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}"
                                            data-src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}" 
                                            alt="{{ collection.title | escape }}" 
                                            class="lazyload"
                                            width="{{ block.settings.custom_image.width | default: collection.featured_image.width }}"
                                            height="{{ block.settings.custom_image.height | default: collection.featured_image.height }}">
                                    </a>
                                {% endif %}
                                <div class="content">
                                    <div class="box-title wow fadeInUp">
                                        {% if block.settings.tag != blank %}
                                            <span class="tag text-sm text-white animate-btn">{{ block.settings.tag }}</span>
                                        {% endif %}
                                        <a href="{{ collection.url }}" class="title link">{{ collection.title }}</a>
                                        {% if block.settings.price_new != blank or block.settings.price_old != blank %}
                                            <div class="box-price">
                                                {% if block.settings.price_new != blank %}
                                                    <span class="price-new display-xs fw-medium text-primary">{{ block.settings.price_new }}</span>
                                                {% endif %}
                                                {% if block.settings.price_old != blank %}
                                                    <span class="price-old">{{ block.settings.price_old }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a href="{{ collection.url }}"
                                        class="wow fadeInUp tf-btn btn-cls btn-out-line-dark hover-icon-2">
                                        {{ block.settings.button_text | default: 'See Details' }}
                                        <i class="icon icon-arrow-top-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex d-lg-none sw-dot-default sw-pagination-cls justify-content-center"></div>
            </div>
        </div>
    {% if section.settings.width == 'boxed' %}
        </div>
    {% endif %}
{% elsif section.settings.layout == 'layout4' %}
    {% if section.settings.width == 'boxed' %}
        <div class="container">
    {% endif %}
        <div class="tf-slideshow slider-viewport slider-fashion-2">
            <div dir="ltr" class="swiper tf-sw-slideshow swiper-initialized swiper-horizontal swiper-backface-hidden" data-preview="3" data-tablet="2" data-mobile="1.5" data-space="15" data-space-mb="5" data-swiper='{
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between_mobile }},
                "speed": {{ section.settings.speed }},
                "observer": {{ section.settings.enable_observer }},
                "observeParents": {{ section.settings.enable_observer }},
                "slidesPerGroup": {{ section.settings.slides_per_group_mobile }},
                "navigation": {% if section.settings.enable_navigation %}{
                    "clickable": true,
                    "nextEl": ".nav-next-cls",
                    "prevEl": ".nav-prev-cls"
                }{% else %}false{% endif %},
                "pagination": {% if section.settings.show_pagination %}{
                    "el": ".sw-pagination-cls",
                    "clickable": true
                }{% else %}false{% endif %},
                "autoplay": {% if section.settings.enable_autoplay %}{
                    "delay": {{ section.settings.autoplay_speed }},
                    "pauseOnMouseEnter": {{ section.settings.pause_on_hover }},
                    "disableOnInteraction": false
                }{% else %}false{% endif %},
                "breakpoints": {
                    "575": {
                        "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                        "spaceBetween": {{ section.settings.space_between_mobile }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_mobile }}
                    },
                    "768": {
                        "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                        "spaceBetween": {{ section.settings.space_between_desktop }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_tablet }}
                    },
                    "1024": {
                        "slidesPerView": {{ section.settings.slides_per_view }},
                        "spaceBetween": {{ section.settings.space_between_desktop }},
                        "slidesPerGroup": {{ section.settings.slides_per_group_desktop }}
                    }
                }
            }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% assign collection = collections[block.settings.collection] %}
                        <div class="swiper-slide" {{ block.shopify_attributes }}>
                            <div class="fs-cls hover-img">
                                {% if collection.featured_image != blank or block.settings.custom_image != blank %}
                                    <div class="img-style image">
                                        <img src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}"
                                            data-src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}" 
                                            alt="{{ collection.title | escape }}" 
                                            class="lazyload"
                                            width="{{ block.settings.custom_image.width | default: collection.featured_image.width }}"
                                            height="{{ block.settings.custom_image.height | default: collection.featured_image.height }}">
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <a href="{{ collection.url }}" class="tf-btn btn-white hover-icon-2 hover-dark">
                                        {{ collection.title }}
                                        <i class="icon-arrow-right icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
            </div>
        </div>
    {% if section.settings.width == 'boxed' %}
        </div>
    {% endif %}
{% else %}
    <div class="pt-24">
        {% if section.settings.width == 'boxed' %}
            <div class="container">
        {% endif %}
            <div class="fl-control-sw2">
                <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp" data-swiper='{
                    "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                    "spaceBetween": {{ section.settings.space_between_mobile }},
                    "speed": {{ section.settings.speed }},
                    "observer": {{ section.settings.enable_observer }},
                    "observeParents": {{ section.settings.enable_observer }},
                    "slidesPerGroup": {{ section.settings.slides_per_group_mobile }},
                    "navigation": {% if section.settings.enable_navigation %}{
                        "clickable": true,
                        "nextEl": ".nav-next-cls",
                        "prevEl": ".nav-prev-cls"
                    }{% else %}false{% endif %},
                    "pagination": {% if section.settings.show_pagination %}{
                        "el": ".sw-pagination-cls",
                        "clickable": true
                    }{% else %}false{% endif %},
                    "autoplay": {% if section.settings.enable_autoplay %}{
                        "delay": {{ section.settings.autoplay_speed }},
                        "pauseOnMouseEnter": {{ section.settings.pause_on_hover }},
                        "disableOnInteraction": false
                    }{% else %}false{% endif %},
                    "breakpoints": {
                        "575": {
                            "slidesPerView": {{ section.settings.slides_per_view_tablet }},
                            "spaceBetween": {{ section.settings.space_between_mobile }},
                            "slidesPerGroup": {{ section.settings.slides_per_group_tablet }}
                        },
                        "768": {
                            "slidesPerView": {{ section.settings.slides_per_view }},
                            "spaceBetween": {{ section.settings.space_between_desktop }},
                            "slidesPerGroup": {{ section.settings.slides_per_group_desktop }}
                        },
                        "1200": {
                            "slidesPerView": {{ section.settings.slides_per_view }},
                            "spaceBetween": {{ section.settings.space_between_desktop }},
                            "slidesPerGroup": {{ section.settings.slides_per_group_desktop }}
                        }
                    }
                }'>
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% assign collection = collections[block.settings.collection] %}
                            <div class="swiper-slide" {{ block.shopify_attributes }}>
                                <div class="wg-cls style-abs asp-1 hover-img">
                                    {% if collection.featured_image != blank or block.settings.custom_image != blank %}
                                        <a href="{{ collection.url }}" class="image img-style d-block">
                                            <img src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}"
                                                data-src="{{ block.settings.custom_image | default: collection.featured_image | img_url: 'master' }}" 
                                                alt="{{ collection.title | escape }}" 
                                                class="lazyload"
                                                width="{{ block.settings.custom_image.width | default: collection.featured_image.width }}"
                                                height="{{ block.settings.custom_image.height | default: collection.featured_image.height }}">
                                        </a>
                                    {% endif %}
                                    <div class="cls-btn text-center">
                                        <a href="{{ collection.url }}"
                                            class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                                            {{ collection.title }}
                                            <i class="icon icon-arrow-top-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
                </div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
            </div>
        {% if section.settings.width == 'boxed' %}
            </div>
        {% endif %}
    </div>
{% endif %}
<!-- /Collection -->

{% schema %}
{
    "name": "Collection Slider",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Section width",
            "options": [
                {
                    "value": "full",
                    "label": "Full width"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ],
            "default": "boxed"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Section Layout",
            "options": [
                { "value": "layout1", "label": "Layout 1" },
                { "value": "layout2", "label": "Layout 2" },
                { "value": "layout3", "label": "Layout 3" },
                { "value": "layout4", "label": "Layout 4" }
            ],
            "default": "layout1"
        },
        {
            "type": "header",
            "content": "Slider Settings"
        },
        {
            "type": "range",
            "id": "slides_per_view_mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Slides per view (Mobile)",
            "default": 1
        },
        {
            "type": "range",
            "id": "slides_per_view_tablet",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Slides per view (Tablet)",
            "default": 2
        },
        {
            "type": "range",
            "id": "slides_per_view",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Slides per view (Desktop)",
            "default": 3
        },
        {
            "type": "range",
            "id": "slides_per_group_mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Slides per group (Mobile)",
            "default": 1
        },
        {
            "type": "range",
            "id": "slides_per_group_tablet",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Slides per group (Tablet)",
            "default": 2
        },
        {
            "type": "range",
            "id": "slides_per_group_desktop",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Slides per group (Desktop)",
            "default": 3
        },
        {
            "type": "range",
            "id": "space_between_mobile",
            "min": 0,
            "max": 30,
            "step": 2,
            "label": "Space between slides (Mobile)",
            "default": 12
        },
        {
            "type": "range",
            "id": "space_between_desktop",
            "min": 0,
            "max": 50,
            "step": 2,
            "label": "Space between slides (Desktop)",
            "default": 24
        },
        {
            "type": "range",
            "id": "speed",
            "min": 300,
            "max": 2000,
            "step": 100,
            "label": "Transition speed (ms)",
            "default": 800
        },
        {
            "type": "checkbox",
            "id": "enable_navigation",
            "label": "Show navigation buttons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_pagination",
            "label": "Show pagination dots",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 500,
            "label": "Autoplay speed (ms)",
            "default": 3000
        },
        {
            "type": "checkbox",
            "id": "pause_on_hover",
            "label": "Pause autoplay on hover",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_observer",
            "label": "Enable observer",
            "default": true,
            "info": "Update slider when DOM changes"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "custom_image",
                    "label": "Custom Image",
                    "info": "Optional: Upload a custom image instead of using the collection's featured image"
                },
                {
                    "type": "text",
                    "id": "tag",
                    "label": "Tag Text",
                    "info": "Optional tag text (e.g., 'Sale 50% OFF')"
                },
                {
                    "type": "text",
                    "id": "price_new",
                    "label": "New Price",
                    "info": "Optional new price (e.g., '$130.00')"
                },
                {
                    "type": "text",
                    "id": "price_old",
                    "label": "Old Price",
                    "info": "Optional old price (e.g., '$150.00')"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "See Details",
                    "info": "Text for the call-to-action button"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Collections",
            "category": "Category",
            "settings": {
                "layout": "layout1",
                "speed": 800,
                "slides_per_view": 3,
                "slides_per_view_tablet": 2,
                "slides_per_view_mobile": 1,
                "space_between_mobile": 12,
                "space_between_desktop": 24,
                "enable_navigation": true,
                "enable_autoplay": false
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "button_text": "Shop Now",
                        "tag": "New Arrivals"
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "button_text": "Shop Now",
                        "tag": "Best Sellers"
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "button_text": "Shop Now",
                        "tag": "Sale"
                    }
                }
            ]
        }
    ]
}
{% endschema %} 
