<!-- Collection -->
{% if section.settings.layout == 'layout2' %}
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
            "slidesPerView": {{ section.settings.slides_per_view_mobile }},
            "speed": {{ section.settings.speed }},
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 1,
            "spaceBetween": {{ section.settings.space_between }},
            "loop": {{ section.settings.enable_loop }},
            {% if section.settings.enable_navigation %}
            "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
            },
            {% endif %}
            "pagination": { "el": ".sw-pagination-cls", "clickable": true },
            {% if section.settings.enable_autoplay %}
            "autoplay": {
                "delay": {{ section.settings.autoplay_speed }},
                "disableOnInteraction": false
            },
            {% endif %}
            "breakpoints": {
                "575": { "slidesPerView": {{ section.settings.slides_per_view_tablet }} },
                "1200": { "slidesPerView": {{ section.settings.slides_per_view }}, "slidesPerGroup": {{ section.settings.slides_per_view }} }
            }
        }'>
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="fs-cls lg hover-img">
                        {% if collection.featured_image != blank %}
                            <div class="img-style image">
                                <img src="{{ collection.featured_image | img_url: 'master' }}"
                                    data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                    alt="{{ collection.title | escape }}" 
                                    class="lazyload"
                                    width="{{ collection.featured_image.width }}"
                                    height="{{ collection.featured_image.height }}">
                            </div>
                        {% endif %}
                        <div class="content wow fadeInUp">
                            <a href="{{ collection.url }}" class="tf-btn font-2 btn-white hover-icon-2 hover-dark">
                                {{ collection.title }}
                                <i class="icon-arrow-right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
{% elsif section.settings.layout == 'layout3' %}
    <div class="mx_40 my_24">
        <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                "spaceBetween": {{ section.settings.space_between }},
                "speed": {{ section.settings.speed }},
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 1,
                "loop": {{ section.settings.enable_loop }},
                {% if section.settings.enable_navigation %}
                "navigation": {
                    "clickable": true,
                    "nextEl": ".nav-next-cls",
                    "prevEl": ".nav-prev-cls"
                },
                {% endif %}
                "pagination": { "el": ".sw-pagination-cls", "clickable": true },
                {% if section.settings.enable_autoplay %}
                "autoplay": {
                    "delay": {{ section.settings.autoplay_speed }},
                    "disableOnInteraction": false
                },
                {% endif %}
                "breakpoints": {
                    "768": { "slidesPerView": {{ section.settings.slides_per_view_tablet }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": {{ section.settings.slides_per_view_tablet }} },
                    "1024": { "slidesPerView": {{ section.settings.slides_per_view }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": {{ section.settings.slides_per_view }} }
                }
            }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% assign collection = collections[block.settings.collection] %}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="banner-shop hover-img style-left-center">
                            {% if collection.featured_image != blank %}
                                <a href="{{ collection.url }}" class="img-style d-block">
                                    <img src="{{ collection.featured_image | img_url: 'master' }}"
                                        data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                        alt="{{ collection.title | escape }}" 
                                        class="lazyload"
                                        width="{{ collection.featured_image.width }}"
                                        height="{{ collection.featured_image.height }}">
                                </a>
                            {% endif %}
                            <div class="content">
                                <div class="box-title wow fadeInUp">
                                    {% if block.settings.tag != blank %}
                                        <span class="tag text-sm text-white animate-btn">{{ block.settings.tag }}</span>
                                    {% endif %}
                                    <a href="{{ collection.url }}" class="title link">{{ collection.title }}</a>
                                    {% if block.settings.price_new != blank or block.settings.price_old != blank %}
                                        <div class="box-price">
                                            {% if block.settings.price_new != blank %}
                                                <span class="price-new display-xs fw-medium text-primary">{{ block.settings.price_new }}</span>
                                            {% endif %}
                                            {% if block.settings.price_old != blank %}
                                                <span class="price-old">{{ block.settings.price_old }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{{ collection.url }}"
                                    class="wow fadeInUp tf-btn btn-cls btn-out-line-dark hover-icon-2">
                                    {{ block.settings.button_text | default: 'See Details' }}
                                    <i class="icon icon-arrow-top-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex d-lg-none sw-dot-default sw-pagination-cls justify-content-center"></div>
        </div>
    </div>
{% elsif section.settings.layout == 'layout4' %}
    <div class="tf-slideshow slider-viewport slider-fashion-2">
        <div dir="ltr" class="swiper tf-sw-slideshow swiper-initialized swiper-horizontal swiper-backface-hidden" data-preview="3" data-tablet="2" data-mobile="1.5" data-space="15" data-space-mb="5">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% assign collection = collections[block.settings.collection] %}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="fs-cls hover-img">
                            {% if collection.featured_image != blank %}
                                <div class="img-style image">
                                    <img src="{{ collection.featured_image | img_url: 'master' }}"
                                        data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                        alt="{{ collection.title | escape }}" 
                                        class="lazyload"
                                        width="{{ collection.featured_image.width }}"
                                        height="{{ collection.featured_image.height }}">
                                </div>
                            {% endif %}
                            <div class="content">
                                <a href="{{ collection.url }}" class="tf-btn btn-white hover-icon-2 hover-dark">
                                    {{ collection.title }}
                                    <i class="icon-arrow-right icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="pt-24">
        <div class="container">
            <div class="fl-control-sw2">
                <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp" data-swiper='{
                    "slidesPerView": {{ section.settings.slides_per_view_mobile }},
                    "spaceBetween": {{ section.settings.space_between }},
                    "speed": {{ section.settings.speed }},
                    "observer": true,
                    "observeParents": true,
                    "slidesPerGroup": 1,
                    "loop": {{ section.settings.enable_loop }},
                    {% if section.settings.enable_navigation %}
                    "navigation": {
                        "clickable": true,
                        "nextEl": ".nav-next-cls",
                        "prevEl": ".nav-prev-cls"
                    },
                    {% endif %}
                    "pagination": { "el": ".sw-pagination-cls", "clickable": true },
                    {% if section.settings.enable_autoplay %}
                    "autoplay": {
                        "delay": {{ section.settings.autoplay_speed }},
                        "disableOnInteraction": false
                    },
                    {% endif %}
                    "breakpoints": {
                        "575": { "slidesPerView": {{ section.settings.slides_per_view_tablet }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": {{ section.settings.slides_per_view_tablet }} },
                        "768": { "slidesPerView": {{ section.settings.slides_per_view }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": {{ section.settings.slides_per_view }} },
                        "1200": { "slidesPerView": {{ section.settings.slides_per_view }}, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": {{ section.settings.slides_per_view }} }
                    }
                }'>
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% assign collection = collections[block.settings.collection] %}
                            <div class="swiper-slide" {{ block.shopify_attributes }}>
                                <div class="wg-cls style-abs asp-1 hover-img">
                                    {% if collection.featured_image != blank %}
                                        <a href="{{ collection.url }}" class="image img-style d-block">
                                            <img src="{{ collection.featured_image | img_url: 'master' }}"
                                                data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                                alt="{{ collection.title | escape }}" 
                                                class="lazyload"
                                                width="{{ collection.featured_image.width }}"
                                                height="{{ collection.featured_image.height }}">
                                        </a>
                                    {% endif %}
                                    <div class="cls-btn text-center">
                                        <a href="{{ collection.url }}"
                                            class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                                            {{ collection.title }}
                                            <i class="icon icon-arrow-top-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
                </div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /Collection -->

<script>
  class FeaturedCollectionSlider {
    constructor() {
      this.init();
      this.bindEvents();
    }

    init() {
      // Destroy existing instances if they exist
      if (this.swiper) {
        this.swiper.destroy(true, true);
      }

      // Find all swiper instances in this section
      const swiperElements = document.querySelectorAll('.tf-swiper, .tf-sw-slideshow');
      
      swiperElements.forEach(element => {
        try {
          const swiperConfig = JSON.parse(element.dataset.swiper);
          
          // Initialize new Swiper instance
          this.swiper = new Swiper(element, {
            ...swiperConfig,
            observer: true,
            observeParents: true,
            on: {
              init: function() {
                // Trigger resize to fix any layout issues
                setTimeout(() => {
                  window.dispatchEvent(new Event('resize'));
                }, 100);
              }
            }
          });
        } catch (error) {
          console.error('Error initializing swiper:', error);
        }
      });
    }

    bindEvents() {
      // Reinitialize on theme editor changes
      document.addEventListener('shopify:section:load', (event) => {
        // Only reinitialize if this section was updated
        if (event.target.querySelector('.tf-swiper, .tf-sw-slideshow')) {
          this.init();
        }
      });

      // Cleanup on section unload
      document.addEventListener('shopify:section:unload', (event) => {
        if (event.target.querySelector('.tf-swiper, .tf-sw-slideshow')) {
          if (this.swiper) {
            this.swiper.destroy(true, true);
          }
        }
      });
    }
  }

  // Initialize the slider
  new FeaturedCollectionSlider();
</script>

{% schema %}
{
    "name": "Collection Slider",
    "settings": [
        {
            "type": "select",
            "id": "layout",
            "label": "Section Layout",
            "options": [
                { "value": "layout1", "label": "Layout 1" },
                { "value": "layout2", "label": "Layout 2" },
                { "value": "layout3", "label": "Layout 3" },
                { "value": "layout4", "label": "Layout 4" }
            ],
            "default": "layout1"
        },
        {
            "type": "header",
            "content": "Slider Settings"
        },
        {
            "type": "range",
            "id": "speed",
            "min": 100,
            "max": 2000,
            "step": 100,
            "unit": "ms",
            "label": "Transition speed",
            "default": 800
        },
        {
            "type": "range",
            "id": "slides_per_view",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Slides per view (Desktop)",
            "default": 3
        },
        {
            "type": "range",
            "id": "slides_per_view_tablet",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Slides per view (Tablet)",
            "default": 2
        },
        {
            "type": "range",
            "id": "slides_per_view_mobile",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Slides per view (Mobile)",
            "default": 1
        },
        {
            "type": "range",
            "id": "space_between",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Space between slides",
            "default": 24
        },
        {
            "type": "checkbox",
            "id": "enable_navigation",
            "label": "Enable navigation arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9500,
            "step": 500,
            "unit": "ms",
            "label": "Autoplay speed",
            "default": 5000,
            "info": "Time between slides when autoplay is enabled"
        },
        {
            "type": "checkbox",
            "id": "enable_loop",
            "label": "Enable infinite loop",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "text",
                    "id": "tag",
                    "label": "Tag Text",
                    "info": "Optional tag text (e.g., 'Sale 50% OFF')"
                },
                {
                    "type": "text",
                    "id": "price_new",
                    "label": "New Price",
                    "info": "Optional new price (e.g., '$130.00')"
                },
                {
                    "type": "text",
                    "id": "price_old",
                    "label": "Old Price",
                    "info": "Optional old price (e.g., '$150.00')"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "See Details",
                    "info": "Text for the call-to-action button"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Slider",
            "settings": {
                "layout": "layout1"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                }
            ]
        },
        {
            "name": "Home Fashion Women Collection",
            "settings": {
                "layout": "layout2"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                }
            ]
        },
        {
            "name": "Home Phonecase Collection",
            "settings": {
                "layout": "layout3"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": "",
                        "tag": "Sale 50% OFF",
                        "price_new": "$130.00",
                        "price_old": "$150.00",
                        "button_text": "See Details"
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": "",
                        "tag": "Sale 50% OFF",
                        "price_new": "$100.00",
                        "price_old": "$130.00",
                        "button_text": "See Details"
                    }
                }
            ]
        },
        {
            "name": "Fashion 02 Collection",
            "settings": {
                "layout": "layout4"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                }
            ]
        }
    ]
}
{% endschema %} 
