<!-- Collection -->
{% if section.settings.layout == 'home-fashion-women' %}
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
            "slidesPerView": 1,
            "speed": {{ section.settings.speed }},
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 1,
            "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
            },
            "pagination": { "el": ".sw-pagination-cls", "clickable": true },
            "breakpoints": {
            "575": { "slidesPerView": 2,"slidesPerGroup": 2 },
            "1200": { "slidesPerView": 3, "slidesPerGroup": 3}
            }
        }'>
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="fs-cls lg hover-img">
                        {% if collection.featured_image != blank %}
                            <div class="img-style image">
                                <img src="{{ collection.featured_image | img_url: 'master' }}"
                                    data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                    alt="{{ collection.title | escape }}" 
                                    class="lazyload"
                                    width="{{ collection.featured_image.width }}"
                                    height="{{ collection.featured_image.height }}">
                            </div>
                        {% endif %}
                        <div class="content wow fadeInUp">
                            <a href="{{ collection.url }}" class="tf-btn font-2 btn-white hover-icon-2 hover-dark">
                                {{ collection.title }}
                                <i class="icon-arrow-right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
{% else %}
    <div class="pt-24">
        <div class="container">
            <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp" data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 12,
                    "speed": {{ section.settings.speed }},
                    "observer": true,
                    "observeParents": true,
                    "slidesPerGroup": 1,
                    "navigation": {
                        "clickable": true,
                        "nextEl": ".nav-next-cls",
                        "prevEl": ".nav-prev-cls"
                    },
                    "pagination": { "el": ".sw-pagination-cls", "clickable": true },
                    "breakpoints": {
                    "575": { "slidesPerView": 2, "spaceBetween": 12 ,"slidesPerGroup": 2 },
                    "768": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
                    "1200": { "slidesPerView": 3, "spaceBetween": 24, "slidesPerGroup": 3}
                    }
                }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% assign collection = collections[block.settings.collection] %}
                        <div class="swiper-slide" {{ block.shopify_attributes }}>
                            <div class="wg-cls style-abs asp-1 hover-img">
                                {% if collection.featured_image != blank %}
                                    <a href="{{ collection.url }}" class="image img-style d-block">
                                        <img src="{{ collection.featured_image | img_url: 'master' }}"
                                            data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                            alt="{{ collection.title | escape }}" 
                                            class="lazyload"
                                            width="{{ collection.featured_image.width }}"
                                            height="{{ collection.featured_image.height }}">
                                    </a>
                                {% endif %}
                                <div class="cls-btn text-center">
                                    <a href="{{ collection.url }}"
                                        class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                                        {{ collection.title }}
                                        <i class="icon icon-arrow-top-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /Collection -->

{% schema %}
{
    "name": "Collection Slider",
    "settings": [
        {
            "type": "select",
            "id": "layout",
            "label": "Section Layout",
            "options": [
                { "value": "default", "label": "Default" },
                { "value": "home-fashion-women", "label": "Home Fashion Women (Collection)" }
            ],
            "default": "default"
        },
        {
            "type": "range",
            "id": "speed",
            "min": 100,
            "max": 2000,
            "step": 100,
            "unit": "ms",
            "label": "Transition speed",
            "default": 800
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Slider",
            "settings": {
                "layout": "default"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                }
            ]
        },
        {
            "name": "Home Fashion Women Collection",
            "settings": {
                "layout": "home-fashion-women"
            },
            "blocks": [
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                },
                {
                    "type": "collection",
                    "settings": {
                        "collection": ""
                    }
                }
            ]
        }
    ]
}
{% endschema %} 