<!-- Collection -->
{% if section.settings.layout == 'home-fashion-women' %}
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
            "slidesPerView": 1,
            "speed": {{ section.settings.speed }},
            "observer": true,
            "observeParents": true,
            "slidesPerGroup": 1,
            "navigation": {
                "clickable": true,
                "nextEl": ".nav-next-cls",
                "prevEl": ".nav-prev-cls"
            },
            "pagination": { "el": ".sw-pagination-cls", "clickable": true },
            "breakpoints": {
            "575": { "slidesPerView": 2,"slidesPerGroup": 2 },
            "1200": { "slidesPerView": 3, "slidesPerGroup": 3}
            }
        }'>
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <div class="fs-cls lg hover-img">
                        {% if collection.featured_image != blank %}
                            <div class="img-style image">
                                <img src="{{ collection.featured_image | img_url: 'master' }}"
                                    data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                    alt="{{ collection.title | escape }}" 
                                    class="lazyload {% if section.settings.enable_lazy_loading %}lazyload{% endif %}"
                                    width="{{ collection.featured_image.width }}"
                                    height="{{ collection.featured_image.height }}">
                            </div>
                        {% endif %}
                        <div class="content {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
                            <a href="{{ collection.url }}" 
                               class="tf-btn font-2 btn-white hover-icon-2 hover-dark"
                               style="color: {{ block.settings.button_text_color }}; background-color: {{ block.settings.button_bg_color }};"
                               onmouseover="this.style.backgroundColor='{{ block.settings.button_hover_bg_color }}'; this.style.color='{{ block.settings.button_hover_text_color }}';"
                               onmouseout="this.style.backgroundColor='{{ block.settings.button_bg_color }}'; this.style.color='{{ block.settings.button_text_color }}';">
                                {{ collection.title }}
                                <i class="icon-arrow-right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
    </div>
{% elsif section.settings.layout == 'home-phonecase' %}
    <div class="mx_40 my_24">
        <div dir="ltr" class="swiper tf-swiper" data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": {{ section.settings.space_between }},
                "speed": {{ section.settings.speed }},
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 1,
                "navigation": {
                    "clickable": true,
                    "nextEl": ".nav-next-cls",
                    "prevEl": ".nav-prev-cls"
                },
                "pagination": { "el": ".sw-pagination-cls", "clickable": true },
                "breakpoints": {
                "768": { "slidesPerView": 1, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 2 },
                "1024": { "slidesPerView": 2, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 2}
                }
            }'>
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% assign collection = collections[block.settings.collection] %}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                        <div class="banner-shop hover-img style-left-center">
                            {% if collection.featured_image != blank %}
                                <a href="{{ collection.url }}" class="img-style d-block">
                                    <img src="{{ collection.featured_image | img_url: 'master' }}"
                                        data-src="{{ collection.featured_image | img_url: 'master' }}" 
                                        alt="{{ collection.title | escape }}" 
                                        class="lazyload {% if section.settings.enable_lazy_loading %}lazyload{% endif %}"
                                        width="{{ collection.featured_image.width }}"
                                        height="{{ collection.featured_image.height }}">
                                </a>
                            {% endif %}
                            <div class="content">
                                <div class="box-title {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}>
                                    {% if block.settings.tag != blank %}
                                        <span class="tag text-sm text-white animate-btn" style="background-color: {{ block.settings.tag_bg_color }}; color: {{ block.settings.tag_text_color }};">
                                            {{ block.settings.tag }}
                                        </span>
                                    {% endif %}
                                    <a href="{{ collection.url }}" 
                                       class="title link"
                                       style="color: {{ block.settings.title_color }};">
                                        {{ collection.title }}
                                    </a>
                                    {% if block.settings.price_new != blank or block.settings.price_old != blank %}
                                        <div class="box-price">
                                            {% if block.settings.price_new != blank %}
                                                <span class="price-new display-xs fw-medium" style="color: {{ block.settings.price_color }};">{{ block.settings.price_new }}</span>
                                            {% endif %}
                                            {% if block.settings.price_old != blank %}
                                                <span class="price-old" style="color: {{ block.settings.price_color }};">{{ block.settings.price_old }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{{ collection.url }}"
                                   class="{% if section.settings.enable_wow %}wow fadeInUp{% endif %} tf-btn btn-cls btn-out-line-dark hover-icon-2"
                                   {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}
                                   style="color: {{ block.settings.button_text_color }}; border-color: {{ block.settings.button_bg_color }};"
                                   onmouseover="this.style.backgroundColor='{{ block.settings.button_hover_bg_color }}'; this.style.color='{{ block.settings.button_hover_text_color }}';"
                                   onmouseout="this.style.backgroundColor='transparent'; this.style.color='{{ block.settings.button_text_color }}';">
                                    {{ block.settings.button_text | default: 'See Details' }}
                                    <i class="icon icon-arrow-top-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex d-lg-none sw-dot-default sw-pagination-cls justify-content-center"></div>
        </div>
    </div>
{% elsif section.settings.layout == 'fashion-02' %}
    <div class="tf-slideshow slider-fashion-2">
        <div class="swiper tf-sw-slideshow" data-preview="3" data-tablet="2" data-mobile="1.5" data-space="{{ section.settings.space_between }}" data-space-mb="{{ section.settings.space_between_mobile }}">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide" {{ block.shopify_attributes }}>
                        {% render block %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="pt-24">
        <div class="container">
            <div dir="ltr" class="swiper tf-swiper hover-sw-nav {% if section.settings.enable_wow %}wow fadeInUp{% endif %}" 
                 {% if section.settings.enable_wow %}data-wow-delay="{{ section.settings.wow_delay }}"{% endif %}
                 data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": {{ section.settings.space_between }},
                    "speed": {{ section.settings.speed }},
                    "observer": true,
                    "observeParents": true,
                    "slidesPerGroup": 1,
                    "navigation": {
                        "clickable": true,
                        "nextEl": ".nav-next-cls",
                        "prevEl": ".nav-prev-cls"
                    },
                    "pagination": { "el": ".sw-pagination-cls", "clickable": true },
                    "breakpoints": {
                    "575": { "slidesPerView": 2, "spaceBetween": {{ section.settings.space_between }} ,"slidesPerGroup": 2 },
                    "768": { "slidesPerView": 3, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3 },
                    "1200": { "slidesPerView": 3, "spaceBetween": {{ section.settings.space_between }}, "slidesPerGroup": 3}
                    }
                }'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide" {{ block.shopify_attributes }}>
                            {% render block %}
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls justify-content-center"></div>
                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls"></div>
                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /Collection -->

{% schema %}
{
    "name": "Collection Slider",
    "settings": [
        {
            "type": "select",
            "id": "layout",
            "label": "Section Layout",
            "options": [
                { "value": "default", "label": "Default" },
                { "value": "home-fashion-women", "label": "Home Fashion Women (Collection)" },
                { "value": "home-phonecase", "label": "Home Phonecase (Collection)" },
                { "value": "fashion-02", "label": "Fashion 02 (Collection)" }
            ],
            "default": "default"
        },
        {
            "type": "header",
            "content": "Slider Settings"
        },
        {
            "type": "range",
            "id": "speed",
            "min": 100,
            "max": 2000,
            "step": 100,
            "unit": "ms",
            "label": "Transition speed",
            "default": 800
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Enable autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "autoplay_speed",
            "min": 2000,
            "max": 9000,
            "step": 500,
            "unit": "ms",
            "label": "Autoplay delay",
            "default": 5000
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Enable loop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_arrows",
            "label": "Show navigation arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_dots",
            "label": "Show pagination dots",
            "default": true
        },
        {
            "type": "header",
            "content": "Responsive Settings"
        },
        {
            "type": "range",
            "id": "space_between",
            "min": 0,
            "max": 50,
            "step": 2,
            "unit": "px",
            "label": "Space between slides",
            "default": 12
        },
        {
            "type": "range",
            "id": "space_between_mobile",
            "min": 0,
            "max": 30,
            "step": 2,
            "unit": "px",
            "label": "Space between slides (Mobile)",
            "default": 6
        },
        {
            "type": "header",
            "content": "Animation Settings"
        },
        {
            "type": "checkbox",
            "id": "enable_wow",
            "label": "Enable fade-in animation",
            "default": true
        },
        {
            "type": "select",
            "id": "wow_delay",
            "label": "Animation delay",
            "options": [
                { "value": "0s", "label": "None" },
                { "value": "0.2s", "label": "Short" },
                { "value": "0.5s", "label": "Medium" },
                { "value": "0.8s", "label": "Long" }
            ],
            "default": "0.2s"
        },
        {
            "type": "header",
            "content": "Image Settings"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "Image ratio",
            "options": [
                { "value": "1:1", "label": "Square (1:1)" },
                { "value": "4:3", "label": "Standard (4:3)" },
                { "value": "16:9", "label": "Widescreen (16:9)" }
            ],
            "default": "1:1"
        },
        {
            "type": "checkbox",
            "id": "enable_lazy_loading",
            "label": "Enable lazy loading",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "@theme"
        }
    ],
    "presets": [
        {
            "name": "Collection Slider",
            "settings": {
                "layout": "default"
            },
            "blocks": [
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } }
            ]
        },
        {
            "name": "Home Fashion Women Collection",
            "settings": {
                "layout": "home-fashion-women"
            },
            "blocks": [
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } }
            ]
        },
        {
            "name": "Home Phonecase Collection",
            "settings": {
                "layout": "home-phonecase"
            },
            "blocks": [
                { "type": "collection-card", "settings": { "collection": "", "tag": "Sale 50% OFF", "price_new": "$130.00", "price_old": "$150.00", "button_text": "See Details" } },
                { "type": "collection-card", "settings": { "collection": "", "tag": "Sale 50% OFF", "price_new": "$100.00", "price_old": "$130.00", "button_text": "See Details" } }
            ]
        },
        {
            "name": "Fashion 02 Collection",
            "settings": {
                "layout": "fashion-02"
            },
            "blocks": [
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } },
                { "type": "collection-card", "settings": { "collection": "" } }
            ]
        }
    ]
}
{% endschema %} 