{%- comment -%}Header Section{%- endcomment -%}
<header id="header" class="header-default">
  <div class="container">
    <div class="row wrapper-header align-items-center">
      <div class="col-md-4 col-3 d-xl-none">
        <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
          <i class="icon icon-categories1"></i>
        </a>
      </div>
      
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'logo' -%}
            <div class="col-xl-2 col-md-4 col-6" {{ block.shopify_attributes }}>
              <a href="{{ routes.root_url }}" class="logo-header">
                {%- if block.settings.logo != blank -%}
                  <img src="{{ block.settings.logo | image_url: width: block.settings.logo_width }}"
                    alt="{{ block.settings.logo.alt | default: shop.name }}"
                    width="{{ block.settings.logo_width }}"
                    height="{{ block.settings.logo_width | divided_by: block.settings.logo.aspect_ratio }}"
                    class="logo">
                {%- else -%}
                  <span class="h4">{{ shop.name }}</span>
                {%- endif -%}
              </a>
            </div>
          {%- when 'menu' -%}
            <div class="col-xl-8 d-none d-xl-block" {{ block.shopify_attributes }}>
              <nav class="box-navigation text-center">
                <ul class="box-nav-menu">
                  {%- for link in linklists[block.settings.menu].links -%}
                    <li class="menu-item{% if link.links != blank %} has-submenu{% endif %}">
                      <a href="{{ link.url }}" class="item-link">
                        {{ link.title }}
                        {%- if link.links != blank -%}
                          <i class="icon icon-arr-down"></i>
                        {%- endif -%}
                      </a>
                      {%- if link.links != blank -%}
                        <div class="sub-menu mega-menu mega-shop">
                          <div class="wrapper-sub-menu">
                            {%- for childlink in link.links -%}
                              <div class="mega-menu-item">
                                <div class="menu-heading">
                                  <a href="{{ childlink.url }}" class="menu-heading-link">
                                    {{ childlink.title }}
                                  </a>
                                </div>
                                {%- if childlink.links != blank -%}
                                  <ul class="menu-list">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="menu-link-text link">
                                          {{ grandchildlink.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                              </div>
                            {%- endfor -%}
                          </div>
                          {%- if block.settings.show_product_cards -%}
                            <div class="wrapper-sub-collection">
                              <div dir="ltr" class="swiper tf-swiper hover-sw-nav wow fadeInUp"
                                data-swiper='{
                                  "slidesPerView": 2,
                                  "spaceBetween": 24,
                                  "speed": 800,
                                  "observer": true,
                                  "observeParents": true,
                                  "slidesPerGroup": 2,
                                  "navigation": {
                                    "clickable": true,
                                    "nextEl": ".nav-next-cls-header",
                                    "prevEl": ".nav-prev-cls-header"
                                  },
                                  "pagination": { "el": ".sw-pagination-cls-header", "clickable": true }
                                }'>
                                <div class="swiper-wrapper">
                                  {%- for i in (1..4) -%}
                                    {%- assign product_image = 'product_image_' | append: i -%}
                                    {%- assign product_title = 'product_title_' | append: i -%}
                                    {%- assign product_url = 'product_url_' | append: i -%}
                                    {%- if block.settings[product_image] != blank -%}
                                      <div class="swiper-slide">
                                        <div class="wg-cls style-abs asp-1 hover-img">
                                          <a href="{{ block.settings[product_url] }}" class="image img-style d-block">
                                            <img src="{{ block.settings[product_image] | img_url: 'master' }}"
                                              alt="{{ block.settings[product_title] }}"
                                              class="lazyload">
                                          </a>
                                          <div class="cls-btn text-center">
                                            <a href="{{ block.settings[product_url] }}"
                                              class="tf-btn btn-cls btn-white hover-dark hover-icon-2">
                                              {{ block.settings[product_title] }}
                                              <i class="icon icon-arrow-top-left"></i>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    {%- endif -%}
                                  {%- endfor -%}
                                </div>
                                <div class="d-flex d-xl-none sw-dot-default sw-pagination-cls-header justify-content-center"></div>
                                <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-cls-header"></div>
                                <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-cls-header"></div>
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            </div>
          {%- when 'icons' -%}
            <div class="col-xl-2 col-md-4 col-3" {{ block.shopify_attributes }}>
              <ul class="nav-icon d-flex justify-content-end align-items-center">
                {%- if block.settings.show_search -%}
                  <li class="nav-search">
                    <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                      <i class="icon icon-search"></i>
                    </a>
                  </li>
                {%- endif -%}

                {%- if block.settings.show_account -%}
                  <li class="nav-account">
                    <a href="javascript:void(0);" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                      <i class="icon icon-user"></i>
                    </a>
                  </li>
                {%- endif -%}

                {%- if block.settings.show_wishlist -%}
                  <li class="nav-wishlist">
                    <a href="/pages/wishlist" class="nav-icon-item">
                      <i class="icon icon-heart"></i>
                      <span class="count-box wishlist-count">0</span>
                    </a>
                  </li>
                {%- endif -%}

                {%- if block.settings.show_cart -%}
                  <li class="nav-cart">
                    <a href="#shoppingCart" data-bs-toggle="offcanvas" class="nav-icon-item">
                      <i class="icon icon-cart"></i>
                      <span class="count-box">{{ cart.item_count }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "default": 150,
          "unit": "px",
          "label": "Logo width"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "show_product_cards",
          "label": "Show Product Cards in Submenu",
          "default": true
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "product_image_1",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title_1",
          "label": "Product Title",
          "default": "Men"
        },
        {
          "type": "url",
          "id": "product_url_1",
          "label": "Product URL"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "image_picker",
          "id": "product_image_2",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title_2",
          "label": "Product Title",
          "default": "Women"
        },
        {
          "type": "url",
          "id": "product_url_2",
          "label": "Product URL"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "image_picker",
          "id": "product_image_3",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title_3",
          "label": "Product Title",
          "default": "Accessories"
        },
        {
          "type": "url",
          "id": "product_url_3",
          "label": "Product URL"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "image_picker",
          "id": "product_image_4",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_title_4",
          "label": "Product Title",
          "default": "Sportwear"
        },
        {
          "type": "url",
          "id": "product_url_4",
          "label": "Product URL"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Header Icons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_search",
          "label": "Show search",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_account",
          "label": "Show account",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_wishlist",
          "label": "Show wishlist",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_cart",
          "label": "Show cart",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "menu",
          "settings": {
            "menu": "main-menu",
            "show_product_cards": true,
            "product_title_1": "Men",
            "product_title_2": "Women",
            "product_title_3": "Accessories",
            "product_title_4": "Sportwear"
          }
        },
        {
          "type": "icons"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function() {
  const swipers = document.querySelectorAll('.tf-swiper');
  swipers.forEach(function(element) {
    const options = JSON.parse(element.dataset.swiper || '{}');
    new Swiper(element, options);
  });
});
</script>

{% stylesheet %}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-search {
  position: relative;
}

.header-search-form {
  display: flex;
  align-items: center;
}

.header-search-form input {
  width: 200px;
  padding: 8px 15px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.header-search-btn {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.header-cart {
  position: relative;
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: inherit;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primary-color);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 10px;
  min-width: 18px;
  text-align: center;
}

.menu-heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-heading-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.menu-heading-link:hover {
  color: var(--primary-color);
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 8px;
}

.menu-link-text {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
  display: block;
}

.menu-link-text:hover {
  color: var(--primary-color);
}

.demo-label {
  display: inline-block;
  padding: 2px 6px;
  background: #ff4444;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper-sub-collection {
  margin-top: 20px;
}

.wg-cls {
  position: relative;
  overflow: hidden;
}

.wg-cls .image {
  display: block;
  position: relative;
  padding-top: 100%;
}

.wg-cls .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.wg-cls:hover .image img {
  transform: scale(1.1);
}

.cls-btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.btn-cls {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-cls:hover {
  transform: translateY(-3px);
}
{% endstylesheet %} 