{%- comment -%}Header Section{%- endcomment -%}
<header id="header" class="header-default{% if section.settings.layout == 'layout-2' %} header-2{% endif %}{% if section.settings.layout == 'layout-3' %} header-3{% endif %}" style="background-color: {{ section.settings.background_color }};">
  {%- if section.settings.layout == 'layout-2' -%}
    <div class="header-top">
      <div class="container">
        <div class="row wrapper-header align-items-center">
          <div class="col-md-4 col-3 d-xl-none">
            <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
              <i class="icon icon-categories1"></i>
            </a>
          </div>
          
          <div class="col-xl-5 d-none d-xl-block">
            <div class="header-language">
              <div class="tf-languages">
                <select class="image-select center style-default type-languages" name="language">
                  {% for locale in shop.published_locales %}
                    <option value="{{ locale.iso_code }}" {% if locale.primary %}selected{% endif %}>
                      {{ locale.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="tf-currencies">
                <select class="image-select center style-default type-currencies" name="currency">
                  {% for currency in shop.enabled_currencies %}
                    <option value="{{ currency.iso_code }}" {% if currency == cart.currency %}selected{% endif %}>
                      {{ currency.iso_code }} ({{ currency.symbol }})
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-md-4 col-6 text-center">
            <a href="{{ routes.root_url }}" class="logo-header">
              {%- if section.settings.logo != blank -%}
                <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  width="{{ section.settings.logo_width }}"
                  height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                  class="logo">
              {%- else -%}
                <span class="h4">{{ shop.name }}</span>
              {%- endif -%}
            </a>
          </div>

          <div class="col-xl-5 col-md-4 col-3">
            <ul class="nav-icon d-flex justify-content-end align-items-center">
              {%- if section.settings.show_search -%}
                <li class="nav-search">
                  <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                    <i class="icon icon-search"></i>
                  </a>
                </li>
              {%- endif -%}

              {%- if section.settings.show_account -%}
                <li class="nav-account">
                  <a href="javascript:void(0);" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                    <i class="icon icon-user"></i>
                  </a>
                </li>
              {%- endif -%}

              {%- if section.settings.show_wishlist -%}
                <li class="nav-wishlist">
                  <a href="/pages/wishlist" class="nav-icon-item">
                    <i class="icon icon-heart"></i>
                    <span class="count-box wishlist-count">0</span>
                  </a>
                </li>
              {%- endif -%}

              {%- if section.settings.show_cart -%}
                <li class="nav-cart">
                  <a href="#shoppingCart" data-bs-toggle="offcanvas" class="nav-icon-item">
                    <i class="icon icon-cart"></i>
                    <span class="count-box">{{ cart.item_count }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom d-none d-xl-block">
      <div class="container">
        <nav class="box-navigation text-center">
          <ul class="box-nav-menu">
            {%- for link in linklists[section.settings.menu].links -%}
              <li class="menu-item{% if link.links != blank %} has-submenu{% endif %}">
                <a href="{{ link.url }}" class="item-link">
                  {{ link.title }}
                  {%- if link.links != blank -%}
                    <i class="icon icon-arr-down"></i>
                  {%- endif -%}
                </a>
                {%- if link.links != blank -%}
                  <div class="sub-menu mega-menu mega-shop">
                    <div class="wrapper-sub-menu">
                      {%- for block in section.blocks -%}
                        {%- case block.type -%}
                          {%- when 'mega_menu_html' -%}
                            {%- if block.settings.title == link.title -%}
                              <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                {{ block.settings.html_content }}
                              </div>
                            {%- endif -%}
                          
                          {%- when 'mega_menu_shop' -%}
                            {%- if block.settings.title == link.title -%}
                              <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                {%- if block.settings.collections != blank -%}
                                  <div class="menu-heading">{{ block.settings.title }}</div>
                                  <ul class="menu-list">
                                    {%- for collection in block.settings.collections -%}
                                      <li>
                                        <a href="{{ collection.url }}" class="menu-link-text link">
                                          {{ collection.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                                {%- if block.settings.banner_image != blank -%}
                                  <div class="mega-menu-banner">
                                    <a href="{{ block.settings.banner_link }}">
                                      <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                        alt="{{ block.settings.title }}"
                                        class="lazyload">
                                    </a>
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          
                          {%- when 'mega_menu_product' -%}
                            {%- if block.settings.title == link.title -%}
                              <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                {%- if block.settings.products != blank -%}
                                  <div class="menu-heading">{{ block.settings.title }}</div>
                                  <div class="mega-menu-products">
                                    {%- for product in block.settings.products -%}
                                      <div class="mega-menu-product">
                                        <a href="{{ product.url }}">
                                          <img src="{{ product.featured_image | img_url: 'medium' }}"
                                            alt="{{ product.title }}"
                                            class="lazyload">
                                          <h4>{{ product.title }}</h4>
                                          <p class="price">{{ product.price | money }}</p>
                                        </a>
                                      </div>
                                    {%- endfor -%}
                                  </div>
                                {%- endif -%}
                                {%- if block.settings.banner_image != blank -%}
                                  <div class="mega-menu-banner">
                                    <a href="{{ block.settings.banner_link }}">
                                      <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                        alt="{{ block.settings.title }}"
                                        class="lazyload">
                                    </a>
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          
                          {%- when 'mega_menu_pages' -%}
                            {%- if block.settings.title == link.title -%}
                              <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                {%- if block.settings.menu != blank -%}
                                  <div class="menu-heading">{{ block.settings.title }}</div>
                                  <ul class="menu-list">
                                    {%- for link in linklists[block.settings.menu].links -%}
                                      <li>
                                        <a href="{{ link.url }}" class="menu-link-text link">
                                          {{ link.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}
                                {%- if block.settings.banner_image != blank -%}
                                  <div class="mega-menu-banner">
                                    <a href="{{ block.settings.banner_link }}">
                                      <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                        alt="{{ block.settings.title }}"
                                        class="lazyload">
                                    </a>
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                        {%- endcase -%}
                      {%- endfor -%}
                    </div>
                  </div>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>
  {%- elsif section.settings.layout == 'layout-3' -%}
    <div class="container">
      <div class="row wrapper-header align-items-center">
        <div class="col-md-4 col-3 d-xl-none">
          <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
            <i class="icon icon-categories1"></i>
          </a>
        </div>
        <div class="col-xxl-5 col-xl-6 d-none d-xl-block">
          <nav class="box-navigation text-center">
            <ul class="box-nav-menu justify-content-start">
              {%- for link in linklists[section.settings.menu].links -%}
                <li class="menu-item{% if link.links != blank %} has-submenu{% endif %}">
                  <a href="{{ link.url }}" class="item-link">
                    {{ link.title }}
                    {%- if link.links != blank -%}
                      <i class="icon icon-arr-down"></i>
                    {%- endif -%}
                  </a>
                  {%- if link.links != blank -%}
                    <div class="sub-menu mega-menu mega-shop">
                      <div class="wrapper-sub-menu">
                        {%- for block in section.blocks -%}
                          {%- case block.type -%}
                            {%- when 'mega_menu_html' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {{ block.settings.html_content }}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_shop' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.collections != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <ul class="menu-list">
                                      {%- for collection in block.settings.collections -%}
                                        <li>
                                          <a href="{{ collection.url }}" class="menu-link-text link">
                                            {{ collection.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_product' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.products != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <div class="mega-menu-products">
                                      {%- for product in block.settings.products -%}
                                        <div class="mega-menu-product">
                                          <a href="{{ product.url }}">
                                            <img src="{{ product.featured_image | img_url: 'medium' }}"
                                              alt="{{ product.title }}"
                                              class="lazyload">
                                            <h4>{{ product.title }}</h4>
                                            <p class="price">{{ product.price | money }}</p>
                                          </a>
                                        </div>
                                      {%- endfor -%}
                                    </div>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_pages' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.menu != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <ul class="menu-list">
                                      {%- for link in linklists[block.settings.menu].links -%}
                                        <li>
                                          <a href="{{ link.url }}" class="menu-link-text link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                          {%- endcase -%}
                        {%- endfor -%}
                      </div>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>

        <div class="col-xl-2 col-md-4 col-6 text-xxl-center">
          <a href="{{ routes.root_url }}" class="logo-header">
            {%- if section.settings.logo != blank -%}
              <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                width="{{ section.settings.logo_width }}"
                height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                class="logo">
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>

        <div class="col-xxl-5 col-xl-4 col-md-4 col-3">
          <ul class="nav-icon d-flex justify-content-end align-items-center">
            {%- if section.settings.show_search -%}
              <li class="nav-search">
                <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                  <i class="icon icon-search"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_account -%}
              <li class="nav-account">
                <a href="javascript:void(0);" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                  <i class="icon icon-user"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_wishlist -%}
              <li class="nav-wishlist">
                <a href="/pages/wishlist" class="nav-icon-item">
                  <i class="icon icon-heart"></i>
                  <span class="count-box wishlist-count">0</span>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_cart -%}
              <li class="nav-cart">
                <a href="#shoppingCart" data-bs-toggle="offcanvas" class="nav-icon-item">
                  <i class="icon icon-cart"></i>
                  <span class="count-box">{{ cart.item_count }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="container">
      <div class="row wrapper-header align-items-center">
        <div class="col-md-4 col-3 d-xl-none">
          <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
            <i class="icon icon-categories1"></i>
          </a>
        </div>
        
        <div class="col-xl-2 col-md-4 col-6">
          <a href="{{ routes.root_url }}" class="logo-header">
            {%- if section.settings.logo != blank -%}
              <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                width="{{ section.settings.logo_width }}"
                height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                class="logo">
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>

        <div class="col-xl-8 d-none d-xl-block">
          <nav class="box-navigation text-center">
            <ul class="box-nav-menu">
              {%- for link in linklists[section.settings.menu].links -%}
                <li class="menu-item{% if link.links != blank %} has-submenu{% endif %}">
                  <a href="{{ link.url }}" class="item-link">
                    {{ link.title }}
                    {%- if link.links != blank -%}
                      <i class="icon icon-arr-down"></i>
                    {%- endif -%}
                  </a>
                  {%- if link.links != blank -%}
                    <div class="sub-menu mega-menu mega-shop">
                      <div class="wrapper-sub-menu">
                        {%- for block in section.blocks -%}
                          {%- case block.type -%}
                            {%- when 'mega_menu_html' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {{ block.settings.html_content }}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_shop' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.collections != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <ul class="menu-list">
                                      {%- for collection in block.settings.collections -%}
                                        <li>
                                          <a href="{{ collection.url }}" class="menu-link-text link">
                                            {{ collection.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_product' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.products != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <div class="mega-menu-products">
                                      {%- for product in block.settings.products -%}
                                        <div class="mega-menu-product">
                                          <a href="{{ product.url }}">
                                            <img src="{{ product.featured_image | img_url: 'medium' }}"
                                              alt="{{ product.title }}"
                                              class="lazyload">
                                            <h4>{{ product.title }}</h4>
                                            <p class="price">{{ product.price | money }}</p>
                                          </a>
                                        </div>
                                      {%- endfor -%}
                                    </div>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            
                            {%- when 'mega_menu_pages' -%}
                              {%- if block.settings.title == link.title -%}
                                <div class="mega-menu-item" {{ block.shopify_attributes }}>
                                  {%- if block.settings.menu != blank -%}
                                    <div class="menu-heading">{{ block.settings.title }}</div>
                                    <ul class="menu-list">
                                      {%- for link in linklists[block.settings.menu].links -%}
                                        <li>
                                          <a href="{{ link.url }}" class="menu-link-text link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                  {%- if block.settings.banner_image != blank -%}
                                    <div class="mega-menu-banner">
                                      <a href="{{ block.settings.banner_link }}">
                                        <img src="{{ block.settings.banner_image | img_url: 'master' }}"
                                          alt="{{ block.settings.title }}"
                                          class="lazyload">
                                      </a>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                          {%- endcase -%}
                        {%- endfor -%}
                      </div>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>

        <div class="col-xl-2 col-md-4 col-3">
          <ul class="nav-icon d-flex justify-content-end align-items-center">
            {%- if section.settings.show_search -%}
              <li class="nav-search">
                <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                  <i class="icon icon-search"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_account -%}
              <li class="nav-account">
                <a href="javascript:void(0);" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                  <i class="icon icon-user"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_wishlist -%}
              <li class="nav-wishlist">
                <a href="/pages/wishlist" class="nav-icon-item">
                  <i class="icon icon-heart"></i>
                  <span class="count-box wishlist-count">0</span>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_cart -%}
              <li class="nav-cart">
                <a href="#shoppingCart" data-bs-toggle="offcanvas" class="nav-icon-item">
                  <i class="icon icon-cart"></i>
                  <span class="count-box">{{ cart.item_count }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  {%- endif -%}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Header Layout",
      "options": [
        {
          "value": "layout-1",
          "label": "Layout 1"
        },
        {
          "value": "layout-2",
          "label": "Layout 2"
        },
        {
          "value": "layout-3",
          "label": "Layout 3"
        }
      ],
      "default": "layout-1"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_cards",
      "label": "Show Product Cards in Submenu",
      "default": true
    },
    {
      "type": "header",
      "content": "Product 1"
    },
    {
      "type": "image_picker",
      "id": "product_image_1",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "product_title_1",
      "label": "Product Title",
      "default": "Men"
    },
    {
      "type": "url",
      "id": "product_url_1",
      "label": "Product URL"
    },
    {
      "type": "header",
      "content": "Product 2"
    },
    {
      "type": "image_picker",
      "id": "product_image_2",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "product_title_2",
      "label": "Product Title",
      "default": "Women"
    },
    {
      "type": "url",
      "id": "product_url_2",
      "label": "Product URL"
    },
    {
      "type": "header",
      "content": "Product 3"
    },
    {
      "type": "image_picker",
      "id": "product_image_3",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "product_title_3",
      "label": "Product Title",
      "default": "Accessories"
    },
    {
      "type": "url",
      "id": "product_url_3",
      "label": "Product URL"
    },
    {
      "type": "header",
      "content": "Product 4"
    },
    {
      "type": "image_picker",
      "id": "product_image_4",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "product_title_4",
      "label": "Product Title",
      "default": "Sportwear"
    },
    {
      "type": "url",
      "id": "product_url_4",
      "label": "Product URL"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_html",
      "name": "Mega Menu HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Home",
          "info": "Add title to connect menu item"
        },
        {
          "type": "html",
          "id": "html_content",
          "label": "Content HTML"
        },
        {
          "type": "page",
          "id": "content_page",
          "label": "Content page",
          "info": "This page content will appear."
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Color scheme",
          "options": [
            { "value": "scheme-1", "label": "Scheme 1" },
            { "value": "scheme-2", "label": "Scheme 2" },
            { "value": "scheme-3", "label": "Scheme 3" }
          ],
          "default": "scheme-1"
        },
        {
          "type": "select",
          "id": "submenu_position",
          "label": "Submenu position",
          "options": [
            { "value": "center", "label": "Center on the screen" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "center"
        },
        {
          "type": "radio",
          "id": "mega_menu_width",
          "label": "Mega menu width",
          "options": [
            { "value": "fullwidth", "label": "Fullwidth" },
            { "value": "custom", "label": "Custom width" }
          ],
          "default": "fullwidth"
        },
        {
          "type": "range",
          "id": "mega_menu_custom_width",
          "label": "Mega menu custom width",
          "min": 800,
          "max": 1800,
          "step": 10,
          "default": 1200,
          "unit": "px"
        }
      ]
    },
    {
      "type": "mega_menu_shop",
      "name": "Mega Menu Shop",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Shop",
          "info": "Add title to connect menu item"
        },
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collection list",
          "limit": 10
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image ratio",
          "options": [
            { "value": "asos", "label": "ASOS" },
            { "value": "square", "label": "Square" },
            { "value": "portrait", "label": "Portrait" },
            { "value": "landscape", "label": "Landscape" }
          ],
          "default": "asos"
        },
        {
          "type": "checkbox",
          "id": "full_image",
          "label": "Full image",
          "default": false
        },
        {
          "type": "select",
          "id": "items_per_row",
          "label": "Items per row (Desktop)",
          "options": [
            { "value": "default", "label": "Default" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" },
            { "value": "6", "label": "6" }
          ],
          "default": "default",
          "info": "Not working with carousel layout"
        },
        {
          "type": "checkbox",
          "id": "enable_carousel",
          "label": "Enable carousel layout",
          "default": false,
          "info": "Default is grid layout"
        },
        {
          "type": "checkbox",
          "id": "use_prev_next",
          "label": "Use prev/next button",
          "default": false,
          "info": "Working with carousel layout"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Color scheme",
          "options": [
            { "value": "scheme-1", "label": "Scheme 1" },
            { "value": "scheme-2", "label": "Scheme 2" },
            { "value": "scheme-3", "label": "Scheme 3" }
          ],
          "default": "scheme-1"
        },
        {
          "type": "select",
          "id": "submenu_position",
          "label": "Submenu position",
          "options": [
            { "value": "default", "label": "Default" },
            { "value": "center", "label": "Center on the screen" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "default"
        },
        {
          "type": "radio",
          "id": "mega_menu_width",
          "label": "Mega menu width",
          "options": [
            { "value": "fullwidth", "label": "Fullwidth" },
            { "value": "custom", "label": "Custom width" }
          ],
          "default": "fullwidth"
        },
        {
          "type": "range",
          "id": "mega_menu_custom_width",
          "label": "Mega menu custom width",
          "min": 800,
          "max": 1800,
          "step": 10,
          "default": 1200,
          "unit": "px"
        }
      ]
    },
    {
      "type": "mega_menu_product",
      "name": "Mega Menu Product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Products",
          "info": "Add title to connect menu item"
        },
        {
          "type": "text",
          "id": "products_list_title",
          "label": "Products list title",
          "default": "BEST SELLER"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products list",
          "limit": 10
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image ratio",
          "options": [
            { "value": "asos", "label": "ASOS" },
            { "value": "square", "label": "Square" },
            { "value": "portrait", "label": "Portrait" },
            { "value": "landscape", "label": "Landscape" }
          ],
          "default": "asos"
        },
        {
          "type": "checkbox",
          "id": "full_image",
          "label": "Full image",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "use_prev_next",
          "label": "Use prev/next button",
          "default": false
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Color scheme",
          "options": [
            { "value": "scheme-1", "label": "Scheme 1" },
            { "value": "scheme-2", "label": "Scheme 2" },
            { "value": "scheme-3", "label": "Scheme 3" }
          ],
          "default": "scheme-1"
        },
        {
          "type": "select",
          "id": "submenu_position",
          "label": "Submenu position",
          "options": [
            { "value": "default", "label": "Default" },
            { "value": "center", "label": "Center on the screen" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "default"
        },
        {
          "type": "radio",
          "id": "mega_menu_width",
          "label": "Mega menu width",
          "options": [
            { "value": "fullwidth", "label": "Fullwidth" },
            { "value": "custom", "label": "Custom width" }
          ],
          "default": "fullwidth"
        },
        {
          "type": "range",
          "id": "mega_menu_custom_width",
          "label": "Mega menu custom width",
          "min": 800,
          "max": 1800,
          "step": 10,
          "default": 1200,
          "unit": "px"
        }
      ]
    },
    {
      "type": "mega_menu_pages",
      "name": "Mega Menu Pages",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Pages",
          "info": "Add title to connect menu item"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "Color scheme",
          "options": [
            { "value": "scheme-1", "label": "Scheme 1" },
            { "value": "scheme-2", "label": "Scheme 2" },
            { "value": "scheme-3", "label": "Scheme 3" }
          ],
          "default": "scheme-1"
        },
        {
          "type": "select",
          "id": "submenu_position",
          "label": "Submenu position",
          "options": [
            { "value": "default", "label": "Default" },
            { "value": "center", "label": "Center on the screen" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "default"
        },
        {
          "type": "radio",
          "id": "mega_menu_width",
          "label": "Mega menu width",
          "options": [
            { "value": "fullwidth", "label": "Fullwidth" },
            { "value": "custom", "label": "Custom width" }
          ],
          "default": "fullwidth"
        },
        {
          "type": "range",
          "id": "mega_menu_custom_width",
          "label": "Mega menu custom width",
          "min": 800,
          "max": 1800,
          "step": 10,
          "default": 1200,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "mega_menu_html"
        },
        {
          "type": "mega_menu_shop"
        },
        {
          "type": "mega_menu_product"
        },
        {
          "type": "mega_menu_pages"
        }
      ],
      "settings": {
        "layout": "layout-1",
        "background_color": "#ffffff",
        "show_search": true,
        "show_account": true,
        "show_wishlist": true,
        "show_cart": true,
        "show_product_cards": true,
        "product_title_1": "Men",
        "product_title_2": "Women",
        "product_title_3": "Accessories",
        "product_title_4": "Sportwear"
      }
    }
  ]
}
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function() {
  const swipers = document.querySelectorAll('.tf-swiper');
  swipers.forEach(function(element) {
    const options = JSON.parse(element.dataset.swiper || '{}');
    new Swiper(element, options);
  });

  // Header scroll behavior
  const header = document.getElementById('header');
  let lastScrollTop = 0;

  window.addEventListener('scroll', function() {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
    if (scrollTop < 87) {
      header.classList.remove('header-hidden');
      header.classList.remove('header-visible');
    } else if (scrollTop > lastScrollTop) {
      // Scrolling down
      header.classList.add('header-hidden');
      header.classList.remove('header-visible');
    } else {
      // Scrolling up
      header.classList.remove('header-hidden');
      header.classList.add('header-visible');
    }
    
    lastScrollTop = scrollTop;
  });
});
</script>

<style>
.header-hidden {
  transform: translateY(-100%);
}
.header-visible {
  transform: translateY(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
</style> 