{%- comment -%}Header Section{%- endcomment -%}
{%- assign cached_locales = shop.published_locales -%}
{%- assign cached_currencies = shop.enabled_currencies -%}
<header id="header" class="header-default{% if section.settings.layout == 'layout-2' %} header-2{% endif %}{% if section.settings.layout == 'layout-3' %} header-3{% endif %}{% if section.settings.enable_transparent %} header-absolute{% endif %}" style="background-color: {{ section.settings.background_color }};">
  {%- if section.settings.layout == 'layout-2' -%}
    <div class="header-top">
      <div class="container">
        <div class="row wrapper-header align-items-center">
          <div class="col-md-4 col-3 d-xl-none">
            <a href="#mobileMenu" 
               class="mobile-menu mobile-menu-toggle" 
               data-bs-toggle="offcanvas" 
               aria-controls="mobileMenu"
               aria-label="Open mobile menu"
               aria-expanded="false">
              <i class="icon icon-categories1" aria-hidden="true"></i>
            </a>
          </div>
          
          <div class="col-xl-5 d-none d-xl-block">
            <div class="header-language">
              <div class="tf-languages">
                {% assign current_language = request.locale.iso_code %}
                <select id="language-select" class="image-select center style-default type-languages" name="language" aria-label="Select language">
                  {% for locale in cached_locales %}
                    <option value="{{ locale.iso_code }}" {% if locale.iso_code == current_language %}selected{% endif %} {% if locale.primary %}data-primary="true"{% endif %}>
                      {{ locale.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="tf-currencies">
                <select id="currency-select" class="image-select center style-default type-currencies" name="currency" aria-label="Select currency">
                  {% for currency in cached_currencies %}
                    <option value="{{ currency.iso_code }}" {% if currency == cart.currency %}selected{% endif %}>
                      {{ currency.iso_code }} ({{ currency.symbol }})
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-md-4 col-6 text-center">
            <a href="{{ routes.root_url }}" class="logo-header">
              {%- if section.settings.logo != blank -%}
                <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  width="{{ section.settings.logo_width }}"
                  height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                  class="logo">
              {%- else -%}
                <span class="h4">{{ shop.name }}</span>
              {%- endif -%}
            </a>
          </div>

          <div class="col-xl-5 col-md-4 col-3">
            <ul class="nav-icon d-flex justify-content-end align-items-center">
              {%- if section.settings.show_search -%}
                <li class="nav-search">
                  <a href="#search" 
                     data-bs-toggle="modal" 
                     class="nav-icon-item icon-button"
                     aria-label="Open search"
                     aria-expanded="false">
                    <i class="icon icon-search" aria-hidden="true"></i>
                  </a>
                </li>
              {%- endif -%}

              {%- if section.settings.show_account -%}
                <li class="nav-account">
                  {%- if customer -%}
                    <a href="{{ routes.account_url }}" 
                       class="nav-icon-item icon-button"
                       aria-label="My account">
                      <i class="icon icon-user" aria-hidden="true"></i>
                    </a>
                  {%- else -%}
                    <a href="#login" 
                       class="nav-icon-item icon-button" 
                       data-bs-toggle="offcanvas" 
                       data-bs-target="#login"
                       aria-label="Sign in to your account"
                       aria-expanded="false">
                      <i class="icon icon-user" aria-hidden="true"></i>
                    </a>
                  {%- endif -%}
                </li>
              {%- endif -%}

              {%- if section.settings.show_wishlist -%}
                <li class="nav-wishlist">
                  <a href="/pages/wishlist" 
                     class="nav-icon-item icon-button"
                     aria-label="View wishlist">
                    <i class="icon icon-heart" aria-hidden="true"></i>
                    <span class="count-box wishlist-count" aria-label="0 items in wishlist">0</span>
                  </a>
                </li>
              {%- endif -%}

              {%- if section.settings.show_cart -%}
                <li class="nav-cart">
                  <a href="#" 
                     class="nav-icon-item icon-button" 
                     onclick="event.preventDefault(); window.openCartDrawer();"
                     aria-label="View shopping cart"
                     aria-expanded="false">
                    <i class="icon icon-cart" aria-hidden="true"></i>
                    <span class="count-box cart-count" aria-label="{{ cart.item_count }} items in cart">{{ cart.item_count }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
            
            <!-- App Blocks in Header -->
            {% for block in section.blocks %}
              {% if block.type == '@app' %}
                <div class="header-app-block" {{ block.shopify_attributes }}>
                  {% render block %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom d-none d-xl-block">
      <div class="container">
        <nav class="box-navigation text-center">
          <ul class="box-nav-menu">
            {%- for link in linklists[section.settings.menu].links -%}
              {% render 'header-menu-item', link: link, section: section %}
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>
  {%- elsif section.settings.layout == 'layout-3' -%}
    <div class="container">
      <div class="row wrapper-header align-items-center">
        <div class="col-md-4 col-3 d-xl-none">
          <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
            <i class="icon icon-categories1"></i>
          </a>
        </div>
        <div class="col-xxl-5 col-xl-6 d-none d-xl-block">
          <nav class="box-navigation text-center">
            <ul class="box-nav-menu justify-content-start">
              {%- for link in linklists[section.settings.menu].links -%}
                {% render 'header-menu-item', link: link, section: section %}
              {%- endfor -%}
            </ul>
          </nav>
        </div>

        <div class="col-xl-2 col-md-4 col-6 text-xxl-center">
          <a href="{{ routes.root_url }}" class="logo-header">
            {%- if section.settings.logo != blank -%}
              <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                width="{{ section.settings.logo_width }}"
                height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                class="logo">
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>

        <div class="col-xxl-5 col-xl-4 col-md-4 col-3">
          <ul class="nav-icon d-flex justify-content-end align-items-center">
            {%- if section.settings.show_search -%}
              <li class="nav-search">
                <a href="#search" data-bs-toggle="modal" class="nav-icon-item">
                  <i class="icon icon-search"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_account -%}
              <li class="nav-account">
                {%- if customer -%}
                  <a href="{{ routes.account_url }}" class="nav-icon-item">
                    <i class="icon icon-user"></i>
                  </a>
                {%- else -%}
                  <a href="#" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                    <i class="icon icon-user"></i>
                  </a>
                {%- endif -%}
              </li>
            {%- endif -%}

            {%- if section.settings.show_wishlist -%}
              <li class="nav-wishlist">
                <a href="/pages/wishlist" class="nav-icon-item">
                  <i class="icon icon-heart"></i>
                  <span class="count-box wishlist-count">0</span>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_cart -%}
              <li class="nav-cart">
                <a href="#" class="nav-icon-item" onclick="event.preventDefault(); window.openCartDrawer();">
                  <i class="icon icon-cart"></i>
                  <span class="count-box">{{ cart.item_count }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
          
          <!-- App Blocks in Header -->
          {% for block in section.blocks %}
            {% if block.type == '@app' %}
              <div class="header-app-block" {{ block.shopify_attributes }}>
                {% render block %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="container">
      <div class="row wrapper-header align-items-center">
        <div class="col-md-4 col-3 d-xl-none">
          <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
            <i class="icon icon-categories1"></i>
          </a>
        </div>
        
        <div class="col-xl-2 col-md-4 col-6">
          <a href="{{ routes.root_url }}" class="logo-header">
            {%- if section.settings.logo != blank -%}
              <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                width="{{ section.settings.logo_width }}"
                height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
                class="logo">
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>

        <div class="col-xl-8 d-none d-xl-block">
          <nav class="box-navigation text-center">
            <ul class="box-nav-menu">
              {%- for link in linklists[section.settings.menu].links -%}
                {% render 'header-menu-item', link: link, section: section %}
              {%- endfor -%}
            </ul>
          </nav>
        </div>

        <div class="col-xl-2 col-md-4 col-3">
          <ul class="nav-icon d-flex justify-content-end align-items-center">
            {%- if section.settings.show_search -%}
              <li class="nav-search">
                <a href="#search" data-bs-toggle="modal" class="nav-icon-item">
                  <i class="icon icon-search"></i>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_account -%}
              <li class="nav-account">
                {%- if customer -%}
                  <a href="{{ routes.account_url }}" class="nav-icon-item">
                    <i class="icon icon-user"></i>
                  </a>
                {%- else -%}
                  <a href="#" class="nav-icon-item" data-bs-toggle="offcanvas" data-bs-target="#login">
                    <i class="icon icon-user"></i>
                  </a>
                {%- endif -%}
              </li>
            {%- endif -%}

            {%- if section.settings.show_wishlist -%}
              <li class="nav-wishlist">
                <a href="/pages/wishlist" class="nav-icon-item">
                  <i class="icon icon-heart"></i>
                  <span class="count-box wishlist-count">0</span>
                </a>
              </li>
            {%- endif -%}

            {%- if section.settings.show_cart -%}
              <li class="nav-cart">
                <a href="#" class="nav-icon-item">
                  <i class="icon icon-cart"></i>
                  <span class="count-box cart-count">{{ cart.item_count }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
          
          <!-- App Blocks in Header -->
          {% for block in section.blocks %}
            {% if block.type == '@app' %}
              <div class="header-app-block" {{ block.shopify_attributes }}>
                {% render block %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {%- endif -%}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Header Layout",
      "options": [
        {
          "value": "layout-1",
          "label": "Layout 1"
        },
        {
          "value": "layout-2",
          "label": "Layout 2"
        },
        {
          "value": "layout-3",
          "label": "Layout 3"
        }
      ],
      "default": "layout-1"
    },
    {
      "type": "range",
      "id": "header_height",
      "min": 60,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Header height",
      "default": 87
    },
    {
      "type": "range",
      "id": "sticky_header_height",
      "min": 60,
      "max": 160,
      "step": 1,
      "unit": "px",
      "label": "Sticky header height",
      "default": 70
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover color",
      "default": "#ff6f61"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent",
      "label": "Enable transparent header",
      "default": false,
      "info": "Make header transparent and absolute positioned"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo width"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "color",
      "id": "mobile_menu_background",
      "label": "Mobile menu background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "mobile_menu_text_color",
      "label": "Mobile menu text color",
      "default": "#333333"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_html",
      "name": "Mega Menu HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Home",
          "info": "Add title to connect menu item"
        }
      ]
    },
    {
      "type": "mega_menu_shop",
      "name": "Mega Menu Shop",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Shop",
          "info": "Add title to connect menu item"
        },
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collection list",
          "limit": 10
        }
      ]
    },
    {
      "type": "mega_menu_product",
      "name": "Mega Menu Product",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Products",
          "info": "Add title to connect menu item"
        },
        {
          "type": "text",
          "id": "products_list_title",
          "label": "Products list title",
          "default": "BEST SELLER"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products list",
          "limit": 10
        }
      ]
    },
    {
      "type": "mega_menu_pages",
      "name": "Mega Menu Pages",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Pages",
          "info": "Add title to connect menu item"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "Select menu to display in mega menu"
        },
        {
          "type": "header",
          "content": "Banner Settings"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner Link"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title",
          "default": "Unveiling the latest gear"
        }
      ]
    },
    {
      "type": "mega_menu_blog",
      "name": "Mega Menu Blog",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item title",
          "default": "Blog",
          "info": "Add title to connect menu item"
        },
        {
          "type": "header",
          "content": "Blog Categories"
        },
        {
          "type": "link_list",
          "id": "blog_categories",
          "label": "Blog Categories Menu",
          "info": "Select menu to display blog categories"
        },
        {
          "type": "header",
          "content": "Recent Posts"
        },
        {
          "type": "text",
          "id": "recent_posts_title",
          "label": "Recent Posts Title",
          "default": "Recent Posts"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "range",
          "id": "posts_limit",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Number of posts to show",
          "default": 3
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "mega_menu_html"
        },
        {
          "type": "mega_menu_shop"
        },
        {
          "type": "mega_menu_product"
        },
        {
          "type": "mega_menu_pages"
        },
        {
          "type": "mega_menu_blog"
        }
      ],
      "settings": {
        "layout": "layout-1",
        "background_color": "#ffffff",
        "text_color": "#333333",
        "hover_color": "#666666",
        "mobile_menu_background": "#ffffff",
        "mobile_menu_text_color": "#333333",
        "show_search": true,
        "show_account": true,
        "show_wishlist": true,
        "show_cart": true
      }
    }
  ]
}
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function() {
  const swipers = document.querySelectorAll('.tf-swiper');
  swipers.forEach(function(element) {
    const options = JSON.parse(element.dataset.swiper || '{}');
    new Swiper(element, options);
  });

  // Header scroll behavior
  const header = document.getElementById('header');
  let lastScrollTop = 0;

  window.addEventListener('scroll', function() {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
    if (scrollTop < 87) {
      header.classList.remove('header-hidden');
      header.classList.remove('header-visible');
      // Restore header-absolute class when back to top (if it was originally there)
      if ({{ section.settings.enable_transparent | json }}) {
        header.classList.add('header-absolute');
      }
      // Restore inline styles for main header
      header.style.backgroundColor = '{{ section.settings.background_color }}';
      header.style.color = '{{ section.settings.text_color }}';
    } else if (scrollTop > lastScrollTop) {
      // Scrolling down
      header.classList.add('header-hidden');
      header.classList.remove('header-visible');
    } else {
      // Scrolling up
      header.classList.remove('header-hidden');
      header.classList.add('header-visible');
      // Remove header-absolute class when sticky
      header.classList.remove('header-absolute');
      // Remove inline styles to use CSS styles for sticky header
      header.style.backgroundColor = '';
      header.style.color = '';
    }
    
    lastScrollTop = scrollTop;
  });
});
</script>

<style>
.header-hidden {
  transform: translateY(-100%);
}
.header-visible {
  transform: translateY(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Header Layout */
#header {
  height: {{ section.settings.header_height }}px;
  background-color: {{ section.settings.background_color }};
  color: {{ section.settings.text_color }};
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Apply text color to all text elements in header */
#header,
/* #header * {
  color: {{ section.settings.text_color }};
} */

/* Specific text elements that should inherit the text color */
/* #header .logo-header,
#header .logo-header span,
#header .tf-languages,
#header .tf-currencies, */
/* #header .count-box {
  color: {{ section.settings.text_color }};
} */

#header.header-visible {
  height: {{ section.settings.sticky_header_height }}px;
  background-color: #ffffff;
}

/* Responsive Header Height */
@media (max-width: 1199px) {
  #header {
    height: 64px;
  }
  
  #header.header-visible {
    height: 64px;
  }
}

/* Menu Styles */
.box-nav-menu .menu-item {
  margin: 0;
}

/* Hover effects for all interactive elements */
.box-nav-menu .menu-item > a:hover,
.nav-icon-item:hover,
.nav-icon-item:hover i,
.logo-header:hover,
.mobile-menu:hover {
  color: {{ section.settings.hover_color }} !important;
}

/* Submenu Styles */
/* .sub-menu {
  background-color: {{ section.settings.dropdown_background }};
  color: {{ section.settings.dropdown_text_color }};
  padding: {{ section.settings.dropdown_padding }}px;
} */

/* Mobile Menu Styles */
@media (max-width: 1199px) {
  .mobile-menu {
    background-color: {{ section.settings.mobile_menu_background }};
    color: {{ section.settings.mobile_menu_text_color }} !important;
  }
}

/* Add bottom border to header */
#header:not(.header-absolute),
#header.header-visible:not(.header-absolute) {
  border-bottom: 1px solid #ebebeb !important;
  box-shadow: none !important;
}

/* Header App Block Styles */
.header-app-block {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.header-app-block:first-child {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .header-app-block {
    margin-left: 10px;
  }
}
</style> 