{%- comment -%}Header Section{%- endcomment -%}
<header id="header" class="header-default">
  <div class="container">
    <div class="row wrapper-header align-items-center">
      <div class="col-md-4 col-3 d-xl-none">
        <a href="#mobileMenu" class="mobile-menu" data-bs-toggle="offcanvas" aria-controls="mobileMenu">
          <i class="icon icon-categories1"></i>
        </a>
      </div>
      
      <div class="col-xl-2 col-md-4 col-6">
        <a href="{{ routes.root_url }}" class="logo-header">
          {%- if section.settings.logo != blank -%}
            <img src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              width="{{ section.settings.logo_width }}"
              height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio }}"
              class="logo">
          {%- else -%}
            <span class="h4">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>

      <div class="col-xl-8 d-none d-xl-block">
        <nav class="box-navigation text-center">
          {%- if section.settings.menu != blank -%}
            <ul class="box-nav-menu">
              {%- for link in section.settings.menu.links -%}
                <li class="menu-item{% if link.links.size > 0 %} has-submenu{% endif %}">
                  <a href="{{ link.url }}" class="item-link">
                    {{ link.title }}
                    {%- if link.links.size > 0 -%}
                      <i class="icon icon-arr-down"></i>
                    {%- endif -%}
                  </a>
                  {%- if link.links.size > 0 -%}
                    <div class="sub-menu{% if link.levels == 2 %} mega-menu{% endif %}">
                      <ul class="menu-list">
                        {%- for childlink in link.links -%}
                          <li>
                            <a href="{{ childlink.url }}" class="menu-link-text link">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </nav>
      </div>

      <div class="col-xl-2 col-md-4 col-3">
        <ul class="nav-icon d-flex justify-content-end align-items-center">
          {%- if section.settings.show_search -%}
            <li class="nav-search">
              <a href="#search" data-bs-toggle="offcanvas" class="nav-icon-item">
                <i class="icon icon-search"></i>
              </a>
            </li>
          {%- endif -%}

          {%- if section.settings.show_account -%}
            <li class="nav-account">
              <a href="{{ routes.account_url }}" class="nav-icon-item">
                <i class="icon icon-user"></i>
              </a>
            </li>
          {%- endif -%}

          {%- if section.settings.show_wishlist -%}
            <li class="nav-wishlist">
              <a href="{{ routes.wishlist_url }}" class="nav-icon-item">
                <i class="icon icon-heart"></i>
                <span class="count-box">0</span>
              </a>
            </li>
          {%- endif -%}

          {%- if section.settings.show_cart -%}
            <li class="nav-cart">
              <a href="#shoppingCart" data-bs-toggle="offcanvas" class="nav-icon-item">
                <i class="icon icon-cart"></i>
                <span class="count-box">{{ cart.item_count }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 150,
      "unit": "px",
      "label": "Logo width"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Header Icons"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Header",
      "settings": {
        "logo_width": 150,
        "show_search": true,
        "show_account": true,
        "show_wishlist": true,
        "show_cart": true
      }
    }
  ]
}
{% endschema %} 