<!-- Just Arrivals -->
<section class="bg-white mx_40 radius-16 flat-spacing-12">
    <div class="container-3">
        <div class="flat-animate-tab">
            <div class="flat-title-tab text-center wow fadeInUp">
                <div class="box-title">
                    <p class="text-md fw-medium text-uppercase text-primary">{{ section.settings.subtitle }}</p>
                    <h4 class="title">{{ section.settings.title }}</h4>
                </div>
                <ul class="menu-tab-line style-md justify-content-center" role="tablist">
                    {% for block in section.blocks %}
                        {% if block.type == 'tab' %}
                            <li class="nav-tab-item" role="presentation" {{ block.shopify_attributes }}>
                                <a href="#{{ block.settings.tab_id }}" 
                                   class="tab-link {% if forloop.first %}active{% endif %}" 
                                   data-bs-toggle="tab">
                                    {{ block.settings.tab_title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for block in section.blocks %}
                    {% if block.type == 'tab' %}
                        <div class="tab-pane {% if forloop.first %}active show{% endif %}" 
                             id="{{ block.settings.tab_id }}" 
                             role="tabpanel" 
                             {{ block.shopify_attributes }}>
                            <div dir="ltr" 
                                 class="swiper tf-swiper" 
                                 data-swiper='{
                                    "slidesPerView": 2,
                                    "spaceBetween": 12,
                                    "speed": 800,
                                    "observer": true,
                                    "observeParents": true,
                                    "navigation": {
                                        "clickable": true,
                                        "nextEl": ".nav-next-{{ block.settings.tab_id }}",
                                        "prevEl": ".nav-prev-{{ block.settings.tab_id }}"
                                    },
                                    "pagination": { 
                                        "el": ".sw-pagination-{{ block.settings.tab_id }}", 
                                        "clickable": true, 
                                        "type": "progressbar" 
                                    },
                                    "breakpoints": {
                                        "768": { "slidesPerView": 3, "spaceBetween": 12 },
                                        "1200": { "slidesPerView": 4, "spaceBetween": 24}
                                    }
                                }'>
                                <div class="swiper-wrapper">
                                    {% for product in collections[block.settings.collection].products limit: block.settings.products_to_show %}
                                        {% assign discount_amount = product.compare_at_price | minus: product.price %}
                                        {% assign discount_percentage = discount_amount | times: 100.0 | divided_by: product.compare_at_price | round %}
                                        <div class="swiper-slide">
                                            {% render 'card-product',
                                                product: product,
                                                show_sale_badge: true,
                                                sale_badge_text: discount_percentage | append: '% Off',
                                                show_color_swatches: true,
                                                selected_variant: product.selected_or_first_available_variant
                                            %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="sw-pagination-{{ block.settings.tab_id }} position-relative"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- /Just Arrivals -->

{% schema %}
{
    "name": "Just Arrivals",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Discover our top picks"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Just Arrivals"
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "Tab",
            "settings": [
                {
                    "type": "text",
                    "id": "tab_title",
                    "label": "Tab Title",
                    "default": "iPhone"
                },
                {
                    "type": "text",
                    "id": "tab_id",
                    "label": "Tab ID",
                    "default": "iphone"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "range",
                    "id": "products_to_show",
                    "min": 4,
                    "max": 12,
                    "step": 1,
                    "default": 8,
                    "label": "Number of products to show"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Just Arrivals",
            "blocks": [
                {
                    "type": "tab",
                    "settings": {
                        "tab_title": "iPhone",
                        "tab_id": "iphone"
                    }
                },
                {
                    "type": "tab",
                    "settings": {
                        "tab_title": "Android",
                        "tab_id": "android"
                    }
                },
                {
                    "type": "tab",
                    "settings": {
                        "tab_title": "Personalized",
                        "tab_id": "personalized"
                    }
                }
            ]
        }
    ]
}
{% endschema %} 