{%- comment -%}Quickview Product Template{%- endcomment -%}

<div class="tf-product-media-wrap">
    <div dir="ltr" class="swiper tf-single-slide">
        <div class="swiper-wrapper">
            {% for image in product.images %}
                <div class="swiper-slide">
                    <div class="item">
                        <img class="lazyload" 
                            data-src="{{ image | image_url: '600x' }}"
                            src="{{ image | image_url: '600x' }}" 
                            alt="{{ image.alt | escape }}"
                            width="600"
                            height="600">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev nav-swiper arrow-1 nav-prev-cls single-slide-prev"></div>
        <div class="swiper-button-next nav-swiper arrow-1 nav-next-cls single-slide-next"></div>
    </div>
</div>
<div class="tf-product-info-wrap">
    <div class="tf-product-info-inner">
        <div class="tf-product-info-heading">
            <h6 class="product-info-name">{{ product.title }}</h6>
            <div class="product-info-price">
                <h6 class="price-new price-on-sale">{{ product.price | money }}</h6>
                {% if product.compare_at_price > product.price %}
                    <h6 class="price-old">{{ product.compare_at_price | money }}</h6>
                {% endif %}
            </div>
            <p class="text">{{ product.description | strip_html | truncatewords: 30 }}</p>
        </div>
        <div class="tf-product-info-variant">
            {% for option in product.options_with_values %}
                <div class="variant-picker-item variant-{{ option.name | handle }}">
                    <div class="variant-picker-label">
                        {{ option.name }}:<span class="variant-picker-label-value value-current{{ option.name }}">{{ option.selected_value }}</span>
                    </div>
                    <div class="variant-picker-values">
                        {% for value in option.values %}
                            {% if option.name == 'Color' %}
                                <div class="hover-tooltip color-btn {% if value == option.selected_value %}active{% endif %}" data-color="{{ value | handle }}">
                                    <span class="check-color" style="background-color: {{ value | handle }}"></span>
                                    <span class="tooltip">{{ value }}</span>
                                </div>
                            {% else %}
                                <span class="size-btn {% if value == option.selected_value %}active{% endif %}" data-{{ option.name | handle }}="{{ value | handle }}">{{ value }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tf-product-total-quantity">
            <div class="group-btn">
                <div class="wg-quantity">
                    <button class="btn-quantity minus-btn">-</button>
                    <input class="quantity-product font-4" type="text" name="quantity" value="1" min="1">
                    <button class="btn-quantity plus-btn">+</button>
                </div>
                <button type="button" 
                    class="tf-btn hover-primary" 
                    data-add-to-cart 
                    data-product-id="{{ product.id }}"
                    {% unless product.available %}disabled{% endunless %}>
                    {% if product.available %}
                        Add to Cart
                    {% else %}
                        Sold Out
                    {% endif %}
                </button>
            </div>
            <button type="button" class="tf-btn w-100 animate-btn paypal btn-primary">Buy It Now</button>
            <a href="{{ product.url }}" class="view-details link">View full details <i class="icon icon-arrow-right"></i></a>
        </div>
    </div>
</div> 