{%- comment -%}Product Details Section{%- endcomment -%}
<section class="flat-spacing pt-0">
  {% if section.settings.width == 'boxed' %}
    <div class="container">
  {% endif %}
    {%- if section.settings.layout == 'accordion' -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="widget-accordion wd-product-descriptions" {{ block.shopify_attributes }}>
                <div class="accordion-title collapsed" data-bs-target="#description-{{ block.id }}" data-bs-toggle="collapse" aria-expanded="true" aria-controls="description-{{ block.id }}" role="button">
                  <span>{{ block.settings.title }}</span>
                  <span class="icon icon-arrow-down"></span>
                </div>
                <div id="description-{{ block.id }}" class="collapse">
                  <div class="accordion-body widget-desc">
                    <span style="font-size: 14px">{{ product.description }}</span>
                  </div>
                </div>
              </div>
            {%- endif -%}

          {%- when 'materials' -%}
            {%- assign has_material_content = false -%}
            {%- if product.metafields.material.content != blank or product.metafields.material.care != blank or product.metafields.material.imported != blank or product.metafields.material.wash != blank or product.metafields.material.iron != blank or product.metafields.material.bleach != blank or product.metafields.material.dry_clean != blank or product.metafields.material.tumble_dry != blank -%}
              {%- assign has_material_content = true -%}
            {%- endif -%}
            {%- if has_material_content -%}
              <div class="widget-accordion wd-product-descriptions" {{ block.shopify_attributes }}>
                <div class="accordion-title collapsed" data-bs-target="#material-{{ block.id }}" data-bs-toggle="collapse" aria-expanded="true" aria-controls="material-{{ block.id }}" role="button">
                  <span>{{ block.settings.title }}</span>
                  <span class="icon icon-arrow-down"></span>
                </div>
                <div id="material-{{ block.id }}" class="collapse">
                  <div class="accordion-body widget-material">
                    <div class="item">
                      <p class="fw-medium title">{{ 'sections.product_details.materials_care' | t }}</p>
                      <ul>
                        {%- if product.metafields.material.content -%}
                          <li>{{ 'sections.product_details.material_content' | t }}: {{ product.metafields.material.content }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.care -%}
                          <li>{{ 'sections.product_details.material_care' | t }}: {{ product.metafields.material.care }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.imported -%}
                          <li>{{ 'sections.product_details.material_imported' | t }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.wash -%}
                          <li>{{ product.metafields.material.wash }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.iron -%}
                          <li>{{ product.metafields.material.iron }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.bleach -%}
                          <li>{{ product.metafields.material.bleach }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.dry_clean -%}
                          <li>{{ product.metafields.material.dry_clean }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.tumble_dry -%}
                          <li>{{ product.metafields.material.tumble_dry }}</li>
                        {%- endif -%}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}

          {%- when 'return_policies' -%}
            {%- assign has_policy_content = false -%}
            {%- if product.metafields.return_policies.shopping_bag != blank or product.metafields.return_policies.shipping != blank or product.metafields.return_policies.box != blank or product.metafields.return_policies.cart != blank or product.metafields.return_policies.circle != blank or product.metafields.return_policies.settings != blank or product.metafields.return_policies.square != blank -%}
              {%- assign has_policy_content = true -%}
            {%- endif -%}
            {%- if has_policy_content -%}
              <div class="widget-accordion wd-product-descriptions" {{ block.shopify_attributes }}>
                <div class="accordion-title collapsed" data-bs-target="#return_policies-{{ block.id }}" data-bs-toggle="collapse" aria-expanded="true" aria-controls="return_policies-{{ block.id }}" role="button">
                  <span>{{ block.settings.title }}</span>
                  <span class="icon icon-arrow-down"></span>
                </div>
                <div id="return_policies-{{ block.id }}" class="collapse">
                  <div class="accordion-body">
                    <ul class="list-policies">
                      {%- if product.metafields.return_policies.shopping_bag != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M8.7 30.7h22.7c.3 0 .6-.2.7-.6l4-25.3c-.1-.4-.3-.7-.7-.8s-.7.2-.8.6L34 8.9l-3-1.1c-2.4-.9-5.1-.5-7.2 1-2.3 1.6-5.3 1.6-7.6 0-2.1-1.5-4.8-1.9-7.2-1L6 8.9l-.7-4.3c0-.4-.4-.7-.7-.6-.4.1-.6.4-.6.8l4 25.3c.1.3.3.6.7.6zm.8-21.6c2-.7 4.2-.4 6 .8 1.4 1 3 1.5 4.6 1.5s3.2-.5 4.6-1.5c1.7-1.2 4-1.6 6-.8l3.3 1.2-3 19.1H9.2l-3-19.1 3.3-1.2zM32 32H8c-.4 0-.7.3-.7.7s.3.7.7.7h24c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm0 2.7H8c-.4 0-.7.3-.7.7s.3.6.7.6h24c.4 0 .7-.3.7-.7s-.3-.6-.7-.6zm-17.9-8.9c-1 0-1.8-.3-2.4-.6l.1-2.1c.6.4 1.4.6 2 .6.8 0 1.2-.4 1.2-1.3s-.4-1.3-1.3-1.3h-1.3l.2-1.9h1.1c.6 0 1-.3 1-1.3 0-.8-.4-1.2-1.1-1.2s-1.2.2-1.9.4l-.2-1.9c.7-.4 1.5-.6 2.3-.6 2 0 3 1.3 3 2.9 0 1.2-.4 1.9-1.1 2.3 1 .4 1.3 1.4 1.3 2.5.3 1.8-.6 3.5-2.9 3.5zm4-5.5c0-3.9 1.2-5.5 3.2-5.5s3.2 1.6 3.2 5.5-1.2 5.5-3.2 5.5-3.2-1.6-3.2-5.5zm4.1 0c0-2-.1-3.5-.9-3.5s-1 1.5-1 3.5.1 3.5 1 3.5c.8 0 .9-1.5.9-3.5zm4.5-1.4c-.9 0-1.5-.8-1.5-2.1s.6-2.1 1.5-2.1 1.5.8 1.5 2.1-.5 2.1-1.5 2.1zm0-.8c.4 0 .7-.5.7-1.2s-.2-1.2-.7-1.2-.7.5-.7 1.2.3 1.2.7 1.2z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.shipping != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M36.7 31.1l-2.8-1.3-4.7-9.1 7.5-3.5c.4-.2.6-.6.4-1s-.6-.5-1-.4l-7.5 3.5-7.8-15c-.3-.5-1.1-.5-1.4 0l-7.8 15L4 15.9c-.4-.2-.8 0-1 .4s0 .8.4 1l7.5 3.5-4.7 9.1-2.8 1.3c-.4.2-.6.6-.4 1 .1.3.4.4.7.4.1 0 .2 0 .3-.1l1-.4-1.5 2.8c-.1.2-.1.5 0 .8.1.2.4.3.7.3h31.7c.3 0 .5-.1.7-.4.1-.2.1-.5 0-.8L35.1 32l1 .4c.1 0 .2.1.3.1.3 0 .6-.2.7-.4.1-.3 0-.8-.4-1zm-5.1-2.3l-9.8-4.6 6-2.8 3.8 7.4zM20 6.4L27.1 20 20 23.3 12.9 20 20 6.4zm-7.8 15l6 2.8-9.8 4.6 3.8-7.4zm22.4 13.1H5.4L7.2 31 20 25l12.8 6 1.8 3.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.box != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M5.9 5.9v28.2h28.2V5.9H5.9zM19.1 20l-8.3 8.3c-2-2.2-3.2-5.1-3.2-8.3s1.2-6.1 3.2-8.3l8.3 8.3zm-7.4-9.3c2.2-2 5.1-3.2 8.3-3.2s6.1 1.2 8.3 3.2L20 19.1l-8.3-8.4zM20 20.9l8.3 8.3c-2.2 2-5.1 3.2-8.3 3.2s-6.1-1.2-8.3-3.2l8.3-8.3zm.9-.9l8.3-8.3c2 2.2 3.2 5.1 3.2 8.3s-1.2 6.1-3.2 8.3L20.9 20zm8.4-10.2c-1.2-1.1-2.6-2-4.1-2.6h6.6l-2.5 2.6zm-18.6 0L8.2 7.2h6.6c-1.5.6-2.9 1.5-4.1 2.6zm-.9.9c-1.1 1.2-2 2.6-2.6 4.1V8.2l2.6 2.5zM7.2 25.2c.6 1.5 1.5 2.9 2.6 4.1l-2.6 2.6v-6.7zm3.5 5c1.2 1.1 2.6 2 4.1 2.6H8.2l2.5-2.6zm18.6 0l2.6 2.6h-6.6c1.4-.6 2.8-1.5 4-2.6zm.9-.9c1.1-1.2 2-2.6 2.6-4.1v6.6l-2.6-2.5zm2.6-14.5c-.6-1.5-1.5-2.9-2.6-4.1l2.6-2.6v6.7z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.cart != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M35.1 33.6L33.2 6.2c0-.4-.3-.7-.7-.7H13.9c-.4 0-.7.3-.7.7s.3.7.7.7h18l.7 10.5H20.8c-8.8.2-15.9 7.5-15.9 16.4 0 .4.3.7.7.7h28.9c.2 0 .4-.1.5-.2s.2-.3.2-.5v-.2h-.1zm-28.8-.5C6.7 25.3 13 19 20.8 18.9h11.9l1 14.2H6.3zm11.2-6.8c0 1.2-1 2.1-2.1 2.1s-2.1-1-2.1-2.1 1-2.1 2.1-2.1 2.1 1 2.1 2.1zm6.3 0c0 1.2-1 2.1-2.1 2.1-1.2 0-2.1-1-2.1-2.1s1-2.1 2.1-2.1 2.1 1 2.1 2.1z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.circle != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M20 33.8c7.6 0 13.8-6.2 13.8-13.8S27.6 6.2 20 6.2 6.2 12.4 6.2 20 12.4 33.8 20 33.8zm0-26.3c6.9 0 12.5 5.6 12.5 12.5S26.9 32.5 20 32.5 7.5 26.9 7.5 20 13.1 7.5 20 7.5zm-.4 15h.5c1.8 0 3-1.1 3-3.7 0-2.2-1.1-3.6-3.1-3.6h-2.6v10.6h2.2v-3.3zm0-5.2h.4c.6 0 .9.5.9 1.7 0 1.1-.3 1.7-.9 1.7h-.4v-3.4z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.settings != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M30.2 29.3c2.2-2.5 3.6-5.7 3.6-9.3s-1.4-6.8-3.6-9.3l3.6-3.6c.3-.3.3-.7 0-.9-.3-.3-.7-.3-.9 0l-3.6 3.6c-2.5-2.2-5.7-3.6-9.3-3.6s-6.8 1.4-9.3 3.6L7.1 6.2c-.3-.3-.7-.3-.9 0-.3.3-.3.7 0 .9l3.6 3.6c-2.2 2.5-3.6 5.7-3.6 9.3s1.4 6.8 3.6 9.3l-3.6 3.6c-.3.3-.3.7 0 .9.1.1.3.2.5.2s.3-.1.5-.2l3.6-3.6c2.5 2.2 5.7 3.6 9.3 3.6s6.8-1.4 9.3-3.6l3.6 3.6c.1.1.3.2.5.2s.3-.1.5-.2c.3-.3.3-.7 0-.9l-3.8-3.6z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.square != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M34.1 34.1H5.9V5.9h28.2v28.2zM7.2 32.8h25.6V7.2H7.2v25.6zm13.5-18.3a.68.68 0 0 0-.7-.7.68.68 0 0 0-.7.7v10.9a.68.68 0 0 0 .7.7.68.68 0 0 0 .7-.7V14.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                    </ul>
                    {%- if product.metafields.material.composition -%}
                      <p class="text-center text-paragraph">{{ product.metafields.material.composition }}</p>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    {%- elsif section.settings.layout == 'vertical' -%}
      <div class="flat-animate-tab tab-vertical-product-desc">
        <ul class="menu-tab" role="tablist">
          {%- for block in section.blocks -%}
            {%- assign show_tab = false -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
              {%- when 'materials' -%}
                {%- if product.metafields.material.content != blank or product.metafields.material.care != blank or product.metafields.material.imported != blank or product.metafields.material.wash != blank or product.metafields.material.iron != blank or product.metafields.material.bleach != blank or product.metafields.material.dry_clean != blank or product.metafields.material.tumble_dry != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
              {%- when 'return_policies' -%}
                {%- if product.metafields.return_policies.shopping_bag != blank or product.metafields.return_policies.shipping != blank or product.metafields.return_policies.box != blank or product.metafields.return_policies.cart != blank or product.metafields.return_policies.circle != blank or product.metafields.return_policies.settings != blank or product.metafields.return_policies.square != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
            {%- endcase -%}
            {%- if show_tab -%}
              <li class="nav-tab-item" role="presentation">
                <a href="#{{ block.type }}-{{ block.id }}" class="tab-link{% if forloop.first %} active{% endif %}" data-bs-toggle="tab">{{ block.settings.title }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        <div class="tab-content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="description-{{ block.id }}" role="tabpanel">
                    <div class="item">
                      {{ product.description }}
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'materials' -%}
                {%- assign has_material_content = false -%}
                {%- if product.metafields.material.content != blank or product.metafields.material.care != blank or product.metafields.material.imported != blank or product.metafields.material.wash != blank or product.metafields.material.iron != blank or product.metafields.material.bleach != blank or product.metafields.material.dry_clean != blank or product.metafields.material.tumble_dry != blank -%}
                  {%- assign has_material_content = true -%}
                {%- endif -%}
                {%- if has_material_content -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="materials-{{ block.id }}" role="tabpanel">
                    <div class="item">
                      <p class="fw-medium title">{{ block.settings.subtitle }}</p>
                      <ul>
                        {%- if product.metafields.material.content -%}
                          <li>{{ 'sections.product_details.material_content' | t }}: {{ product.metafields.material.content }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.care -%}
                          <li>{{ 'sections.product_details.material_care' | t }}: {{ product.metafields.material.care }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.imported -%}
                          <li>{{ 'sections.product_details.material_imported' | t }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.wash -%}
                          <li>{{ product.metafields.material.wash }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.iron -%}
                          <li>{{ product.metafields.material.iron }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.bleach -%}
                          <li>{{ product.metafields.material.bleach }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.dry_clean -%}
                          <li>{{ product.metafields.material.dry_clean }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.tumble_dry -%}
                          <li>{{ product.metafields.material.tumble_dry }}</li>
                        {%- endif -%}
                      </ul>
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'return_policies' -%}
                {%- assign has_policy_content = false -%}
                {%- if product.metafields.return_policies.shopping_bag != blank or product.metafields.return_policies.shipping != blank or product.metafields.return_policies.box != blank or product.metafields.return_policies.cart != blank or product.metafields.return_policies.circle != blank or product.metafields.return_policies.settings != blank or product.metafields.return_policies.square != blank -%}
                  {%- assign has_policy_content = true -%}
                {%- endif -%}
                {%- if has_policy_content -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="return_policies-{{ block.id }}" role="tabpanel">
                    <ul class="list-policies">
                      {%- if product.metafields.return_policies.shopping_bag != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M8.7 30.7h22.7c.3 0 .6-.2.7-.6l4-25.3c-.1-.4-.3-.7-.7-.8s-.7.2-.8.6L34 8.9l-3-1.1c-2.4-.9-5.1-.5-7.2 1-2.3 1.6-5.3 1.6-7.6 0-2.1-1.5-4.8-1.9-7.2-1L6 8.9l-.7-4.3c0-.4-.4-.7-.7-.6-.4.1-.6.4-.6.8l4 25.3c.1.3.3.6.7.6zm.8-21.6c2-.7 4.2-.4 6 .8 1.4 1 3 1.5 4.6 1.5s3.2-.5 4.6-1.5c1.7-1.2 4-1.6 6-.8l3.3 1.2-3 19.1H9.2l-3-19.1 3.3-1.2zM32 32H8c-.4 0-.7.3-.7.7s.3.7.7.7h24c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm0 2.7H8c-.4 0-.7.3-.7.7s.3.6.7.6h24c.4 0 .7-.3.7-.7s-.3-.6-.7-.6zm-17.9-8.9c-1 0-1.8-.3-2.4-.6l.1-2.1c.6.4 1.4.6 2 .6.8 0 1.2-.4 1.2-1.3s-.4-1.3-1.3-1.3h-1.3l.2-1.9h1.1c.6 0 1-.3 1-1.3 0-.8-.4-1.2-1.1-1.2s-1.2.2-1.9.4l-.2-1.9c.7-.4 1.5-.6 2.3-.6 2 0 3 1.3 3 2.9 0 1.2-.4 1.9-1.1 2.3 1 .4 1.3 1.4 1.3 2.5.3 1.8-.6 3.5-2.9 3.5zm4-5.5c0-3.9 1.2-5.5 3.2-5.5s3.2 1.6 3.2 5.5-1.2 5.5-3.2 5.5-3.2-1.6-3.2-5.5zm4.1 0c0-2-.1-3.5-.9-3.5s-1 1.5-1 3.5.1 3.5 1 3.5c.8 0 .9-1.5.9-3.5zm4.5-1.4c-.9 0-1.5-.8-1.5-2.1s.6-2.1 1.5-2.1 1.5.8 1.5 2.1-.5 2.1-1.5 2.1zm0-.8c.4 0 .7-.5.7-1.2s-.2-1.2-.7-1.2-.7.5-.7 1.2.3 1.2.7 1.2z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.shipping != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M36.7 31.1l-2.8-1.3-4.7-9.1 7.5-3.5c.4-.2.6-.6.4-1s-.6-.5-1-.4l-7.5 3.5-7.8-15c-.3-.5-1.1-.5-1.4 0l-7.8 15L4 15.9c-.4-.2-.8 0-1 .4s0 .8.4 1l7.5 3.5-4.7 9.1-2.8 1.3c-.4.2-.6.6-.4 1 .1.3.4.4.7.4.1 0 .2 0 .3-.1l1-.4-1.5 2.8c-.1.2-.1.5 0 .8.1.2.4.3.7.3h31.7c.3 0 .5-.1.7-.4.1-.2.1-.5 0-.8L35.1 32l1 .4c.1 0 .2.1.3.1.3 0 .6-.2.7-.4.1-.3 0-.8-.4-1zm-5.1-2.3l-9.8-4.6 6-2.8 3.8 7.4zM20 6.4L27.1 20 20 23.3 12.9 20 20 6.4zm-7.8 15l6 2.8-9.8 4.6 3.8-7.4zm22.4 13.1H5.4L7.2 31 20 25l12.8 6 1.8 3.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.box != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M5.9 5.9v28.2h28.2V5.9H5.9zM19.1 20l-8.3 8.3c-2-2.2-3.2-5.1-3.2-8.3s1.2-6.1 3.2-8.3l8.3 8.3zm-7.4-9.3c2.2-2 5.1-3.2 8.3-3.2s6.1 1.2 8.3 3.2L20 19.1l-8.3-8.4zM20 20.9l8.3 8.3c-2.2 2-5.1 3.2-8.3 3.2s-6.1-1.2-8.3-3.2l8.3-8.3zm.9-.9l8.3-8.3c2 2.2 3.2 5.1 3.2 8.3s-1.2 6.1-3.2 8.3L20.9 20zm8.4-10.2c-1.2-1.1-2.6-2-4.1-2.6h6.6l-2.5 2.6zm-18.6 0L8.2 7.2h6.6c-1.5.6-2.9 1.5-4.1 2.6zm-.9.9c-1.1 1.2-2 2.6-2.6 4.1V8.2l2.6 2.5zM7.2 25.2c.6 1.5 1.5 2.9 2.6 4.1l-2.6 2.6v-6.7zm3.5 5c1.2 1.1 2.6 2 4.1 2.6H8.2l2.5-2.6zm18.6 0l2.6 2.6h-6.6c1.4-.6 2.8-1.5 4-2.6zm.9-.9c1.1-1.2 2-2.6 2.6-4.1v6.6l-2.6-2.5zm2.6-14.5c-.6-1.5-1.5-2.9-2.6-4.1l2.6-2.6v6.7z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.cart != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M35.1 33.6L33.2 6.2c0-.4-.3-.7-.7-.7H13.9c-.4 0-.7.3-.7.7s.3.7.7.7h18l.7 10.5H20.8c-8.8.2-15.9 7.5-15.9 16.4 0 .4.3.7.7.7h28.9c.2 0 .4-.1.5-.2s.2-.3.2-.5v-.2h-.1zm-28.8-.5C6.7 25.3 13 19 20.8 18.9h11.9l1 14.2H6.3zm11.2-6.8c0 1.2-1 2.1-2.1 2.1s-2.1-1-2.1-2.1 1-2.1 2.1-2.1 2.1 1 2.1 2.1zm6.3 0c0 1.2-1 2.1-2.1 2.1-1.2 0-2.1-1-2.1-2.1s1-2.1 2.1-2.1 2.1 1 2.1 2.1z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.circle != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M20 33.8c7.6 0 13.8-6.2 13.8-13.8S27.6 6.2 20 6.2 6.2 12.4 6.2 20 12.4 33.8 20 33.8zm0-26.3c6.9 0 12.5 5.6 12.5 12.5S26.9 32.5 20 32.5 7.5 26.9 7.5 20 13.1 7.5 20 7.5zm-.4 15h.5c1.8 0 3-1.1 3-3.7 0-2.2-1.1-3.6-3.1-3.6h-2.6v10.6h2.2v-3.3zm0-5.2h.4c.6 0 .9.5.9 1.7 0 1.1-.3 1.7-.9 1.7h-.4v-3.4z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.settings != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M30.2 29.3c2.2-2.5 3.6-5.7 3.6-9.3s-1.4-6.8-3.6-9.3l3.6-3.6c.3-.3.3-.7 0-.9-.3-.3-.7-.3-.9 0l-3.6 3.6c-2.5-2.2-5.7-3.6-9.3-3.6s-6.8 1.4-9.3 3.6L7.1 6.2c-.3-.3-.7-.3-.9 0-.3.3-.3.7 0 .9l3.6 3.6c-2.2 2.5-3.6 5.7-3.6 9.3s1.4 6.8 3.6 9.3l-3.6 3.6c-.3.3-.3.7 0 .9.1.1.3.2.5.2s.3-.1.5-.2l3.6-3.6c2.5 2.2 5.7 3.6 9.3 3.6s6.8-1.4 9.3-3.6l3.6 3.6c.1.1.3.2.5.2s.3-.1.5-.2c.3-.3.3-.7 0-.9l-3.8-3.6z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.square != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M34.1 34.1H5.9V5.9h28.2v28.2zM7.2 32.8h25.6V7.2H7.2v25.6zm13.5-18.3a.68.68 0 0 0-.7-.7.68.68 0 0 0-.7.7v10.9a.68.68 0 0 0 .7.7.68.68 0 0 0 .7-.7V14.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- else -%}
      <div class="flat-animate-tab tab-product-desc">
        <ul class="menu-tab justify-content-md-center" role="tablist">
          {%- for block in section.blocks -%}
            {%- assign show_tab = false -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
              {%- when 'materials' -%}
                {%- if product.metafields.material.content != blank or product.metafields.material.care != blank or product.metafields.material.imported != blank or product.metafields.material.wash != blank or product.metafields.material.iron != blank or product.metafields.material.bleach != blank or product.metafields.material.dry_clean != blank or product.metafields.material.tumble_dry != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
              {%- when 'return_policies' -%}
                {%- if product.metafields.return_policies.shopping_bag != blank or product.metafields.return_policies.shipping != blank or product.metafields.return_policies.box != blank or product.metafields.return_policies.cart != blank or product.metafields.return_policies.circle != blank or product.metafields.return_policies.settings != blank or product.metafields.return_policies.square != blank -%}
                  {%- assign show_tab = true -%}
                {%- endif -%}
              {%- when 'additional_info' -%}
                {%- assign show_tab = true -%}
              {%- when 'reviews' -%}
                {%- assign show_tab = true -%}
            {%- endcase -%}
            {%- if show_tab -%}
              <li class="nav-tab-item" role="presentation">
                <a href="#{{ block.type }}-{{ block.id }}" class="tab-link{% if forloop.first %} active{% endif %}" data-bs-toggle="tab" role="tab">{{ block.settings.title }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
        <div class="tab-content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="description-{{ block.id }}" role="tabpanel">
                    <div class="item">
                      {{ product.description }}
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'materials' -%}
                {%- assign has_material_content = false -%}
                {%- if product.metafields.material.content != blank or product.metafields.material.care != blank or product.metafields.material.imported != blank or product.metafields.material.wash != blank or product.metafields.material.iron != blank or product.metafields.material.bleach != blank or product.metafields.material.dry_clean != blank or product.metafields.material.tumble_dry != blank -%}
                  {%- assign has_material_content = true -%}
                {%- endif -%}
                {%- if has_material_content -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="materials-{{ block.id }}" role="tabpanel">
                    <div class="item">
                      <p class="fw-medium title">{{ block.settings.subtitle }}</p>
                      <ul>
                        {%- if product.metafields.material.content -%}
                          <li>{{ 'sections.product_details.material_content' | t }}: {{ product.metafields.material.content }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.care -%}
                          <li>{{ 'sections.product_details.material_care' | t }}: {{ product.metafields.material.care }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.imported -%}
                          <li>{{ 'sections.product_details.material_imported' | t }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.wash -%}
                          <li>{{ product.metafields.material.wash }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.iron -%}
                          <li>{{ product.metafields.material.iron }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.bleach -%}
                          <li>{{ product.metafields.material.bleach }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.dry_clean -%}
                          <li>{{ product.metafields.material.dry_clean }}</li>
                        {%- endif -%}
                        {%- if product.metafields.material.tumble_dry -%}
                          <li>{{ product.metafields.material.tumble_dry }}</li>
                        {%- endif -%}
                      </ul>
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'return_policies' -%}
                {%- assign has_policy_content = false -%}
                {%- if product.metafields.return_policies.shopping_bag != blank or product.metafields.return_policies.shipping != blank or product.metafields.return_policies.box != blank or product.metafields.return_policies.cart != blank or product.metafields.return_policies.circle != blank or product.metafields.return_policies.settings != blank or product.metafields.return_policies.square != blank -%}
                  {%- assign has_policy_content = true -%}
                {%- endif -%}
                {%- if has_policy_content -%}
                  <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions" id="return_policies-{{ block.id }}" role="tabpanel">
                    <ul class="list-policies">
                      {%- if product.metafields.return_policies.shopping_bag != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M8.7 30.7h22.7c.3 0 .6-.2.7-.6l4-25.3c-.1-.4-.3-.7-.7-.8s-.7.2-.8.6L34 8.9l-3-1.1c-2.4-.9-5.1-.5-7.2 1-2.3 1.6-5.3 1.6-7.6 0-2.1-1.5-4.8-1.9-7.2-1L6 8.9l-.7-4.3c0-.4-.4-.7-.7-.6-.4.1-.6.4-.6.8l4 25.3c.1.3.3.6.7.6zm.8-21.6c2-.7 4.2-.4 6 .8 1.4 1 3 1.5 4.6 1.5s3.2-.5 4.6-1.5c1.7-1.2 4-1.6 6-.8l3.3 1.2-3 19.1H9.2l-3-19.1 3.3-1.2zM32 32H8c-.4 0-.7.3-.7.7s.3.7.7.7h24c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm0 2.7H8c-.4 0-.7.3-.7.7s.3.6.7.6h24c.4 0 .7-.3.7-.7s-.3-.6-.7-.6zm-17.9-8.9c-1 0-1.8-.3-2.4-.6l.1-2.1c.6.4 1.4.6 2 .6.8 0 1.2-.4 1.2-1.3s-.4-1.3-1.3-1.3h-1.3l.2-1.9h1.1c.6 0 1-.3 1-1.3 0-.8-.4-1.2-1.1-1.2s-1.2.2-1.9.4l-.2-1.9c.7-.4 1.5-.6 2.3-.6 2 0 3 1.3 3 2.9 0 1.2-.4 1.9-1.1 2.3 1 .4 1.3 1.4 1.3 2.5.3 1.8-.6 3.5-2.9 3.5zm4-5.5c0-3.9 1.2-5.5 3.2-5.5s3.2 1.6 3.2 5.5-1.2 5.5-3.2 5.5-3.2-1.6-3.2-5.5zm4.1 0c0-2-.1-3.5-.9-3.5s-1 1.5-1 3.5.1 3.5 1 3.5c.8 0 .9-1.5.9-3.5zm4.5-1.4c-.9 0-1.5-.8-1.5-2.1s.6-2.1 1.5-2.1 1.5.8 1.5 2.1-.5 2.1-1.5 2.1zm0-.8c.4 0 .7-.5.7-1.2s-.2-1.2-.7-1.2-.7.5-.7 1.2.3 1.2.7 1.2z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.shipping != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M36.7 31.1l-2.8-1.3-4.7-9.1 7.5-3.5c.4-.2.6-.6.4-1s-.6-.5-1-.4l-7.5 3.5-7.8-15c-.3-.5-1.1-.5-1.4 0l-7.8 15L4 15.9c-.4-.2-.8 0-1 .4s0 .8.4 1l7.5 3.5-4.7 9.1-2.8 1.3c-.4.2-.6.6-.4 1 .1.3.4.4.7.4.1 0 .2 0 .3-.1l1-.4-1.5 2.8c-.1.2-.1.5 0 .8.1.2.4.3.7.3h31.7c.3 0 .5-.1.7-.4.1-.2.1-.5 0-.8L35.1 32l1 .4c.1 0 .2.1.3.1.3 0 .6-.2.7-.4.1-.3 0-.8-.4-1zm-5.1-2.3l-9.8-4.6 6-2.8 3.8 7.4zM20 6.4L27.1 20 20 23.3 12.9 20 20 6.4zm-7.8 15l6 2.8-9.8 4.6 3.8-7.4zm22.4 13.1H5.4L7.2 31 20 25l12.8 6 1.8 3.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.box != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M5.9 5.9v28.2h28.2V5.9H5.9zM19.1 20l-8.3 8.3c-2-2.2-3.2-5.1-3.2-8.3s1.2-6.1 3.2-8.3l8.3 8.3zm-7.4-9.3c2.2-2 5.1-3.2 8.3-3.2s6.1 1.2 8.3 3.2L20 19.1l-8.3-8.4zM20 20.9l8.3 8.3c-2.2 2-5.1 3.2-8.3 3.2s-6.1-1.2-8.3-3.2l8.3-8.3zm.9-.9l8.3-8.3c2 2.2 3.2 5.1 3.2 8.3s-1.2 6.1-3.2 8.3L20.9 20zm8.4-10.2c-1.2-1.1-2.6-2-4.1-2.6h6.6l-2.5 2.6zm-18.6 0L8.2 7.2h6.6c-1.5.6-2.9 1.5-4.1 2.6zm-.9.9c-1.1 1.2-2 2.6-2.6 4.1V8.2l2.6 2.5zM7.2 25.2c.6 1.5 1.5 2.9 2.6 4.1l-2.6 2.6v-6.7zm3.5 5c1.2 1.1 2.6 2 4.1 2.6H8.2l2.5-2.6zm18.6 0l2.6 2.6h-6.6c1.4-.6 2.8-1.5 4-2.6zm.9-.9c1.1-1.2 2-2.6 2.6-4.1v6.6l-2.6-2.5zm2.6-14.5c-.6-1.5-1.5-2.9-2.6-4.1l2.6-2.6v6.7z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.cart != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M35.1 33.6L33.2 6.2c0-.4-.3-.7-.7-.7H13.9c-.4 0-.7.3-.7.7s.3.7.7.7h18l.7 10.5H20.8c-8.8.2-15.9 7.5-15.9 16.4 0 .4.3.7.7.7h28.9c.2 0 .4-.1.5-.2s.2-.3.2-.5v-.2h-.1zm-28.8-.5C6.7 25.3 13 19 20.8 18.9h11.9l1 14.2H6.3zm11.2-6.8c0 1.2-1 2.1-2.1 2.1s-2.1-1-2.1-2.1 1-2.1 2.1-2.1 2.1 1 2.1 2.1zm6.3 0c0 1.2-1 2.1-2.1 2.1-1.2 0-2.1-1-2.1-2.1s1-2.1 2.1-2.1 2.1 1 2.1 2.1z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.circle != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M20 33.8c7.6 0 13.8-6.2 13.8-13.8S27.6 6.2 20 6.2 6.2 12.4 6.2 20 12.4 33.8 20 33.8zm0-26.3c6.9 0 12.5 5.6 12.5 12.5S26.9 32.5 20 32.5 7.5 26.9 7.5 20 13.1 7.5 20 7.5zm-.4 15h.5c1.8 0 3-1.1 3-3.7 0-2.2-1.1-3.6-3.1-3.6h-2.6v10.6h2.2v-3.3zm0-5.2h.4c.6 0 .9.5.9 1.7 0 1.1-.3 1.7-.9 1.7h-.4v-3.4z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.settings != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M30.2 29.3c2.2-2.5 3.6-5.7 3.6-9.3s-1.4-6.8-3.6-9.3l3.6-3.6c.3-.3.3-.7 0-.9-.3-.3-.7-.3-.9 0l-3.6 3.6c-2.5-2.2-5.7-3.6-9.3-3.6s-6.8 1.4-9.3 3.6L7.1 6.2c-.3-.3-.7-.3-.9 0-.3.3-.3.7 0 .9l3.6 3.6c-2.2 2.5-3.6 5.7-3.6 9.3s1.4 6.8 3.6 9.3l-3.6 3.6c-.3.3-.3.7 0 .9.1.1.3.2.5.2s.3-.1.5-.2l3.6-3.6c2.5 2.2 5.7 3.6 9.3 3.6s6.8-1.4 9.3-3.6l3.6 3.6c.1.1.3.2.5.2s.3-.1.5-.2c.3-.3.3-.7 0-.9l-3.8-3.6z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                      {%- if product.metafields.return_policies.square != blank -%}
                        <li>
                          <svg viewBox="0 0 40 40" width="35px" height="35px" color="#222">
                            <path fill="currentColor" d="M34.1 34.1H5.9V5.9h28.2v28.2zM7.2 32.8h25.6V7.2H7.2v25.6zm13.5-18.3a.68.68 0 0 0-.7-.7.68.68 0 0 0-.7.7v10.9a.68.68 0 0 0 .7.7.68.68 0 0 0 .7-.7V14.5z"></path>
                          </svg>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'additional_info' -%}
                <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions wd-vertical-addInformation" id="additional_info-{{ block.id }}" role="tabpanel">
                  <table class="tb-info-product text-md">
                    <tbody>
                      {%- if block.settings.material != blank -%}
                        <tr class="tb-attr-item">
                          <th class="tb-attr-label">Material</th>
                          <td class="tb-attr-value">
                            <p>{{ block.settings.material }}</p>
                          </td>
                        </tr>
                      {%- endif -%}
                      {%- if block.settings.color != blank -%}
                        <tr class="tb-attr-item">
                          <th class="tb-attr-label">Color</th>
                          <td class="tb-attr-value">
                            <p>{{ block.settings.color }}</p>
                          </td>
                        </tr>
                      {%- endif -%}
                      {%- if block.settings.brand != blank -%}
                        <tr class="tb-attr-item">
                          <th class="tb-attr-label">Brand</th>
                          <td class="tb-attr-value">
                            <p>{{ block.settings.brand }}</p>
                          </td>
                        </tr>
                      {%- endif -%}
                      {%- if block.settings.size != blank -%}
                        <tr class="tb-attr-item">
                          <th class="tb-attr-label">Size</th>
                          <td class="tb-attr-value">
                            <p>{{ block.settings.size }}</p>
                          </td>
                        </tr>
                      {%- endif -%}
                    </tbody>
                  </table>
                </div>

              {%- when 'reviews' -%}
                <div class="tab-pane{% if forloop.first %} active show{% endif %} wd-product-descriptions wd-vertical-review" id="reviews-{{ block.id }}" role="tabpanel">
                  <div class="wd-customer-review">
                    <div class="review-heading">
                      <h6 class="title">Customer review</h6>
                      <div class="box-rate-review">
                        <div class="rating-summary">
                          <ul class="list-star">
                            {%- for i in (1..5) -%}
                              <li><i class="icon icon-star"></i></li>
                            {%- endfor -%}
                            <li><span class="count-star text-md">({{ block.settings.review_count }})</span></li>
                          </ul>
                          <span class="text-md rating-average">{{ block.settings.rating_average }}/5.0</span>
                        </div>
                        <div class="rating-breakdown">
                          {%- for i in (1..5) -%}
                            {%- assign rating_key = 'rating_' | append: i -%}
                            {%- assign rating_count_key = 'rating_count_' | append: i -%}
                            <div class="rating-breakdown-item">
                              <div class="rating-score">
                                {{ 6 | minus: i }} <i class="icon icon-star"></i>
                              </div>
                              <div class="rating-bar">
                                <div class="value" style="width: {{ block.settings[rating_key] }}%;"></div>
                              </div>
                              <span class="rating-count">{{ block.settings[rating_count_key] }}</span>
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                      <button class="tf-btn btn-dark2 animate-btn">Write a review</button>
                    </div>
                    <div class="review-section">
                      <ul class="review-list">
                        {%- for review in block.settings.reviews -%}
                          <li class="review-item">
                            <div class="review-avt">
                              <img src="{{ review.avatar | asset_url }}" alt="{{ review.author }}" width="50" height="50">
                            </div>
                            <div class="review-content">
                              <div class="review-info">
                                <div class="review-meta">
                                  <span class="review-author fw-medium text-md">{{ review.author }}</span>
                                  <span class="review-date text-sm">{{ review.date }}</span>
                                </div>
                                <div class="list-star star-{{ review.rating }}">
                                  {%- for i in (1..5) -%}
                                    <i class="icon icon-star"></i>
                                  {%- endfor -%}
                                </div>
                              </div>
                              <p class="text text-sm text-main-4">{{ review.content }}</p>
                            </div>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <form action="#" class="form-review">
                        <h6 class="title">Write a review</h6>
                        <p class="note text-md text-main-4">Your email address will not be published. Required fields are marked *</p>
                        <div class="box-rating">
                          <span class="text-md">Your rating *</span>
                          <div class="list-rating-check">
                            {%- for i in (1..5) -%}
                              <input type="radio" id="star{{ 6 | minus: i }}" name="rate" value="{{ 6 | minus: i }}">
                              <label for="star{{ 6 | minus: i }}" title="text"></label>
                            {%- endfor -%}
                          </div>
                        </div>
                        <div class="group-2-ip">
                          <input type="text" class="" placeholder="Name *">
                          <input type="email" class="" placeholder="Email *">
                        </div>
                        <textarea name="note" id="note" placeholder="Your review *"></textarea>
                        <div class="check-save">
                          <input type="checkbox" class="tf-check" id="checksave">
                          <label for="checksave" class="label text-md">{{ 'sections.product_details.save_info' | t }}</label>
                        </div>
                        <button type="submit" class="tf-btn animate-btn">{{ 'sections.product_details.submit' | t }}</button>
                      </form>
                    </div>
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {% if section.settings.width == 'boxed' %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Product Details",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "accordion",
          "label": "Accordion"
        },
        {
          "value": "vertical",
          "label": "Vertical Tabs"
        },
        {
          "value": "horizontal",
          "label": "Horizontal Tabs"
        }
      ],
      "default": "accordion"
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Descriptions"
        }
      ]
    },
    {
      "type": "materials",
      "name": "Materials",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Materials"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Materials Care"
        }
      ]
    },
    {
      "type": "return_policies",
      "name": "Return Policies",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Return Policies"
        }
      ]
    },
    {
      "type": "additional_info",
      "name": "Additional Information",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Additional Information"
        },
        {
          "type": "text",
          "id": "material",
          "label": "Material"
        },
        {
          "type": "text",
          "id": "color",
          "label": "Color"
        },
        {
          "type": "text",
          "id": "brand",
          "label": "Brand"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Size"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Reviews"
        },
        {
          "type": "text",
          "id": "review_count",
          "label": "Review Count",
          "default": "3"
        },
        {
          "type": "text",
          "id": "rating_average",
          "label": "Rating Average",
          "default": "4.5"
        },
        {
          "type": "range",
          "id": "rating_5",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "5 Star Rating",
          "default": 100
        },
        {
          "type": "range",
          "id": "rating_4",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "4 Star Rating",
          "default": 50
        },
        {
          "type": "range",
          "id": "rating_3",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "3 Star Rating",
          "default": 0
        },
        {
          "type": "range",
          "id": "rating_2",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "2 Star Rating",
          "default": 0
        },
        {
          "type": "range",
          "id": "rating_1",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "1 Star Rating",
          "default": 0
        },
        {
          "type": "text",
          "id": "rating_count_5",
          "label": "5 Star Count",
          "default": "10"
        },
        {
          "type": "text",
          "id": "rating_count_4",
          "label": "4 Star Count",
          "default": "5"
        },
        {
          "type": "text",
          "id": "rating_count_3",
          "label": "3 Star Count",
          "default": "3"
        },
        {
          "type": "text",
          "id": "rating_count_2",
          "label": "2 Star Count",
          "default": "3"
        },
        {
          "type": "text",
          "id": "rating_count_1",
          "label": "1 Star Count",
          "default": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Details",
      "category": "Product Page",
      "blocks": [
        {
          "type": "description"
        },
        {
          "type": "materials"
        },
        {
          "type": "return_policies"
        },
        {
          "type": "additional_info"
        },
        {
          "type": "reviews"
        }
      ]
    }
  ]
}
{% endschema %}