{%- comment -%}Search Drawer Section{%- endcomment -%}
<div class="offcanvas offcanvas-top offcanvas-search" id="search">
  <div class="offcanvas-content">
    <div class="header">
      <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="looking-for-wrap">
            <div class="heading">What are you looking for?</div>
            <form action="{{ routes.search_url }}" method="get" class="form-search">
              <fieldset class="text">
                <input type="search" name="q" placeholder="Search" class="" tabindex="0" value="{{ search.terms | escape }}" aria-required="true" required>
              </fieldset>
              <button type="submit">
                <i class="icon icon-search"></i>
              </button>
            </form>
            <div class="popular-searches justify-content-md-center">
              {% if settings.show_popular_searches %}
                <div class="text fw-medium">Popular searches:</div>
                <ul>
                  <li><a class="link" href="{{ routes.collections_url }}?sort_by=best-selling">Featured</a></li>
                  <li><a class="link" href="{{ routes.collections_url }}?sort_by=created-descending">Trendy</a></li>
                  <li><a class="link" href="{{ routes.collections_url }}?sort_by=created-descending">New</a></li>
                  <li><a class="link" href="{{ routes.collections_url }}?sort_by=price-descending&filter.v.option.price=on_sale">Sale</a></li>
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          {% if settings.show_search_suggestions %}
            <div class="featured-product">
              <div class="text-xl-2 fw-medium featured-product-heading">Featured product</div>
              <div dir="ltr" class="swiper tf-swiper wrap-sw-over" data-swiper='{
                "slidesPerView": 2,
                "spaceBetween": 12,
                "speed": 1000,
                "observer": true,
                "observeParents": true,
                "slidesPerGroup": 2,
                "pagination": { "el": ".sw-pagination-search", "clickable": true },
                "breakpoints": {
                  "768": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
                  "1200": { "slidesPerView": 4, "spaceBetween": 24, "slidesPerGroup": 4}
                }
              }'>
                <div class="swiper-wrapper">
                  {%- for product in section.settings.suggested_products limit: 4 -%}
                    <div class="swiper-slide">
                      {% render 'card-product', product: product, style: 'style-3' %}
                    </div>
                  {%- endfor -%}
                </div>
                <div class="d-flex d-xl-none sw-dot-default sw-pagination-search justify-content-center"></div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Search Drawer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "What are you looking for?"
    },
    {
      "type": "product_list",
      "id": "suggested_products",
      "label": "Products suggest",
      "limit": 4
    }
  ]
}
{% endschema %}