{%- comment -%}Search Page Section{%- endcomment -%}
<section class="tf-page-title" {% if section.settings.background_image != blank %}style="background-image: url('{{ section.settings.background_image | image_url }}');"{% endif %}>
  <div class="container">
    <div class="box-title text-center">
      <h4 class="title">{{ 'general.search.results_with_count' | t: count: search.results_count, terms: search.terms }}</h4>
      <div class="breadcrumb-list">
        <a style="font-size: 14px;" class="breadcrumb-item" href="/">{{ 'general.breadcrumbs.home' | t }}</a>
        <div class="breadcrumb-item dot"><span></span></div>
        <span style="font-size: 14px;" class="breadcrumb-item current">{{ 'templates.search.title' | t }}</span> <br>
      </div>
    </div>
  </div>
</section>

<section class="flat-spacing-24">
  <div class="container">
  {% if search.results_count > 0 %}
    <div class="tf-shop-control">
      <div class="tf-group-filter">
        <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
          <div class="btn-select">
            {%- assign sort_by = search.sort_by | default: 'best-selling' -%}
            <span class="text-sort-value">
              {%- case sort_by -%}
                {%- when 'best-selling' -%}
                  {{ 'collections.sorting.best_selling' | t }}
                {%- when 'title-ascending' -%}
                  {{ 'collections.sorting.az' | t }}
                {%- when 'title-descending' -%}
                  {{ 'collections.sorting.za' | t }}
                {%- when 'price-ascending' -%}
                  {{ 'collections.sorting.price_ascending' | t }}
                {%- when 'price-descending' -%}
                  {{ 'collections.sorting.price_descending' | t }}
                {%- else -%}
                  {{ sort_by | replace: '-', ' ' | capitalize }}
              {%- endcase -%}
            </span>
            <span class="icon icon-arr-down"></span>
          </div>
          <div class="dropdown-menu">
            <div class="select-item{% if search.sort_by == 'best-selling' or search.sort_by == nil %} active{% endif %}" data-sort-value="best-selling">
              <span class="text-value-item">{{ 'collections.sorting.best_selling' | t }}</span>
            </div>
            <div class="select-item{% if search.sort_by == 'title-ascending' %} active{% endif %}" data-sort-value="title-ascending">
              <span class="text-value-item">{{ 'collections.sorting.az' | t }}</span>
            </div>
            <div class="select-item{% if search.sort_by == 'title-descending' %} active{% endif %}" data-sort-value="title-descending">
              <span class="text-value-item">{{ 'collections.sorting.za' | t }}</span>
            </div>
            <div class="select-item{% if search.sort_by == 'price-ascending' %} active{% endif %}" data-sort-value="price-ascending">
              <span class="text-value-item">{{ 'collections.sorting.price_ascending' | t }}</span>
            </div>
            <div class="select-item{% if search.sort_by == 'price-descending' %} active{% endif %}" data-sort-value="price-descending">
              <span class="text-value-item">{{ 'collections.sorting.price_descending' | t }}</span>
            </div>
          </div>
        </div>
      </div>

      <ul class="tf-control-layout">
        {% comment %} <li class="tf-view-layout-switch sw-layout-list list-layout" data-value-layout="list">
          <div class="item icon-list">
            <span></span>
            <span></span>
          </div>
        </li> {% endcomment %}
        <li class="tf-view-layout-switch sw-layout-2" data-value-layout="tf-col-2">
          <div class="item icon-grid-2">
            <span></span>
            <span></span>
          </div>
        </li>
        <li class="tf-view-layout-switch sw-layout-3" data-value-layout="tf-col-3">
          <div class="item icon-grid-3">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
        <li class="tf-view-layout-switch sw-layout-4 active" data-value-layout="tf-col-4">
          <div class="item icon-grid-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </li>
      </ul>
    </div>

    <!-- Filter Section -->
    <div class="tf-filter-dropdown">
      <span class="title-filter">{{ 'products.facets.filter_button' | t }}:</span>
      <div class="meta-dropdown-filter">
        <div class="dropdown dropdown-filter">
          <div class="dropdown-toggle" id="availability" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span class="text-value">{{ 'products.facets.availability' | t }}</span>
            <span class="icon icon-arr-down"></span>
          </div>
          <div class="dropdown-menu" aria-labelledby="availability">
            <ul class="filter-group-check">
              <li class="list-item">
                <input type="radio" name="availability" class="tf-check" id="inStock">
                <label for="inStock" class="label"><span>{{ 'products.facets.in_stock' | t }}</span>&nbsp;<span class="count">({{ search.results | where: "available", true | size }})</span></label>
              </li>
              <li class="list-item">
                <input type="radio" name="availability" class="tf-check" id="outStock">
                <label for="outStock" class="label"><span>{{ 'products.facets.out_of_stock' | t }}</span>&nbsp;<span class="count">({{ search.results | where: "available", false | size }})</span></label>
              </li>
            </ul>
          </div>
        </div>

        <div class="dropdown dropdown-filter">
          <div class="dropdown-toggle" id="price" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span class="text-value">{{ 'products.facets.price_label' | t }}</span>
            <span class="icon icon-arr-down"></span>
          </div>
          <div class="dropdown-menu" aria-labelledby="price">
            <div class="widget-price filter-price">
              <div class="price-val-range" id="price-value-range" data-min="0" data-max="500"></div>
              <div class="box-value-price">
                <span class="text-sm">{{ 'sections.main-collection-product-grid.price_range_label' | t }}:</span>
                <div class="price-box">
                  <div class="price-val" id="price-min-value" data-currency="$"></div>
                  <span>-</span>
                  <div class="price-val" id="price-max-value" data-currency="$"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% assign vendors = search.results | map: 'vendor' | uniq %}
        {% assign has_vendors = false %}
        {% for vendor in vendors %}
          {% if vendor != blank %}
            {% assign has_vendors = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        
        {% if has_vendors %}
          <div class="dropdown dropdown-filter">
            <div class="dropdown-toggle" id="brand" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <span class="text-value">{{ 'products.facets.brand_label' | t }}</span>
              <span class="icon icon-arr-down"></span>
            </div>
            <div class="dropdown-menu" aria-labelledby="brand">
              <ul class="filter-group-check">
                {% for vendor in vendors %}
                  {% if vendor != blank %}
                    <li class="list-item">
                      <input type="radio" name="brand" class="tf-check" id="{{ vendor | handle }}">
                      <label for="{{ vendor | handle }}" class="label">
                        <span>{{ vendor }}</span>&nbsp;
                        <span class="count">({{ search.results | where: "vendor", vendor | size }})</span>
                      </label>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% paginate search.results by section.settings.products_per_page %}
      <div class="wrapper-control-shop">
        <div class="meta-filter-shop" style="display: {% if current_tags.size > 0 or request.search != blank %}flex{% else %}none{% endif %};">
          <div id="product-count-grid" class="count-text"><span class="count">{{ search.results_count }}</span> {{ 'sections.search_page.products_found' | t }}</div>
          <div id="product-count-list" class="count-text"><span class="count">{{ search.results_count }}</span> {{ 'sections.search_page.products_found' | t }}</div>
          <div id="applied-filters">
            {% if current_tags.size > 0 %}
              {% for tag in current_tags %}
                <span class="filter-tag">{{ tag }} <i class="icon icon-close"></i></span>
              {% endfor %}
            {% endif %}
          </div>
          {% if current_tags.size > 0 %}
            <button id="remove-all" class="remove-all-filters"><i class="icon icon-close"></i> {{ 'products.facets.clear_all' | t }}</button>
          {% endif %}
        </div>

        <!-- List View Layout -->
        <div class="tf-list-layout wrapper-shop" id="listLayout" style="display: none;">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              <div class="loadItem card-product style-list" data-availability="{{ item.available | default: 'In stock' }}" data-brand="{{ item.vendor }}">
                {% render 'card-product', product: item, show_color_swatches: true, show_size_swatches: true, show_case_type: true, size_swatches: true %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Grid View Layout -->
        <div class="wrapper-shop tf-grid-layout tf-col-4" id="gridLayout">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              <div class="loadItem card-product grid style-1{% if item.options contains 'Size' %} card-product-size{% endif %}" 
                   data-availability="{{ item.available | default: 'In stock' }}" 
                   data-brand="{{ item.vendor }}">
                {% render 'card-product', product: item %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Pagination - Centered at bottom of page -->
      {% if paginate.pages > 1 %}
        <div class="pagination-wrapper text-center mt-3" style="display: flex; justify-content: center; width: 100%; margin-top: 40px;">
          <ul class="wg-pagination">
            {% if paginate.previous %}
              <li>
                <a href="{{ paginate.previous.url }}{% if request.query_string != blank %}&{{ request.query_string | replace: 'page=', '' | replace: '&page=', '' }}{% endif %}" class="pagination-item">
                  <i class="icon-arr-left"></i>
                </a>
              </li>
            {% endif %}
            
            {% for part in paginate.parts %}
              {% if part.is_link %}
                <li>
                  <a href="{{ part.url }}{% if request.query_string != blank %}&{{ request.query_string | replace: 'page=', '' | replace: '&page=', '' }}{% endif %}" class="pagination-item">{{ part.title }}</a>
                </li>
              {% else %}
                <li class="{% if part.title == paginate.current_page %}active{% endif %}">
                  <div class="pagination-item">{{ part.title }}</div>
                </li>
              {% endif %}
            {% endfor %}

            {% if paginate.next %}
              <li>
                <a href="{{ paginate.next.url }}{% if request.query_string != blank %}&{{ request.query_string | replace: 'page=', '' | replace: '&page=', '' }}{% endif %}" class="pagination-item">
                  <i class="icon-arr-right2"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endpaginate %}
  {% else %}
    <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
  {% endif %}
</div>
</section>

{%- comment -%}Recently Viewed Section for Search Page{%- endcomment -%}
{%- comment -%}Include the recently viewed tracking script{%- endcomment -%}
{% render 'recently-viewed-tracking' %}

<section class="flat-spacing pt-0" id="search-recently-viewed-section" style="display: none;">
  <div class="container">
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ 'sections.search_page.recently_viewed_products' | t }}</h4>
    </div>
    <div class="hover-sw-nav hover-sw-2 wow wrap-pos-nav sw-over-product fadeInUp">
      <div dir="ltr" class="swiper tf-swiper wrap-sw-over" data-swiper='{
        "slidesPerView": 2,
        "spaceBetween": 12,
        "speed": 800,
        "observer": true,
        "observeParents": true,
        "slidesPerGroup": 2,
        "navigation": {
          "clickable": true,
          "nextEl": ".nav-next-search-viewed",
          "prevEl": ".nav-prev-search-viewed"
        },
        "pagination": { "el": ".sw-pagination-search-viewed", "clickable": true },
        "breakpoints": {
          "768": { 
            "slidesPerView": 3, 
            "spaceBetween": 12, 
            "slidesPerGroup": 3
          },
          "1200": { 
            "slidesPerView": 4, 
            "spaceBetween": 12, 
            "slidesPerGroup": 4
          }
        }
      }'>
        <div class="swiper-wrapper" id="search-recently-viewed-products">
          <!-- Products will be populated by JavaScript -->
        </div>
        <div class="d-flex d-xl-none sw-dot-default sw-pagination-search-viewed justify-content-center"></div>
      </div>
      <div class="d-none d-xl-flex swiper-button-next nav-swiper nav-next-search-viewed"></div>
      <div class="d-none d-xl-flex swiper-button-prev nav-swiper nav-prev-search-viewed"></div>
    </div>
  </div>
</section>

<!-- Translation data for JavaScript -->
<script id="search-page-translations" type="application/json">
  {
    "addToCart": "{{ 'sections.search_page.add_to_cart' | t }}",
    "addToWishlist": "{{ 'sections.search_page.add_to_wishlist' | t }}",
    "quickView": "{{ 'sections.search_page.quick_view' | t }}",
    "addToCompare": "{{ 'sections.search_page.add_to_compare' | t }}",
    "off": "{{ 'sections.search_page.off' | t }}",
    "sortBestSelling": "{{ 'sections.search_page.sort_best_selling' | t }}",
    "sortAZ": "{{ 'sections.search_page.sort_az' | t }}",
    "sortZA": "{{ 'sections.search_page.sort_za' | t }}",
    "sortPriceAscending": "{{ 'sections.search_page.sort_price_ascending' | t }}",
    "sortPriceDescending": "{{ 'sections.search_page.sort_price_descending' | t }}",
    "filterButton": "{{ 'sections.search_page.filter_button' | t }}",
    "availability": "{{ 'sections.search_page.availability' | t }}",
    "inStock": "{{ 'sections.search_page.in_stock' | t }}",
    "outOfStock": "{{ 'sections.search_page.out_of_stock' | t }}",
    "priceLabel": "{{ 'sections.search_page.price_label' | t }}",
    "priceRangeLabel": "{{ 'sections.search_page.price_range_label' | t }}",
    "brandLabel": "{{ 'sections.search_page.brand_label' | t }}",
    "clearAll": "{{ 'sections.search_page.clear_all' | t }}",
    "loading": "{{ 'sections.search_page.loading' | t }}",
    "errorUpdatingProducts": "{{ 'sections.search_page.error_updating_products' | t }}",
    "errorFetchingProduct": "{{ 'sections.search_page.error_fetching_product' | t }}",
    "recentlyViewedManagerUnavailable": "{{ 'sections.search_page.recently_viewed_manager_unavailable' | t }}",
    "productCardUnavailable": "{{ 'sections.search_page.product_card_unavailable' | t }}",
    "errorInitializingProductCard": "{{ 'sections.search_page.error_initializing_product_card' | t }}",
    "failedParseTranslations": "{{ 'sections.search_page.failed_parse_translations' | t }}",
    "triggeringAlphabeticalSorting": "{{ 'sections.search_page.triggering_alphabetical_sorting' | t }}"
  }
</script>

<!-- Include the search page JavaScript -->
<script src="{{ 'search-page.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Search Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "Background image for the search page banner"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 1,
      "max": 24,
      "default": 12
    }
  ]
}
{% endschema %} 