{%- comment -%}Shop by @Gram Section{%- endcomment -%}
<section class="flat-spacing-4 pt-0">
  <div class="container">
    <div class="flat-title wow fadeInUp">
      <h4 class="title">{{ section.settings.title }}</h4>
    </div>
    <div dir="ltr" class="swiper tf-swiper" data-swiper='{
      "slidesPerView": 2,
      "spaceBetween": 10,
      "speed": 800,
      "observer": true,
      "observeParents": true,
      "slidesPerGroup": 2,
      "pagination": { "el": ".sw-pagination-gallery", "clickable": true },
      "breakpoints": {
        "768": { "slidesPerView": 3},
        "1200": { "slidesPerView": 5}
      }
    }'>
      <div class="swiper-wrapper" id="instafeed">
        <!-- Instagram feed will be loaded here by Instafeed.js -->
      </div>
      <span class="d-flex d-xl-none sw-dot-default sw-pagination-gallery justify-content-center"></span>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize Instafeed
    var feed = new Instafeed({
      get: 'user',
      userId: '{{ shop.metafields.instafeed.user_id }}',
      accessToken: '{{ shop.metafields.instafeed.access_token }}',
      limit: 5,
      resolution: 'standard_resolution',
      template: '<div class="swiper-slide"><div class="gallery-item hover-img hover-overlay wow fadeInLeft"><div class="image img-style"><img src="{{image}}" alt="Instagram post"></div><a href="{{link}}" target="_blank" class="box-icon hover-tooltip"><span class="icon icon-cart2"></span><span class="tooltip">View on Instagram</span></a></div></div>',
      target: 'instafeed',
      after: function() {
        // Reinitialize Swiper after Instagram feed is loaded
        var swiper = new Swiper('.tf-swiper', {
          slidesPerView: 2,
          spaceBetween: 10,
          speed: 800,
          observer: true,
          observeParents: true,
          slidesPerGroup: 2,
          pagination: {
            el: '.sw-pagination-gallery',
            clickable: true
          },
          breakpoints: {
            768: {
              slidesPerView: 3
            },
            1200: {
              slidesPerView: 5
            }
          }
        });
      }
    });
    feed.run();
  });
</script>

{% schema %}
{
  "name": "Shop by @Gram",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by @Gram"
    }
  ],
  "presets": [
    {
      "name": "Shop by @Gram"
    }
  ]
}
{% endschema %}