<!-- Collection Display -->
<div class="flat-spacing-3">
  <div class="container">
    <div class="wrapper-thumbs-tes-2 flat-thumbs-tes">
      <div class="box-left">
        <div dir="ltr" class="swiper tf-tes-main" data-space-lg="24" data-space="12">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% assign collection = collections[block.settings.collection] %}
              {% if collection != blank %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div class="box-testimonial-main wow fadeInLeft">
                    <div class="content">
                      <div class="title-review">{{ block.settings.title | default: collection.title }}</div>
                      <p class="text-review display-xs">{{ block.settings.description | default: collection.description }}</p>
                      <div class="box-btn">
                        <a href="{{ collection.url }}" class="tf-btn animate-btn btn-dark2">
                          {{ block.settings.button_text | default: "Shop Collection" }}
                          <i class="icon-arr-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="box-nav-swiper">
            <div class="swiper-button-prev nav-swiper size-30 style-line nav-prev-tes"></div>
            <div class="swiper-button-next nav-swiper size-30 style-line nav-next-tes"></div>
          </div>
        </div>
      </div>
      <div class="box-right">
        <div dir="ltr" class="swiper tf-thumb-tes" data-space-lg="24" data-space="12">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% assign collection = collections[block.settings.collection] %}
              {% if collection != blank %}
                <div class="swiper-slide hover-img">
                  <div class="img-sw-thumb img-style">
                    {% if block.settings.image != blank %}
                      {{ block.settings.image | image_url: width: 400 | image_tag:
                        loading: 'lazy',
                        class: 'lazyload',
                        alt: block.settings.title | default: collection.title
                      }}
                    {% elsif collection.featured_image != blank %}
                      {{ collection.featured_image | image_url: width: 400 | image_tag:
                        loading: 'lazy',
                        class: 'lazyload',
                        alt: block.settings.title | default: collection.title
                      }}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Collection Display -->

{% schema %}
{
  "name": "Collection Display",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "collection_display",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Custom Title",
          "info": "Leave blank to use collection title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Custom Description",
          "info": "Leave blank to use collection description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image",
          "info": "Leave blank to use collection featured image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Display",
      "blocks": [
        {
          "type": "collection_display",
          "settings": {
            "collection": "women-clothes",
            "title": "Women's Clothing",
            "button_text": "Shop Now"
          }
        },
        {
          "type": "collection_display",
          "settings": {
            "collection": "women-accessories",
            "title": "Women's Accessories",
            "button_text": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %} 