{%- if section.settings.show_section -%}
  <section class="flat-spacing-8 bg-surface">
    <div class="container">
      <div class="flat-title style-between align-items-end wow fadeInUp">
        <div class="box-title">
          <h4 class="title">{{ section.settings.title }}</h4>
          <p class="desc text-main text-md">{{ section.settings.description }}</p>
        </div>
        <a href="{{ section.settings.view_all_link }}" class="btn-underline">{{ section.settings.view_all_text }}</a>
      </div>
      <div class="fl-control-sw">
        <div dir="ltr" class="sw-height swiper tf-swiper" data-swiper='{
          "slidesPerView": 2,
          "spaceBetween": 12,
          "speed": 800,
          "observer": true,
          "observeParents": true,
          "slidesPerGroup": 2,
          "navigation": {
            "clickable": true,
            "nextEl": ".nav-next-top-pick",
            "prevEl": ".nav-prev-top-pick"
          },
          "pagination": { "el": ".sw-pagination-top-pick", "clickable": true },
          "breakpoints": {
            "768": { "slidesPerView": 3, "spaceBetween": 12, "slidesPerGroup": 3 },
            "1200": { "slidesPerView": 4, "spaceBetween": 24, "slidesPerGroup": 4 }
          }
        }'>
          <div class="swiper-wrapper wow fadeInUp">
            {%- for block in section.blocks -%}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                {% render 'card-product', product: block.settings.product %}
              </div>
            {%- endfor -%}
          </div>
          <div class="d-flex d-xl-none sw-dot-default sw-pagination-top-pick justify-content-center"></div>
        </div>
        <div class="swiper-button-next d-none d-xl-flex nav-swiper nav-next-top-pick"></div>
        <div class="swiper-button-prev d-none d-xl-flex nav-swiper nav-prev-top-pick"></div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Top Picks",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Top Picks You'll Love"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Discover our most popular products that customers can't get enough of"
    },
    {
      "type": "text",
      "id": "view_all_text",
      "label": "View All Text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "view_all_link",
      "label": "View All Link"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Picks",
      "settings": {
        "show_section": true,
        "title": "Top Picks You'll Love",
        "description": "Discover our most popular products that customers can't get enough of",
        "view_all_text": "View all"
      },
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}