{%- comment -%}Top Bar Section{%- endcomment -%}
<div class="tf-topbar bg-dark-5 topbar-bg">
  <div class="container">
    <div class="topbar-wraper">
      {%- if section.settings.show_social_icons -%}
        <div class="d-none d-xl-block flex-shrink-0">
          <ul class="tf-social-icon topbar-left">
            {%- if section.settings.facebook_url != blank -%}
              <li><a href="{{ section.settings.facebook_url }}" class="social-item social-facebook"><i class="icon icon-fb"></i></a></li>
            {%- endif -%}
            {%- if section.settings.instagram_url != blank -%}
              <li><a href="{{ section.settings.instagram_url }}" class="social-item social-instagram"><i class="icon icon-instagram"></i></a></li>
            {%- endif -%}
            {%- if section.settings.twitter_url != blank -%}
              <li><a href="{{ section.settings.twitter_url }}" class="social-item social-x"><i class="icon icon-x"></i></a></li>
            {%- endif -%}
            {%- if section.settings.snapchat_url != blank -%}
              <li><a href="{{ section.settings.snapchat_url }}" class="social-item social-snapchat"><i class="icon icon-snapchat"></i></a></li>
            {%- endif -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if section.settings.show_announcement -%}
        <div class="overflow-hidden">
          <div class="topbar-center marquee-wrapper">
            <div class="initial-child-container">
              {%- for block in section.blocks -%}
                {%- if block.type == 'announcement' -%}
                  <div class="marquee-child-item">
                    <p>{{ block.settings.announcement_text }}</p>
                  </div>
                  {%- unless forloop.last -%}
                    <div class="marquee-child-item"><span class="dot"></span></div>
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
              {%- comment -%}Duplicate announcements for smooth scrolling{%- endcomment -%}
              {%- for block in section.blocks -%}
                {%- if block.type == 'announcement' -%}
                  <div class="marquee-child-item">
                    <p>{{ block.settings.announcement_text }}</p>
                  </div>
                  {%- unless forloop.last -%}
                    <div class="marquee-child-item"><span class="dot"></span></div>
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.show_language_currency -%}
        <div class="d-none d-xl-block flex-shrink-0">
          <div class="topbar-right">
            {%- if section.settings.show_language_selector -%}
              <div class="tf-languages">
                {%- form 'localization' -%}
                  <select name="locale_code" class="image-select center style-default type-languages">
                    {%- for locale in shop.published_locales -%}
                      <option value="{{ locale.iso_code }}" {% if locale.iso_code == request.locale.iso_code %}selected{% endif %}>
                        {{ locale.endonym_name }}
                      </option>
                    {%- endfor -%}
                  </select>
                {%- endform -%}
              </div>
            {%- endif -%}
            {%- if section.settings.show_currency_selector -%}
              <div class="tf-currencies">
                {%- form 'currency' -%}
                  <select name="currency_code" class="image-select center style-default type-currencies">
                    {%- for currency in shop.enabled_currencies -%}
                      <option value="{{ currency.iso_code }}" {% if currency.iso_code == cart.currency.iso_code %}selected{% endif %}>
                        {{ currency.iso_code }} {% if currency.symbol %}{{ currency.symbol }}{% endif %}
                      </option>
                    {%- endfor -%}
                  </select>
                {%- endform -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Top Bar",
  "settings": [
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "twitter_url",
      "label": "Twitter URL"
    },
    {
      "type": "url",
      "id": "snapchat_url",
      "label": "Snapchat URL"
    },
    {
      "type": "header",
      "content": "Announcement"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "header",
      "content": "Language & Currency"
    },
    {
      "type": "checkbox",
      "id": "show_language_currency",
      "label": "Show language and currency",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Announcement text",
          "default": "Announcement text here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Bar",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "announcement_text": "Free shipping on orders over $50"
          }
        },
        {
          "type": "announcement",
          "settings": {
            "announcement_text": "30-day money-back guarantee"
          }
        },
        {
          "type": "announcement",
          "settings": {
            "announcement_text": "Secure payment"
          }
        }
      ]
    }
  ]
}
{% endschema %} 